Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

update
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(toolbar): alignment updates
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/Radio/radio.scss
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Dropdown/deprecated/Dropdown.md
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Radio/radio.scss
  src/patternfly/components/Select/select.scss
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Radio/radio.scss
  src/patternfly/components/Toolbar/examples/Toolbar.css
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(toolbar): updated menu toggle icon
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(toolbar): update menu-toggle, badge
  src/patternfly/components/Badge/badge.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Radio/radio.scss
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(toolbar): update menu-toggle, badge
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(build): fix linting errors
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Dropdown/dropdown.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Toolbar/examples/Toolbar.css
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Dropdown/dropdown.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(toolbar): fixed vertical alignment issue (#5700)
  src/patternfly/components/Badge/badge.scss
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Radio/radio.scss
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(roles): correct roles to match react
  src/patternfly/components/Dropdown/deprecated/Dropdown.md
  src/patternfly/components/Dropdown/dropdown-menu-item.hbs
  src/patternfly/components/Dropdown/dropdown-menu-list-item.hbs
  src/patternfly/components/Dropdown/dropdown-menu.hbs
  src/patternfly/components/LogViewer/templates/__log-viewer-toolbar.hbs
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/Select/__select-single.hbs
Due: none

fix(toolbar): revert alignment of chip/filter layout
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(form-control): fix disabled placeholder color
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(role): added roles to match react
  src/patternfly/components/AppLauncher/app-launcher-menu-item.hbs
  src/patternfly/components/AppLauncher/app-launcher-menu-wrapper.hbs
Due: none

fix(form-control): add colors for options
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(chip): fixed aria label/roles for chip groups
  src/patternfly/components/Chip/chip-group.hbs
  src/patternfly/components/Chip/examples/Chip.md
Due: none

chore(tree-view): added default flag to max nesting var
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(toolbar): revert alignment of chip/filter layout (#5769)
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(chip): removed aria-label true from chip-group-label.hbs
  src/patternfly/components/Chip/chip-group-label.hbs
Due: none

feat(Menu): updated menu actions and markdown a11y table
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/Menu/menu-item-action.hbs
Due: none

feat(Menu): added pf-m-disabled class to block
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Menu): added aria-disabled styling
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/Menu/menu-item.hbs
  src/patternfly/components/Menu/menu-list-item.hbs
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Menu): updated focus styling for disabled items
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

Updated selectors and styling
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Menu): added aria-disabled styling (#5692)
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/Menu/menu-item-action.hbs
  src/patternfly/components/Menu/menu-item.hbs
  src/patternfly/components/Menu/menu-list-item.hbs
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(chip): added chip-group--HasCategoryText to Chip.md
  src/patternfly/components/Chip/examples/Chip.md
Due: none

(docs): update location of and references to docs.
  README.md
  patternfly-docs/patternfly-docs.config.js
  patternfly-docs/site/pages/accessibility-guide.md
  patternfly-docs/site/pages/adding-custom-icons.md
  patternfly-docs/site/pages/contribution.md
  patternfly-docs/site/pages/upgrade-guide.md
Due: eslint --fix

Adds new custom icons file to topNavItems.
  patternfly-docs/patternfly-docs.config.js
Due: eslint --fix

Typo fix.
  README.md
Due: none

Remove trailing space to fix build issue.
  patternfly-docs/patternfly-docs.config.js
Due: eslint --fix
