Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

fix(custom-icons): fix broken link
  README.md
  patternfly-docs/patternfly-docs.config.js
Due: eslint --fix

fix(guidelines): add pseudo element example
  patternfly-docs/site/pages/guidelines.md
Due: none

fix(links): update broken links
  patternfly-docs/site/pages/contribution.md
  patternfly-docs/site/pages/guidelines.md
Due: none

docs(contributing): add a contributing guide (#7585)
  README.md
  patternfly-docs/patternfly-docs.config.js
  patternfly-docs/site/pages/contribution.md
  patternfly-docs/site/pages/guidelines.md
Due: eslint --fix

feat(high-contrast): add class to switch on high-contrast
  src/patternfly/base/patternfly-variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(demo): correct aria attributes on jump links examples
  src/patternfly/components/JumpLinks/examples/JumpLinks.md
Due: none

chore(Progress): updated placement and verbiage for status examples
  src/patternfly/components/Progress/examples/Progress.md
  src/patternfly/components/Progress/progress-bar.hbs
  src/patternfly/components/Progress/progress-helper-text.hbs
Due: none

feat(Page): remove Padding--offset
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Page): add high contrast border (#7718)
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(high-contrast): remove media query
  patternfly-docs/patternfly-docs.config.js
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/tokens-local.scss
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore: updates
  .github/workflows/pr-preview.yml
  yarn.lock
Due: none

chore: merge high-contrast-q3 into main (#7783)
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-highcontrast.scss
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Alert/alert-group.scss
  src/patternfly/components/Badge/badge.scss
  src/patternfly/components/Banner/banner.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/CodeBlock/code-block.scss
  src/patternfly/components/CodeEditor/code-editor.scss
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/DualListSelector/dual-list-selector-item.hbs
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/Label/label.scss
  src/patternfly/components/Login/login.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Panel/panel.scss
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Progress/progress.scss
  src/patternfly/components/SimpleList/simple-list.scss
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/TreeView/tree-view.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): pull latest from figma, update page
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-highcontrast.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(high-contrast): use variable for high-contrast
  patternfly-docs/patternfly-docs.config.js
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/tokens-local.scss
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

fix(Icon): remove extra hidden progress icon from success state
  src/patternfly/components/Icon/examples/Icon.md
Due: none

feat(high-contrast): use variable for high-contrast (#7787)
  patternfly-docs/patternfly-docs.config.js
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/tokens-local.scss
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore(tokens): pull latest from figma, update page (#7784)
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-highcontrast.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  b8/6c68e60decc3c819ad3757668a15c516ff9dc0
Due: none

fix(page): update main border, fix sidebar shadow/border
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(sidebar): add HC border
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(sidebar): add shadow
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(page): adds borders to sticky/shadow sections
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(page): update units, comments
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(Progress): erin feedback
  src/patternfly/components/Progress/examples/Progress.md
Due: none

fix(page): update main border, fix sidebar shadow/border (#7785)
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  25/91dff6653d1998c81b930ec9f9cc9cdfe5e9a0
Due: none

chore(high-contrast): remove temporary local high contrast tokens
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Banner/banner.scss
  src/patternfly/components/CodeBlock/code-block.scss
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/Login/login.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(high-contrast): remove temporary local high contrast tokens (#7791)
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Banner/banner.scss
  src/patternfly/components/CodeBlock/code-block.scss
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/Login/login.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(Progress): missing quotation
  src/patternfly/components/Progress/examples/Progress.md
Due: none

chore(Progress): updated placement and verbiage for status examples (#7777)
  src/patternfly/components/Progress/examples/Progress.md
  src/patternfly/components/Progress/progress-bar.hbs
  src/patternfly/components/Progress/progress-helper-text.hbs
Due: none

fix(date-picker): add HC border to calendar element
  src/patternfly/components/DatePicker/date-picker.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(pagination): add hc borders to sticky elements
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(date-picker): add HC border to calendar element (#7800)
  src/patternfly/components/DatePicker/date-picker.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  c7/4195087b9b1457881eb95c2efa32e7024eb802
Due: none

fix(pagination): add hc borders to sticky elements (#7802)
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  b1/e315483122ab5991bfdad74ee6bdd80c70a6fa
Due: none

fix(calendar-month): add current/range HC borders
  src/patternfly/components/CalendarMonth/calendar-month.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(calendar): disable pointer-events on pseudos
  src/patternfly/components/CalendarMonth/calendar-month.scss
Due: stylelint --fix --config=.stylelintrc_logical
