Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore(card): rewrite selector
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(card): remove selected/disabled from button/link examples
  src/patternfly/components/Card/examples/Card.md
Due: none

chore(card): remove secondary actionable/selected/disabled example
  src/patternfly/components/Card/examples/Card.md
Due: none

fix(content): added editorial styling
  src/patternfly/components/Content/content--element.hbs
  src/patternfly/components/Content/content.hbs
  src/patternfly/components/Content/content.scss
  src/patternfly/components/Content/examples/Content.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): updates plain padding, removes refs to m-button
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(banner): link styling
  src/patternfly/components/Banner/banner.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(timestamp): text change
  src/patternfly/components/Timestamp/timestamp.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(timestamp): fix helper text
  src/patternfly/components/Timestamp/timestamp.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(timestamp): lint issue
  src/patternfly/components/Content/content.scss
  src/patternfly/components/Timestamp/timestamp.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(backstop): update screenshots, urls
  backstop.config.js
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-checkbox-with-label_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-checkbox-with-label_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-checkbox-with-label_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-checkbox-with-toggle-button-text_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-checkbox-with-toggle-button-text_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-checkbox-with-toggle-button-text_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-checkbox_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-checkbox_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-checkbox_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-primary_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-primary_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-primary_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-secondary_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-secondary_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-button-secondary_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-toggle-with-checkbox-and-toggle-text_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-toggle-with-checkbox-and-toggle-text_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-toggle-with-checkbox-and-toggle-text_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-toggle-with-checkbox_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-toggle-with-checkbox_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-toggle-with-checkbox_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-toggle-with-labeled-checkbox_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-toggle-with-labeled-checkbox_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_split-toggle-with-labeled-checkbox_0_document_2_desktop.png
Due: eslint --fix

chore(backstop): add back removed screenshots
  backstop_data/bitmaps_reference/pf-core__components_tabs_html_close-button-example_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-baseline-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-baseline-example_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-baseline-example_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-center-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-center-example_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-center-example_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-stretch-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-stretch-example_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-stretch-example_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_alignment-using-pf-m-align-self-flex-end-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_alignment-using-pf-m-align-self-flex-end-example_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_alignment-using-pf-m-align-self-flex-end-example_0_document_2_desktop.png
Due: none

fix(content): grid update
  src/patternfly/components/Content/content.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update issue templates
  .github/ISSUE_TEMPLATE/PF6_beta_bug_request.md
  .github/ISSUE_TEMPLATE/devX_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/tech_debt_request.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/PF6_beta_bug_request.md
Due: none

feat(Table): add padding except for clickable expandable rows
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(content): added editorial styling (#6952)
  src/patternfly/components/Content/content--element.hbs
  src/patternfly/components/Content/content.hbs
  src/patternfly/components/Content/content.scss
  src/patternfly/components/Content/examples/Content.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(motion): replace old local animation tokens with new motion tokens
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/Form/form.scss
  src/patternfly/components/JumpLinks/jump-links.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(): refine logic to only affect compound expandable tables
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(modal): adjust close button alignment
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): update clickable to use button and anchor
  src/patternfly/components/Card/card--actionable.hbs
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(card): add actionable element aria-labelledby
  src/patternfly/components/Card/card--actionable.hbs
Due: none

chore(card): add clickabale clicked styles, fix actionable focused, fix a11y
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(card): fix current hover/focus style
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): remove unused modifier and old logo from demo
  src/patternfly/assets/images/pfbg-icon.svg
  src/patternfly/demos/Card/examples/Card.md
Due: none

fix(Card/PrimaryDetail): remove instances of old PF logo pf-logo-small.svg
  src/patternfly/assets/images/pf-logo-small.svg
  src/patternfly/components/Card/examples/Card.md
  src/patternfly/demos/Card/card-template-gallery.hbs
  src/patternfly/demos/Card/templates/card-demo--template-gallery.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-view.hbs
Due: none

fix(Card): update old horizontal PF logo
  src/patternfly/assets/images/pf_logo_white.hbs
  src/patternfly/assets/images/pf_logo_white.svg
  src/patternfly/components/Card/examples/Card.md
Due: none

chore(backstop): build list of urls on the fly
  backstop.config.js
Due: eslint --fix

Updated CSS var name/value
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

Updated spacing around status icon
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(TextInputGroup): updated inline padding of icons
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

Added var for status icon padding with utilities
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): update from horizontal image to masthead-image
  src/patternfly/components/Card/examples/Card.md
  src/patternfly/components/Masthead/masthead-image.hbs
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
