Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

fix(hint): remove extra hint actions space (#6708)
  src/patternfly/components/Hint/examples/Hint.md
  src/patternfly/components/Hint/hint.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  4192bc9464ead15e1800cf810563596eef8f213f
Due: none

chore(nav): remove references to pf-m-expandable
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav-item.hbs
  src/patternfly/components/Nav/nav-link.hbs
  src/patternfly/components/Nav/nav-subnav.hbs
Due: none

chore(nav): rename nav-item--expanded to nav-item--IsExpanded
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav-item.hbs
  src/patternfly/components/Nav/nav-link.hbs
  src/patternfly/components/Nav/nav-subnav.hbs
  src/patternfly/components/Nav/templates/nav--drilldown--nav-item-submenu.hbs
  src/patternfly/components/Nav/templates/nav--drilldown-bu.hbs
  src/patternfly/components/Nav/templates/nav--flyout.hbs
  src/patternfly/demos/DataList/data-list-page-nav.hbs
  src/patternfly/demos/Page/page-demo-expandable-nav.hbs
  src/patternfly/demos/Page/page-template-expandable-nav.hbs
Due: none

fix(charts): update strings to tokens
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(tokens): simplify transition variables
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(button): remove extra blank line
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): add back revert rules
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(charts): update strings to tokens (#6728)
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  72f56d9d7bb0d78c80db9032136c3d42671c3719
Due: none

feat(button): add inherited transition property
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(button): combine inherited transition
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(button): clean up unused variables
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(button): add animation for hover and clicked (#6675)
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  6584f8b75cfe44c9c592d89e6ea321ba3f7c9677
Due: none

fix(button): update disabled badge styles (#6616)
  src/patternfly/components/Badge/badge.hbs
  src/patternfly/components/Badge/badge.scss
  src/patternfly/components/Badge/examples/Badge.md
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Button/examples/Button.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(modal): split padding between header & body (#6699)
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(docs): add dark theme visual testing (#6702)
  .gitignore
  backstop.js
  backstop_data/engine_scripts/puppet/addDarkThemeClass.js
  backstop_data/engine_scripts/puppet/onReady.js
  package.json
Due: eslint --fix

Notes added by 'git notes add'
  ceb0aa1a538064c928727d7051792bf07ca6ff78
Due: none

PR feedback
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination-menu-toggle.hbs
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(Pagination): refactored to use MenuToggle instead of OptionsMenu
  src/patternfly/components/Pagination/examples/Pagination.css
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination-menu-toggle.hbs
  src/patternfly/components/Pagination/pagination-options-menu.hbs
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Toolbar/toolbar-item-pagination.hbs
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/DataList/data-list-pagination-footer-static.hbs
  src/patternfly/demos/DataList/data-list-pagination-footer.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-toolbar.hbs
  src/patternfly/demos/Table/table-pagination-footer-static.hbs
  src/patternfly/demos/Table/table-pagination-footer.hbs
  src/patternfly/demos/Toolbar/examples/Toolbar.md
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

Reverted bottom styling
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(Badge/MenuToggle): updated styling (#6543)
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Breadcrumb/examples/Breadcrumb.md
  src/patternfly/components/Menu/templates/menu-breadcrumbs--dropdown.hbs
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  07a1614b10419e1696b43d0baab8c0b4c676479d
Due: none

fix(truncate): updated min-widths to match
  src/patternfly/components/Truncate/examples/Truncate.css
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(charts): renamed cyan to teal, gold to yellow
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(menu-toggle): add transitions
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(menu): add transitions for menu and items in menu
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(nav): remove references to pf-m-expandable (#6727)
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav-item.hbs
  src/patternfly/components/Nav/nav-link.hbs
  src/patternfly/components/Nav/nav-subnav.hbs
  src/patternfly/components/Nav/templates/nav--drilldown--nav-item-submenu.hbs
  src/patternfly/components/Nav/templates/nav--drilldown-bu.hbs
  src/patternfly/components/Nav/templates/nav--flyout.hbs
  src/patternfly/demos/DataList/data-list-page-nav.hbs
  src/patternfly/demos/Page/page-demo-expandable-nav.hbs
  src/patternfly/demos/Page/page-template-expandable-nav.hbs
Due: none

fix(icon): use icon status color tokens
  src/patternfly/components/Icon/icon.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): new rule targeting specific element with bottom border
  src/patternfly/components/Table/table-grid.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(icon): use icon status color tokens (#6743)
  src/patternfly/components/Icon/icon.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  9af3401227ef474334aa3e629f395139e9b1cf0b
Due: none

fix(charts): renamed cyan to teal, gold to yellow (#6735)
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  1f6e12340d166db38e994e5e62de002f3d795f7f
Due: none

fix(MenuToggle): updated border placement on textinputgroup
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.css
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

Removed selectors and vars, updated label padding
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(TextInputGroup): resolved lint error
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(MenuToggle): updated borderradius and filter padding
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

Renamed vars to proper logical names
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
