Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

Update src/patternfly/components/InputGroup/examples/InputGroup.md
  src/patternfly/components/InputGroup/examples/InputGroup.md
Due: none

chore(search-input): typo
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
Due: none

fix(page): add sidebar reduced motion animation
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(page): fixed collapse sidebar animation
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(HamburgerButton): added aria-expanded attr in example (#7561)
  src/patternfly/components/Button/button.hbs
  src/patternfly/components/Button/examples/Button.md
Due: none

fix(page): add sidebar reduced motion animation (#7499)
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(file-upload): add default border, updates hover color
  src/patternfly/components/FileUpload/file-upload.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  8b9db37e02ede235806f409fceeaf2a00f639e95
Due: none

fix(table): rename table cell modifier class
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(search-input): animate expandable search input (#7451)
  src/patternfly/components/InputGroup/examples/InputGroup.md
  src/patternfly/components/InputGroup/input-group-item.hbs
  src/patternfly/components/InputGroup/input-group.hbs
  src/patternfly/components/InputGroup/input-group.scss
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  29561ce5bb33fec27801491c3b13da948811386c
Due: none

fix(ExpandableSection): made animation opt-in for detached variant (#7550)
  src/patternfly/components/ExpandableSection/examples/ExpandableSection.md
  src/patternfly/components/ExpandableSection/expandable-section.hbs
  src/patternfly/components/ExpandableSection/expandable-section.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  47273b0214b174d575c7f8401af983d50928492a
Due: none

fix(table): animate tree expansion
  scripts/helpers.mjs
  src/patternfly/components/Table/Tree-table/table-tr--tree.hbs
  src/patternfly/components/Table/table-tr.hbs
  src/patternfly/components/Table/table-tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(file-upload): add default border, updates hover color (#7573)
  src/patternfly/components/FileUpload/file-upload.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  79596c779b3be11eac8c5b1b206703727f908d2f
Due: none

fix(table): rename custom property with -m-action
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): fix comp exp jump, background fade on collapse
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): add missing commit, update docs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update Table.md
  src/patternfly/components/Table/examples/Table.md
Due: none

fix(table): fix comp exp jump, background fade on collapse (#7578)
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  0d556bdef646f8f1502bc56b93ab3f9431aec20a
Due: none

fix(table): remove class from example and tie modifier to table element
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(data-list): adjust padding to align icon with text (#7564)
  src/patternfly/components/DataList/data-list.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): correct alignment with a table cell that contains a button (#7551)
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  3bb2df28f67ac83f59277e55dba182228d2da379
Due: none

fix(data-list): center align the drag icon within the row
  src/patternfly/components/DataList/data-list.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(data-list): center align the drag icon within the row
  src/patternfly/components/Button/button.hbs
  src/patternfly/components/DataList/data-list-item-draggable-button.hbs
  src/patternfly/components/DataList/examples/DataList.md
Due: none

fix(data-list): address review comments
  src/patternfly/components/Button/button.hbs
  src/patternfly/components/DataList/data-list-item-draggable-button.hbs
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/DataList/examples/DataList.md
Due: stylelint --fix --config=.stylelintrc_logical

docs(contributing): add a contributing guide
  CONTRIBUTING.md
  README.md
Due: none

fix(button): fix background ripple for tall buttons
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(backstop): set light theme by default
  backstop_data/engine_scripts/puppet/onReady.js
  backstop_data/engine_scripts/puppet/setLightTheme.js
Due: eslint --fix

fix(textInputGroup): fix overlapping status icon and utility button
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(button): fix background ripple for tall buttons (#7586)
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  407bf6224f1b831090a80065302c36d99d77241c
Due: none

chore(all): test in light unless flag is set
  backstop_data/engine_scripts/puppet/onReady.js
Due: eslint --fix

chore(all): fix class for testing with no motion
  backstop_data/engine_scripts/puppet/overrideCSS.js
Due: eslint --fix

docs(contribution): move updates around to preexisting files
  CONTRIBUTING.md
  README.md
  patternfly-docs/site/pages/contribution.md
  patternfly-docs/site/pages/guidelines.md
Due: none

feat(high-contrast): add support for high contrast theme
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-highcontrast.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical
