Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

fix(alert-group): make animation respect RTL
  src/patternfly/components/Alert/alert-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): adjust avatar within menu-toggle to align correctly
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(form-control): remove browser prefixed properties
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(Truncate): added modifier and example for max characters logic
  src/patternfly/components/Truncate/examples/Truncate.md
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

Applied new modifier in example
  src/patternfly/components/Truncate/examples/Truncate.md
  src/patternfly/components/Truncate/truncate.hbs
Due: none

Update promote.yml
  .github/workflows/promote.yml
Due: none

fix(form-control): remove browser prefixed properties (#7435)
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(CardTitle): titles over-run boundary for long names w/o breaks (#7420)
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  889b3fc067036f53b02477ba4b96f8e65f708a11
Due: none

fix(drawer): introduce opacity for reduced motion
  src/patternfly/components/Drawer/drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(drawer): updates
  src/patternfly/components/Drawer/drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

Coker feedback
  src/patternfly/components/Truncate/examples/Truncate.md
  src/patternfly/components/Truncate/truncate-omission.hbs
  src/patternfly/components/Truncate/truncate-text.hbs
  src/patternfly/components/Truncate/truncate.hbs
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(search-input): animate expandable search input
  src/patternfly/components/InputGroup/input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(tabs): animate background, current border (#7336)
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/components/Tabs/tabs-link.hbs
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  5eda8f497f12ff5cfff9bd14b430da282961b376
Due: none

chore(Truncate): updated docs verbiage and styling
  src/patternfly/components/Truncate/examples/Truncate.md
  src/patternfly/components/Truncate/truncate-omission.hbs
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

Updated class reference
  src/patternfly/components/Truncate/examples/Truncate.md
Due: none

fix(drawer): introduce opacity for reduced motion (#7442)
  src/patternfly/components/Drawer/drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  607b511a1465b2413dd3b4a9e9251deda143cdde
Due: none

fix(truncate): added modifier and example for fixed/max characters logic (#7439)
  src/patternfly/components/Truncate/examples/Truncate.md
  src/patternfly/components/Truncate/truncate-omission.hbs
  src/patternfly/components/Truncate/truncate-text.hbs
  src/patternfly/components/Truncate/truncate.hbs
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  a078f198fe65d50949194b5d87f7c328efb13497
Due: none

chore: Updated for patch 6.2.x support.
  .github/workflows/pr-preview.yml
  .github/workflows/release.yml
  release.config.js
Due: eslint --fix

fix(page): fix main layout with no masthead/sidebar
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(A11y): resolved issues with latest pf- a11y package version
  package.json
  patternfly-a11y.config.js
  src/patternfly/components/Divider/divider.hbs
  src/patternfly/components/Divider/examples/Divider.md
  src/patternfly/components/Drawer/drawer-splitter.hbs
  src/patternfly/components/Table/TableCells/table-cell-toggle.hbs
  src/patternfly/components/Table/examples/Table.md
  yarn.lock
Due: eslint --fix

Fixed expandable table demo
  src/patternfly/demos/Table/table-expandable-table.hbs
Due: none

core(A11y): resolved issues with latest pf- a11y package version (#7457)
  package.json
  patternfly-a11y.config.js
  src/patternfly/components/Divider/divider.hbs
  src/patternfly/components/Divider/examples/Divider.md
  src/patternfly/components/Drawer/drawer-splitter.hbs
  src/patternfly/components/Table/TableCells/table-cell-toggle.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/demos/Table/table-expandable-table.hbs
  yarn.lock
Due: eslint --fix

feat(page): add modifier for no sidebar/vertical nav
  src/patternfly/components/Page/page.hbs
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/demos/Page/page-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(page): add docs for pf-m-no-sidebar
  src/patternfly/components/Page/examples/Page.md
Due: none

fix(CodeEditor): remove command palette underlining
  src/patternfly/components/CodeEditor/code-editor.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(CodeEditor): remove command palette underlining (#7458)
  src/patternfly/components/CodeEditor/code-editor.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  c22bc02d8687ce69bbf22b55aebb5e0e1d565443
Due: none

fix(page): fix main layout with no sidebar (#7455)
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.hbs
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/demos/Page/page-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  e31a56f8c8994136026dab6fc74f72be5d00e7d3
Due: none

fix(skeleton): introduce reduced motion
  src/patternfly/components/Skeleton/skeleton.scss
Due: stylelint --fix --config=.stylelintrc_logical

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
