Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore(inline-edit/popover): remove stray code (#7675)
  src/patternfly/components/InlineEdit/examples/InlineEdit.md
  src/patternfly/components/Popover/examples/Popover.md
Due: none

fix(textinputgroup): update placeholder text color for disabled state (#7670)
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  ee92ae0bf51be45c914c8d61eb1f42dd40215f8b
Due: none

feat(accordion): use focus-within
  src/patternfly/components/Accordion/accordion.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(drawer): add hi-contrast border
  src/patternfly/components/Drawer/drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(dual-list-selector): add high-contrast border
  src/patternfly/components/DualListSelector/dual-list-selector.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(dual-list-selector): fix highlight when kb focus then mouse away
  src/patternfly/components/DualListSelector/dual-list-selector.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(dual-list-selector): revert accidental drawer change
  src/patternfly/components/Drawer/drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(codeBlock): added high contrast border
  src/patternfly/components/CodeBlock/code-block.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(button): update count badge border color
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(alert-group): rename overflow button border vars
  src/patternfly/components/Alert/alert-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(wizard): add high-contrast borders
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/CodeBlock/code-block.scss
  src/patternfly/components/CodeBlock/code-block.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(codeBlock): added high contrast border (#7685)
  src/patternfly/components/CodeBlock/code-block.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(alert): add high contrast borders for overflow button (#7677)
  src/patternfly/components/Alert/alert-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(label): add high-contrast borders
  src/patternfly/components/Label/label.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(label): remove duplicate line
  src/patternfly/components/Label/label.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(label-group): adjust close icon color
  src/patternfly/components/Label/label-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(wizard): add warning step variation
  src/patternfly/components/Wizard/examples/Wizard.md
  src/patternfly/components/Wizard/wizard--status.hbs
  src/patternfly/components/Wizard/wizard-nav-link-status-icon.hbs
  src/patternfly/components/Wizard/wizard-nav-link.hbs
  src/patternfly/components/Wizard/wizard-toggle-list-item.hbs
  src/patternfly/components/Wizard/wizard-toggle-status-icon.hbs
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(wizard): nav item horizontal alignment fixes
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update upload-preview.js
  .github/upload-preview.js
Due: eslint --fix

fix: white space change to trigger prerelease
  README.md
Due: none

Notes added by 'git notes add'
  30a49c7cf2ca7e393ac81168bf502f849ebbf52b
Due: none

Update README.md
  README.md
Due: none

fix(wizard): nav item horizontal alignment fixes (#7693)
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  f81a8c499fe1bbbe568470de45ae1d555454e4c9
Due: none

feat(progress): add high contrast border
  src/patternfly/components/Progress/progress.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Progress/progress.scss
  src/patternfly/components/Progress/progress.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(badge): added high contrast border
  src/patternfly/components/Badge/badge.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(label): add high-contrast borders (#7690)
  src/patternfly/components/Label/label.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(label-group): use small button for label group close
  src/patternfly/components/Label/label-group-close.hbs
  src/patternfly/components/Label/label-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(login): add high contrast border
  src/patternfly/components/Login/login.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): fix toggle vertical alignment in thead
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(wizard): add warning step variation (#7692)
  src/patternfly/components/Wizard/examples/Wizard.md
  src/patternfly/components/Wizard/wizard--status.hbs
  src/patternfly/components/Wizard/wizard-nav-link-status-icon.hbs
  src/patternfly/components/Wizard/wizard-nav-link.hbs
  src/patternfly/components/Wizard/wizard-toggle-list-item.hbs
  src/patternfly/components/Wizard/wizard-toggle-status-icon.hbs
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  be23904e1af849ca6cddfb507c31b5b53979f4ee
Due: none

Revert "chore(table): fix toggle vertical alignment in thead"
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): fix vertical alignment in expandable table header
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
