Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

feat(resize-observer): prototyped resize observer
  gulpfile.mjs
  package.json
  patternfly-docs/site/pages/index.js
  scripts/gulp/copy.mjs
  scripts/gulp/html.mjs
  scripts/gulp/snippets.mjs
  scripts/helpers.mjs
  scripts/params.mjs
  src/patternfly/components/ResizeObserver/data.mjs
  src/patternfly/components/ResizeObserver/examples/ResizeObserver.css
  src/patternfly/components/ResizeObserver/examples/ResizeObserver.js
  src/patternfly/components/ResizeObserver/examples/ResizeObserver.md
  src/patternfly/components/ResizeObserver/examples/data.js
  src/patternfly/components/ResizeObserver/masthead-example.hbs
  src/patternfly/components/ResizeObserver/resize-observer.hbs
  src/patternfly/components/ResizeObserver/resize-observer.scss
  src/patternfly/components/_all.scss
  src/patternfly/sass-utilities/component-namespaces.scss
  yarn.lock
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

update
  scripts/helpers.mjs
  src/patternfly/components/ResizeObserver/examples/ResizeObserver.js
  src/patternfly/components/ResizeObserver/examples/ResizeObserver.md
  src/patternfly/components/ResizeObserver/resize-observer.hbs
Due: eslint --fix

chore(menu-toggle): wrap icons, add gap
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(vars): fix invalid token names
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/Form/form.scss
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/Login/__login-main-footer.hbs
  src/patternfly/components/Login/login-main-footer-links-item-link.hbs
  src/patternfly/components/Login/login.scss
  src/patternfly/components/NotificationBadge/notification-badge.scss
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(login): fix footer icon color in dark theme
  src/patternfly/components/Login/__login-main-footer.hbs
Due: none

feat(DualListSelector): more penta updates
  src/patternfly/components/DualListSelector/dual-list-selector-menu.hbs
  src/patternfly/components/DualListSelector/dual-list-selector.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(vars): fix invalid token names (#6328)
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/Form/form.scss
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/Login/__login-main-footer.hbs
  src/patternfly/components/Login/login-main-footer-links-item-link.hbs
  src/patternfly/components/Login/login.scss
  src/patternfly/components/NotificationBadge/notification-badge.scss
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): updated padding
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(login): bump footer icon size
  src/patternfly/components/Login/login.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(login): bump footer icon size (#6333)
  src/patternfly/components/Login/login.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(DualListSelector): more penta updates (#6331)
  src/patternfly/components/DualListSelector/dual-list-selector-menu.hbs
  src/patternfly/components/DualListSelector/dual-list-selector.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu-toggle): update plain toggles in examples/demos
  src/patternfly/components/LogViewer/templates/__log-viewer-toolbar.hbs
  src/patternfly/components/Menu/templates/menu-breadcrumbs--dropdown.hbs
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/Toolbar/toolbar-toggle.hbs
  src/patternfly/demos/Masthead/examples/Masthead.md
  src/patternfly/demos/Masthead/masthead-template-application-launcher.hbs
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
  src/patternfly/demos/Page/examples/Penta.md
Due: none

feat(tokens): update tokens, add opacity, box-shadow tokens
  src/patternfly/base/tokens/_tokens-charts.scss
  src/patternfly/base/tokens/_tokens-dark.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/base/tokens/_tokens-palette.scss
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Label/label.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/SimpleList/simple-list.scss
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(tokens): fix extra px on a token
  src/patternfly/base/tokens/_tokens-default.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(tokens): adjust dark theme text color 200 token
  src/patternfly/base/tokens/_tokens-dark.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(tokens): adjust text-color-200 token
  src/patternfly/base/tokens/_tokens-default.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(menu-toggle): remove extra div, reorder examples (#6321)
  src/patternfly/components/LogViewer/templates/__log-viewer-toolbar.hbs
  src/patternfly/components/Menu/templates/menu-breadcrumbs--dropdown.hbs
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Toolbar/toolbar-toggle.hbs
  src/patternfly/demos/Masthead/examples/Masthead.md
  src/patternfly/demos/Masthead/masthead-template-application-launcher.hbs
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
  src/patternfly/demos/Page/examples/Penta.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(MenuToggle): updated spacing between content and controls
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(MenuToggle): updated spacing between content and controls (#6336)
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): updated padding (#6294)
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu): added transition values
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu): added transition values (#6340)
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(tokens): update tokens, add opacity, box-shadow tokens (#6335)
  src/patternfly/base/tokens/_tokens-charts.scss
  src/patternfly/base/tokens/_tokens-dark.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/base/tokens/_tokens-palette.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Label/label.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/SimpleList/simple-list.scss
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): updates for alpha
  src/patternfly/components/Menu/menu-item.hbs
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu/nav): remove dark theme stylesheets
  src/patternfly/components/Menu/themes/dark/menu.scss
  src/patternfly/components/Nav/themes/dark/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu): add focus modifier back
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): update dropdown to button
  src/patternfly/components/Check/check.scss
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/OverflowMenu/overflow-menu-control.hbs
  src/patternfly/components/Table/Tree-table/table-tr--tree.hbs
  src/patternfly/components/Table/examples/Table.css
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-nested.hbs
  src/patternfly/components/Table/table-td.hbs
  src/patternfly/components/Table/table-th.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/templates/table--action.hbs
  src/patternfly/components/Table/templates/table--dropdown.hbs
  src/patternfly/components/Table/templates/table--overflow-menu.hbs
  src/patternfly/components/Table/templates/table--toggle-all.hbs
  src/patternfly/components/Table/templates/table--toggle.hbs
  src/patternfly/components/Table/templates/table-tbody--expandable.hbs
  src/patternfly/components/Table/templates/table-tr--basic.hbs
  src/patternfly/demos/Card/templates/card-demo--popover-table.hbs
  src/patternfly/demos/Table/table-compact-table.hbs
  src/patternfly/demos/Table/table-compound-expansion-table.hbs
  src/patternfly/demos/Table/table-expandable-table.hbs
  src/patternfly/demos/Table/table-simple-table.hbs
  src/patternfly/demos/Table/table-sortable-table.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): remove extraneous dark box shadows
  src/patternfly/base/tokens/_tokens-font.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): remove extraneous dark box shadows (#6341)
  src/patternfly/base/tokens/_tokens-font.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): update button to menu toggle
  src/patternfly/components/Check/check.scss
  src/patternfly/components/InlineEdit/examples/InlineEdit.md
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/OverflowMenu/overflow-menu-control.hbs
  src/patternfly/components/Table/examples/Table.css
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-nested.hbs
  src/patternfly/components/Table/table-td.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/templates/table--dropdown.hbs
  src/patternfly/components/Table/templates/table--overflow-menu.hbs
  src/patternfly/components/Table/templates/table--toggle-all.hbs
  src/patternfly/components/Table/templates/table--tr.hbs
  src/patternfly/components/Table/templates/table-tbody--expandable.hbs
  src/patternfly/components/Table/templates/table-tr--basic.hbs
  src/patternfly/demos/Card/templates/card-demo--popover-table.hbs
  src/patternfly/demos/DataList/data-list-expandable-compact-table.hbs
  src/patternfly/demos/Page/examples/Penta.md
  src/patternfly/demos/Table/table-compact-table.hbs
  src/patternfly/demos/Table/table-compound-expansion-table.hbs
  src/patternfly/demos/Table/table-expandable-table.hbs
  src/patternfly/demos/Table/table-simple-table.hbs
  src/patternfly/demos/Table/table-sortable-table.hbs
  src/patternfly/demos/Tabs/tabs--table.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(v6): bumped prefix from 5 to 6
  scripts/init.mjs
  src/patternfly/sass-utilities/_init.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(v6): bumped prefix from 5 to 6 (#6343)
  scripts/init.mjs
  src/patternfly/sass-utilities/_init.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(drag-drop/description-list): updates for v5 to v6
  .stylelintrc
  src/patternfly/components/DescriptionList/description-list.scss
  src/patternfly/components/DragDrop/drag-drop.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(check): update standalone styling
  src/patternfly/components/Check/check.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Radio/radio.scss
  src/patternfly/components/Table/table-check.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/templates/table--radio.hbs
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/InlineEdit/examples/InlineEdit.md
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-td.hbs
  src/patternfly/demos/DataList/data-list-expandable-compact-table.hbs
  src/patternfly/demos/Page/examples/Penta.md
  src/patternfly/demos/Table/table-compound-expansion-table.hbs
  src/patternfly/demos/Table/table-expandable-table.hbs
  src/patternfly/demos/Table/table-sortable-table.hbs
Due: none

update
  src/patternfly/components/Table/Tree-table/table-tr--tree.hbs
  src/patternfly/components/Table/table-td.hbs
  src/patternfly/components/Table/templates/table--check.hbs
  src/patternfly/components/Table/templates/table--radio.hbs
  src/patternfly/demos/DataList/data-list-expandable-compact-table.hbs
  src/patternfly/demos/Page/examples/Penta.md
  src/patternfly/demos/Skeleton/table-skeleton.hbs
  src/patternfly/demos/Table/table-compact-table.hbs
  src/patternfly/demos/Table/table-empty-state-table.hbs
  src/patternfly/demos/Table/table-expandable-table.hbs
  src/patternfly/demos/Table/table-loading-table.hbs
  src/patternfly/demos/Table/table-simple-table.hbs
  src/patternfly/demos/Table/table-sortable-table.hbs
  src/patternfly/demos/Tabs/tabs--table.hbs
Due: none

feat(workspace): bump docs framework and pf-react deps for v6 classnames
  package.json
  yarn.lock
Due: none

feat(workspace): bump docs framework and pf-react deps for v6 classnames (#6348)
  package.json
  yarn.lock
Due: none
