Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

Notes added by 'git notes add'
  53/de013490d8598506fdbc2af9f4f24970d85a48
Due: none

fix: updated for patch releases
  .github/workflows/pr-preview.yml
  .github/workflows/release.yml
  release.config.js
Due: eslint --fix

fix: update readme
  README.md
Due: none

fix: updated semantic releaseA
  release.config.js
Due: eslint --fix

Notes added by 'git notes add'
  81/1b7c913cf79d76a0e4fcb6c34967937d7b9877
Due: none

fix: fixed error with api rate limiting
  release.config.js
Due: eslint --fix

fix: updated range
  release.config.js
Due: eslint --fix

fix(avatar): update accessibility logic
  src/patternfly/components/Avatar/avatar--colorful.hbs
  src/patternfly/components/Avatar/avatar.hbs
Due: none

Notes added by 'git notes add'
  15/eec9458136bc57eccc20079f3a7e7ef1173c79
Due: none

fix(avatar): remove space
  src/patternfly/components/Avatar/avatar.hbs
Due: none

fix(docked): add min width to icon class for docked and text expanded
  src/patternfly/components/Button/button.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(docked): update menu-toggle
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(avatar): udpates fonts, update colorful variant, fill to currentcolor, adjust avatar logic
  src/patternfly/components/Avatar/avatar--colorful.hbs
  src/patternfly/components/Avatar/avatar.hbs
  src/patternfly/components/Avatar/avatar.scss
  src/patternfly/components/Avatar/examples/Avatar.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(banner): text decoration color set to currentcolor
  src/patternfly/components/Banner/banner.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(docked): move icon and property to docked block
  src/patternfly/components/Button/button.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(drag and drop): border radius applied to backgrounds
  src/patternfly/components/DragDrop/drag-drop.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(avatar): remove sizing modifier classes
  src/patternfly/components/Avatar/examples/Avatar.md
Due: none

chore(ci): update check-permissions action to pull latest
  .github/workflows/pr-preview.yml
Due: none

chore: handle overflow differently
  .stylelintrc
  src/patternfly/components/AboutModalBox/about-modal-box.scss
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/DataList/data-list-grid.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(avatar): remove default options, update svg token
  src/patternfly/components/Avatar/avatar--colorful.hbs
  src/patternfly/components/Avatar/examples/Avatar.md
Due: none

chore: replace standard icon in modal demo
  src/patternfly/components/ModalBox/examples/ModalBox.md
Due: none

chore(Misc): Removed versioning from repo description
  package.json
Due: none

Notes added by 'git notes add'
  37/07ce18e801b2760808368f8f871bd35eb714ea
Due: none

fix(avatar): case change, token removal and adjustments, documentation changes
  src/patternfly/components/Avatar/avatar--colorful.hbs
  src/patternfly/components/Avatar/avatar.scss
  src/patternfly/components/Avatar/examples/Avatar.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): update sidebar margins
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Page): update glass spacers
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: update page chrome token
  src/patternfly/base/tokens/tokens-felt-glass.scss
  src/patternfly/base/tokens/tokens-glass.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(): update docked page content margin, masthead padding tokens
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(): move docked changes to glass only
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(): dedup docked nav vars, colocate with dock vars
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

Simplify transition property in compass.scss
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(compass): linting errors
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

more linting stuff
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fixed local linter and updated linting issues
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  a3/bfeac3aa54423dda2ed9d588a4576e1fc33e99
Due: none
