Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore(pf): @mcoker updates
  src/patternfly/assets/fontawesome/_larger.scss
  src/patternfly/assets/fontawesome/_list.scss
  src/patternfly/assets/fontawesome/_stacked.scss
  src/patternfly/assets/fontawesome/_variables.scss
  src/patternfly/base/_index.scss
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/components/Sidebar/sidebar.scss
  src/patternfly/patternfly-no-globals.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(dev): update dev server sass watcher compile files
  package.json
  scripts/gulp/sass.mjs
  yarn.lock
Due: none

chore(dev): update dev server sass watcher compile files (#6550)
  package.json
  scripts/gulp/sass.mjs
  yarn.lock
Due: none

chore(setup-release): Updated semantic release for 5.3.x
  .github/workflows/pr-preview.yml
  .github/workflows/release.yml
  release.config.js
Due: eslint --fix

fix(TreeView): improved a11y experience (#6480)
  src/patternfly/components/TreeView/examples/TreeView.md
  src/patternfly/components/TreeView/tree-view-list-item.hbs
  src/patternfly/components/TreeView/tree-view-list.hbs
  src/patternfly/components/TreeView/tree-view-node-check.hbs
  src/patternfly/components/TreeView/tree-view-node-text.hbs
  src/patternfly/components/TreeView/tree-view-node.hbs
Due: none

Notes added by 'git notes add'
  da1db6590f4c8be07816c3e2907aea0db40a4639
Due: none

feat(cascade-layers): integrated cascade layers
  src/patternfly/base/_index.scss
  src/patternfly/base/reset.scss
  src/patternfly/base/tokens/_index.scss
  src/patternfly/components/AboutModalBox/about-modal-box.scss
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/layouts/Bullseye/bullseye.scss
  src/patternfly/layouts/Flex/flex.scss
  src/patternfly/my-custom-theme.scss
  src/patternfly/patternfly.scss
  src/patternfly/sass-utilities/init.scss
  src/patternfly/utilities/Accessibility/accessibility.scss
  src/patternfly/utilities/Alignment/alignment.scss
  src/patternfly/utilities/BackgroundColor/background-color.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  14da9b4e48e2d7ba872298fb44823a9db3d346e4
Due: none

fix(log-viewer): add tokens
  src/patternfly/components/LogViewer/log-viewer.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(PasswordStrength): removed help popover icon from demos
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
Due: none

chore(PasswordStrength): removed help popover icon in v5 demos
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
Due: none

fix(pagination): fixed display for per page menu toggle
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination-menu-toggle.hbs
  src/patternfly/components/Pagination/pagination-options-menu.hbs
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(pagination): s/pagination-options-menupagination-menu-toggle
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination-menu-toggle.hbs
  src/patternfly/components/Toolbar/toolbar-item-pagination.hbs
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/DataList/data-list-pagination-footer-static.hbs
  src/patternfly/demos/DataList/data-list-pagination-footer.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-toolbar.hbs
  src/patternfly/demos/Table/table-pagination-footer-static.hbs
  src/patternfly/demos/Table/table-pagination-footer.hbs
  src/patternfly/demos/Toolbar/examples/Toolbar.md
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: none

chore(pagination): remove top expanded, add toggle aria-label
  src/patternfly/components/Pagination/examples/Pagination.css
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination-menu-toggle.hbs
Due: none

Update pagination-menu-toggle.hbs
  src/patternfly/components/Pagination/pagination-menu-toggle.hbs
Due: none

fix(pagination): fixed display for per page menu toggle (#6586)
  src/patternfly/components/Pagination/examples/Pagination.css
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination-menu-toggle.hbs
  src/patternfly/components/Pagination/pagination-options-menu.hbs
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Toolbar/toolbar-item-pagination.hbs
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/DataList/data-list-pagination-footer-static.hbs
  src/patternfly/demos/DataList/data-list-pagination-footer.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-toolbar.hbs
  src/patternfly/demos/Table/table-pagination-footer-static.hbs
  src/patternfly/demos/Table/table-pagination-footer.hbs
  src/patternfly/demos/Toolbar/examples/Toolbar.md
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  1bdbc2691cc6ad43a8f063d78b7b1b9b1dd3f725
Due: none

fix(pagination): fixed display for per page menu toggle (#6586)
  release.config.js
  src/patternfly/components/Pagination/examples/Pagination.css
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination-menu-toggle.hbs
  src/patternfly/components/Pagination/pagination-options-menu.hbs
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Toolbar/toolbar-item-pagination.hbs
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/DataList/data-list-pagination-footer-static.hbs
  src/patternfly/demos/DataList/data-list-pagination-footer.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-toolbar.hbs
  src/patternfly/demos/Table/table-pagination-footer-static.hbs
  src/patternfly/demos/Table/table-pagination-footer.hbs
  src/patternfly/demos/Toolbar/examples/Toolbar.md
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

fix(release): updated code to release patch to npmjs
  release.config.js
Due: eslint --fix

fix(log-viewer): add tokens (#6578)
  src/patternfly/components/LogViewer/log-viewer.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  cb4712afb31762e0380eaa498e7d428c6c7aa871
Due: none

chore(PasswordStrength): removed help popover icon in v5 demos (#6585)
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
Due: none

chore(PasswordStrength): removed help popover icon from demos (#6584)
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
Due: none

chore(log-viewer): update var names to match logical property
  src/patternfly/components/LogViewer/log-viewer.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(app-launcher): border-block-end typo
  src/patternfly/components/AppLauncher/app-launcher.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(vars): inset-* vars were missing "Inset[...]"
  src/patternfly/components/Alert/alert-group.scss
  src/patternfly/components/AppLauncher/app-launcher.scss
  src/patternfly/components/BackToTop/back-to-top.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/CalendarMonth/calendar-month.scss
  src/patternfly/components/ContextSelector/context-selector.scss
  src/patternfly/components/DatePicker/date-picker.scss
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/OptionsMenu/options-menu.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/ProgressStepper/progress-stepper.scss
  src/patternfly/components/Select/select.scss
  src/patternfly/components/Sidebar/sidebar.scss
  src/patternfly/components/SkipToContent/skip-to-content.scss
  src/patternfly/components/Slider/examples/Slider.md
  src/patternfly/components/Slider/slider-step.hbs
  src/patternfly/components/Slider/slider.scss
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-scrollable.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/templates/table--scrollable--tbody--tr.hbs
  src/patternfly/components/Table/templates/table--scrollable--thead--tr.hbs
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/components/Tooltip/tooltip.scss
  src/patternfly/components/TreeView/tree-view.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(vars): a few misc logical property updates
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/Progress/progress.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): import tokens without :root selector in token files
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/_index.scss
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

v5.3.x patch 1 (#6595)
  release.config.js
  src/patternfly/components/Pagination/examples/Pagination.css
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination-menu-toggle.hbs
  src/patternfly/components/Pagination/pagination-options-menu.hbs
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Toolbar/toolbar-item-pagination.hbs
  src/patternfly/components/TreeView/examples/TreeView.md
  src/patternfly/components/TreeView/tree-view-list-item.hbs
  src/patternfly/components/TreeView/tree-view-list.hbs
  src/patternfly/components/TreeView/tree-view-node-check.hbs
  src/patternfly/components/TreeView/tree-view-node-text.hbs
  src/patternfly/components/TreeView/tree-view-node.hbs
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/DataList/data-list-pagination-footer-static.hbs
  src/patternfly/demos/DataList/data-list-pagination-footer.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-toolbar.hbs
  src/patternfly/demos/Table/table-pagination-footer-static.hbs
  src/patternfly/demos/Table/table-pagination-footer.hbs
  src/patternfly/demos/Toolbar/examples/Toolbar.md
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
