Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

more lembas bread
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: back out stuff theme switcher needs
  backstop_data/engine_scripts/playwright/onBefore.js
  src/patternfly/base/patternfly-variables.scss
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore: updates
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-felt-dark.scss
  src/patternfly/base/tokens/tokens-felt-glass-dark.scss
  src/patternfly/base/tokens/tokens-felt-glass.scss
  src/patternfly/base/tokens/tokens-felt-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-felt-highcontrast.scss
  src/patternfly/base/tokens/tokens-felt.scss
  src/patternfly/base/tokens/tokens-glass-dark.scss
  src/patternfly/base/tokens/tokens-glass.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(): move bg to base styles & update base bg token
  src/patternfly/components/Hero/hero.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(): update glass border and shadow tokens
  src/patternfly/components/Hero/hero.scss
Due: stylelint --fix --config=.stylelintrc_logical

remove insets for glass theme on header and footer versions
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

initial shift to bg image on html element
  src/patternfly/patternfly.scss
Due: stylelint --fix --config=.stylelintrc_logical

utilize token process, remove compass
  src/patternfly/patternfly.scss
Due: stylelint --fix --config=.stylelintrc_logical

create token-local files for each glass theme variant, update theme background semantic tokens with fallbacks, update compass structure to include compass-container partial, update documentation
  src/patternfly/base/normalize.scss
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/tokens-local-felt-glass-dark.scss
  src/patternfly/base/tokens/tokens-local-felt-glass.scss
  src/patternfly/base/tokens/tokens-local-glass-dark.scss
  src/patternfly/base/tokens/tokens-local-glass.scss
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/components/Compass/compass-container.hbs
  src/patternfly/components/Compass/compass.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
  src/patternfly/patternfly.scss
Due: stylelint --fix --config=.stylelintrc_logical

update masthead from outside diff
  src/patternfly/components/Compass/examples/Compass.md
Due: none

fix linting error
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

update demo and partial for remaining demos
  src/patternfly/demos/Compass/compass--docked.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: none

feat(hero): design input, update tokens & make glass opt-in
  src/patternfly/components/Hero/examples/Hero.md
  src/patternfly/components/Hero/hero.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(): remove nested &
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Hero/hero.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(): add glass modifier to hero in compass demo
  src/patternfly/components/Hero/hero.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: none

fix(): add true
  src/patternfly/demos/Compass/examples/Compass.md
Due: none

Notes added by 'git notes add'
  a5/2bf785034be03b6ad63d76231ebb59970f5887
Due: none

fix(toolbar): sticky header should be pill in glass
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

add line at end of doc
  src/patternfly/components/Compass/compass.hbs
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

round corners on sticky modifier
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: update redhat/felt class/localstorage
  backstop_data/engine_scripts/playwright/onBefore.js
  src/patternfly/base/patternfly-variables.scss
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore: more redhat/felt
  src/patternfly/patternfly.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: bump docs-framework
  package.json
  yarn.lock
Due: none

Notes added by 'git notes add'
  b6/900e69bff57e9d1362bf0d5d08715d9a41fdef
Due: none

clear spaces, pull nested docked modifier and container out, readd doc dock-main line
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

fix documentation of docked modifier as its applied, remove dead code removed with the removal of the backgrounds
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

chore: removed unused file
  src/patternfly/base/tokens/tokens-redhat-highcontrast.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  a9/965f9791fe87743f941d3de2ca2ce02216a6fe
Due: none

fix: update sticky toolbar shadow
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(Dock): added padding inline start for dock nav
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

change box-shadows tokens to none directional versions in glass
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

manage merge conflicts
  src/patternfly/base/patternfly-variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  b0/6d57fa474d8c0454b2b12bf166aadccf5fe95b
Due: none

feat(charts): add high contrast
  src/patternfly/base/tokens/tokens-charts-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-charts-highcontrast.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-felt-dark.scss
  src/patternfly/base/tokens/tokens-felt-glass-dark.scss
  src/patternfly/base/tokens/tokens-felt-glass.scss
  src/patternfly/base/tokens/tokens-felt-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-felt-highcontrast.scss
  src/patternfly/base/tokens/tokens-felt.scss
  src/patternfly/base/tokens/tokens-glass-dark.scss
  src/patternfly/base/tokens/tokens-glass.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast.scss
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: more stuff
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

add visibility styles and transition values
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: update bullet background colors
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: add skeleton color range
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  58/82641d13839b264bfe09de8eb704050c9d318c
Due: none

init new default state for pill inline, set values when expanded, adjusted main padding for pill shadow
  src/patternfly/components/Drawer/drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical
