Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

fix: pull in latest font-weight tokens from figma
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-charts-highcontrast.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-felt-dark.scss
  src/patternfly/base/tokens/tokens-felt-glass-dark.scss
  src/patternfly/base/tokens/tokens-felt-glass.scss
  src/patternfly/base/tokens/tokens-felt-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-felt-highcontrast.scss
  src/patternfly/base/tokens/tokens-felt.scss
  src/patternfly/base/tokens/tokens-glass-dark.scss
  src/patternfly/base/tokens/tokens-glass.scss
  src/patternfly/base/tokens/tokens-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-highcontrast.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

apply suggested change in removing tokens and removed blank spaces
  src/patternfly/components/Banner/banner.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  d9/960b1d73bb05b9a5fb64d01a51dd699a24cb2d
Due: none

Notes added by 'git notes add'
  05/a468c272aaaf23f3cb9954cc88081d0b43466c
Due: none

Notes added by 'git notes add'
  9e/bba5868f45e01f94449cf1f563fdd1782a3ec8
Due: none

fix(dual list, pagination, toolbar): caret icon updates
  src/patternfly/components/DualListSelector/dual-list-selector-controls-item.hbs
  src/patternfly/components/Pagination/pagination-nav-content.hbs
  src/patternfly/components/Toolbar/toolbar-item-pagination.hbs
Due: none

Notes added by 'git notes add'
  a0/8c898117dace5f2bf58909d164f90c850d5d95
Due: none

change before pseudos to after to avoid losing vertical bars in nested column headers with sticky header
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

border for header set to last-child tr pseudo
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

update transitions for sticky/stuck, set border radius to 0 for nested sticky headers
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

set nested column header border block end to 0 in sticky-base and sticky-stuck
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

add border-row to md file for nested headers, move bottom border to th, update border-row to height and bg color
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  c5/4a62e176b9ff307d21019c046a4a39d46552f9
Due: none

fix(Menu): document listbox/option/aria-selected attributes for select menus
  src/patternfly/components/Menu/examples/Menu.md
Due: none

feat(label): migrate label icons to RH set and update gap token
  src/patternfly/components/Label/examples/Label.md
  src/patternfly/components/Label/label--variants.hbs
  src/patternfly/components/Label/label-icon--map.hbs
  src/patternfly/components/Label/label-icon.hbs
  src/patternfly/components/Label/label.scss
  src/patternfly/demos/Card/examples/Card.md
  src/patternfly/demos/Card/templates/card-demo--notification-drawer.hbs
  src/patternfly/demos/Form/examples/BasicForms.md
  src/patternfly/demos/Tabs/tabs--pod-page-title.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore: fix tokens
  src/patternfly/components/Label/label.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(label): correct font, gap, and icon token mappings
  src/patternfly/components/Label/label.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: change gap to compact except for large
  src/patternfly/components/Label/label.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(label): align label font/icon/gap tokens to defaults (closes #8138)
  src/patternfly/components/Label/label.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: updates per figma
  src/patternfly/components/Label/examples/Label.css
  src/patternfly/components/Label/examples/Label.md
  src/patternfly/components/Label/label.hbs
  src/patternfly/components/Label/label.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: docs
  src/patternfly/components/Label/examples/Label.md
Due: none

chore: bunch of updates
  src/patternfly/components/Label/label--variants.hbs
  src/patternfly/components/Label/label.hbs
  src/patternfly/components/Label/label.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(input group): add radius modifier
  src/patternfly/components/InputGroup/examples/InputGroup.md
Due: none

fix: address word-break/overflow-wrap bug
  src/patternfly/components/AboutModalBox/about-modal-box.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/ClipboardCopy/clipboard-copy.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/Progress/progress.scss
  src/patternfly/components/Title/title.scss
  src/patternfly/components/Tooltip/tooltip.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  38/00acf1c628b9a14e3295a7fff01a745ca49ae0
Due: none

change base rotate to point toward closed section, changed toggle rotate to face down when a section is open
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

change default icon to right and adjust rotations
  src/patternfly/components/TreeView/tree-view-node-toggle-icon.hbs
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

change last tr pointer-events to auto for clickthrough with new background treatment for safari
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  71/6f0e546cb9da7dade2907e6ad1f32584da027b
Due: none

fix(a11y): ignore target-size rule for WCAG 2.2 bump
  patternfly-a11y.config.js
Due: eslint --fix

update padding tokens for link and sublink
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

remove tabs buttons unless component is scrollable
  src/patternfly/components/Tabs/__tabs-list-secondary.hbs
  src/patternfly/components/Tabs/__tabs-list.hbs
Due: none
