Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

feat(login): apply tokens (#6028)
  src/patternfly/components/Login/__login-header.hbs
  src/patternfly/components/Login/login.scss
  src/patternfly/components/Login/themes/dark/login.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(box-shadow): typo in box shadow token names (#6039)
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): remove padding on nav sidebar (#6053)
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(InlineEdit): applied tokens
  src/patternfly/components/InlineEdit/inline-edit.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(banner): add missing custom modifier (#6141)
  src/patternfly/components/Banner/banner.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(avatar): apply tokens (#6122)
  src/patternfly/components/Avatar/avatar.hbs
  src/patternfly/components/Avatar/avatar.scss
  src/patternfly/components/Avatar/examples/Avatar.css
  src/patternfly/components/Avatar/examples/Avatar.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(Pagination): applied tokens (#6089)
  src/patternfly/components/Pagination/pagination-options-menu.hbs
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Pagination/themes/dark/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(SimpleList): pull in new v6 branch (#6128)
  src/patternfly/components/SimpleList/simple-list-item-link.hbs
  src/patternfly/components/SimpleList/simple-list.scss
  src/patternfly/components/SimpleList/themes/dark/simple-list.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(backdrop): add tokens (#6138)
  src/patternfly/components/Backdrop/backdrop.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: whitespace change to test CI
  README.md
Due: none

chore(ExpandableSection): updated Penta docs and focus/hover styling (#6124)
  src/patternfly/components/ExpandableSection/examples/ExpandableSection.md
  src/patternfly/components/ExpandableSection/expandable-section.hbs
  src/patternfly/components/ExpandableSection/expandable-section.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): updating usage of new font tokens (#6111)
  src/patternfly/base/_globals.scss
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Banner/banner.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Content/content.scss
  src/patternfly/components/Hint/hint.scss
  src/patternfly/components/Login/login.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Title/title.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(HelperText): apply tokens (#6118)
  src/patternfly/components/HelperText/helper-text.scss
  src/patternfly/components/HelperText/themes/dark/helper-text.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: white space change to test dryrun
  README.md
Due: none

fix: try changing suffix
  release.config.js
Due: eslint --fix

chore: turn on dryrun until release fixed [ci skip]
  release.config.js
Due: eslint --fix

chore(tokens): updates tokens from figma (#6103)
  src/patternfly/base/_globals.scss
  src/patternfly/base/_variables.scss
  src/patternfly/base/themes/dark/_variables.scss
  src/patternfly/base/tokens/_tokens-dark.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/base/tokens/_tokens-palette.scss
  src/patternfly/base/tokens/_workspace-overrides.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Hint/hint.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(brand): update brand examples for penta (#6132)
  src/patternfly/components/Brand/brand.hbs
  src/patternfly/components/Brand/examples/Brand.md
  static/assets/images/PF-HorizontalLogo-Color.svg
  static/assets/images/PF-HorizontalLogo-Reverse.svg
  static/assets/images/PF-IconLogo-Reverse.svg
  static/assets/images/PF-IconLogo-color.svg
Due: none

feat(breadcrumb): apply tokens (#6060)
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Breadcrumb/breadcrumb.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(EmptyState): apply tokens (#6056)
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/components/EmptyState/empty-state.scss
  src/patternfly/components/EmptyState/examples/EmptyState.md
Due: stylelint --fix --config=.stylelintrc_logical

fix: try ignoring the breaking change commit
  release.config.js
Due: eslint --fix

fix: linting error
  release.config.js
Due: eslint --fix

fix: linting again
  release.config.js
Due: eslint --fix

Notes added by 'git notes add'
  7713839c18695ebedcb84cacec42a37bf63bda01
Due: none

feat(truncate): add tokens
  src/patternfly/components/Truncate/examples/Truncate.css
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(truncate): add tokens (#6144)
  src/patternfly/components/Truncate/examples/Truncate.css
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(masthead): @srambach updates
  src/patternfly/demos/Masthead/examples/Masthead.md
  src/patternfly/demos/Masthead/masthead-template-content.hbs
Due: none

chore(masthead): resolving rebase issues
  src/patternfly/components/Masthead/examples/masthead.md
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/demos/DataList/examples/DataList.md
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
  src/patternfly/demos/Masthead/masthead-template-content-toolbar-content.hbs
  src/patternfly/demos/Toolbar/toolbar-template-content.hbs
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  647c0ca5a63977ae5f05268e435e1f3960a39571
Due: none

chore(masthead): added tokens, update presentation
  src/patternfly/components/Masthead/examples/masthead.md
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/demos/DataList/examples/DataList.md
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
  src/patternfly/demos/Masthead/masthead-template-content-toolbar-content.hbs
  src/patternfly/demos/Toolbar/toolbar-template-content.hbs
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

fix: turn off dry run and resume releasing alphas
  release.config.js
Due: eslint --fix

chore(divider): added tokens, fixed breaking change comments
  src/patternfly/components/Divider/divider.scss
  src/patternfly/components/Divider/examples/Divider.css
  src/patternfly/components/Divider/examples/Divider.md
Due: stylelint --fix --config=.stylelintrc_logical

fix: turn off dryrun
  release.config.js
Due: eslint --fix

fix: use prerelease tag format with dry run
  release.config.js
Due: eslint --fix

feat(breaker): bump this version to 6.0 (#5800)
  .github/upload-preview.js
  .github/workflows/pr-preview.yml
  .github/workflows/release.yml
  package.json
  release.config.js
Due: eslint --fix

feat(tokens): add initial global tokens (#5843)
  .stylelintrc
  src/patternfly/base/_variables.scss
  src/patternfly/base/tokens/_tokens-dark.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): fix clickable overlay (#6025)
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Button): adds tokens and applies to buttons (#5908)
  .stylelintrc
  src/patternfly/base/_globals.scss
  src/patternfly/base/_variables.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
