Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

update
  src/patternfly/demos/Masthead/examples/Masthead.md
Due: none

update
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(toolbar): changed toolbar `inline-padding` default to zero, updated toolbar demo examples (#6893)
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/Masthead/examples/Masthead.md
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/demos/Tabs/examples/Tabs.md
  src/patternfly/demos/Toolbar/examples/Toolbar.md
  src/patternfly/demos/Toolbar/toolbar-template-content.hbs
  src/patternfly/demos/Toolbar/toolbar-template-filter-group.hbs
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  44/0c4920fa351c569b7ec1be023247724db069a0
Due: none

feat(MenuToggle): split action toggle text modifier (#6886)
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle--check.hbs
  src/patternfly/components/MenuToggle/menu-toggle-button.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  a5/6b48bd193bb9ed5175ef95327a6d9c7a5e09ae
Due: none

fix(masthead): resovled conflict
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
Due: none

fix(masthead): resovled conflict (#6905)
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
Due: none

chore(button): unescaped button--id attribute
  src/patternfly/components/Button/button.hbs
Due: none

chore(dashboard): fix dupe id
  src/patternfly/demos/Card/templates/card-template-expandable-status.hbs
Due: none

Notes added by 'git notes add'
  b8/e63750941a93ffeb321ac5ef0b709c399c5ea0
Due: none

update
  src/patternfly/components/Table/table-tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): updated min/max-width for th title cells
  src/patternfly/components/Table/table-tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table-tree-view): hid thead
  src/patternfly/components/Table/table-tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table-tree-view): reset table tree view th header cell min/max-width, width , and display (#6868)
  src/patternfly/components/Table/table-tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  17/138321bf65e55f8a4a1a59d611591c474f25c2
Due: none

fix(global): use tokens for links/help-text/editable-text
  src/patternfly/base/normalize.scss
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Content/content.scss
  src/patternfly/components/DescriptionList/description-list-term.hbs
  src/patternfly/components/DescriptionList/description-list-text.hbs
  src/patternfly/components/DescriptionList/description-list.scss
  src/patternfly/components/DescriptionList/examples/DescriptionList.md
  src/patternfly/components/JumpLinks/jump-links.scss
  src/patternfly/components/Label/label.scss
  src/patternfly/components/ProgressStepper/progress-stepper.scss
  src/patternfly/components/SimpleList/simple-list.scss
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/Timestamp/timestamp.scss
  src/patternfly/components/ToggleGroup/toggle-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(button): unescaped button--id attribute (#6901)
  src/patternfly/components/Button/button.hbs
  src/patternfly/demos/Card/templates/card-template-expandable-status.hbs
Due: none

fix(global): use tokens for links/help-text/editable-text (#6908)
  src/patternfly/base/normalize.scss
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Content/content.scss
  src/patternfly/components/DescriptionList/description-list-term.hbs
  src/patternfly/components/DescriptionList/description-list-text.hbs
  src/patternfly/components/DescriptionList/description-list.scss
  src/patternfly/components/DescriptionList/examples/DescriptionList.md
  src/patternfly/components/JumpLinks/jump-links.scss
  src/patternfly/components/Label/label.scss
  src/patternfly/components/ProgressStepper/progress-stepper.scss
  src/patternfly/components/SimpleList/simple-list.scss
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/Timestamp/timestamp.scss
  src/patternfly/components/ToggleGroup/toggle-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  5f/f4e4ab775cd9d78d008ad4eef0b2b31926b4be
Due: none

fix(table): updated thead td to th
  scripts/helpers.mjs
  src/patternfly/components/Table/TableCells/table-cell-action.hbs
  src/patternfly/components/Table/TableCells/table-cell-check.hbs
  src/patternfly/components/Table/TableCells/table-cell-empty.hbs
  src/patternfly/components/Table/TableCells/table-cell-overflow-menu.hbs
  src/patternfly/components/Table/TableCells/table-cell-radio.hbs
  src/patternfly/components/Table/TableCells/table-cell-toggle.hbs
  src/patternfly/components/Table/TableCells/table-cell.hbs
  src/patternfly/components/Table/Tree-table/table-tree-view--basic.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-tbody.hbs
  src/patternfly/components/Table/table-thead.hbs
Due: none

fix(table): updated selector construction for th/td
  src/patternfly/components/Check/check-input.hbs
  src/patternfly/components/Check/check.hbs
  src/patternfly/components/DataList/data-list-check.hbs
  src/patternfly/components/Menu/menu-item.hbs
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/Table/TableCells/table-cell-check.hbs
  src/patternfly/components/Table/TableCells/table-cell-toggle.hbs
  src/patternfly/components/Table/TableCells/table-cell.hbs
  src/patternfly/components/Table/Tree-table/table-tree-view--basic.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-tr.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/demos/Table/table-compact-table.hbs
  src/patternfly/demos/Table/table-empty-state-table.hbs
  src/patternfly/demos/Table/table-expandable-table.hbs
  src/patternfly/demos/Table/table-simple-table.hbs
  src/patternfly/demos/Table/table-sortable-table.hbs
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): updated favorite th aria-label, updated favorited icon color variable
  src/patternfly/components/Table/TableCells/table-cell.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-favorite-sort.hbs
  src/patternfly/components/Table/table-th.hbs
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(backstop): update urls
  backstop.config.js
Due: eslint --fix

update
  src/patternfly/components/Table/table-favorite-sort.hbs
Due: none

chore(screenshots): remove broken image
  static/assets/images/pf-logo-small.svg
Due: none

chore(page): clean up modifiers
  src/patternfly/components/Masthead/masthead.hbs
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Wizard/examples/Wizard.md
  src/patternfly/demos/Alert/examples/Alert.md
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/DataList/examples/DataList.md
  src/patternfly/demos/DescriptionList/examples/DescriptionList.md
  src/patternfly/demos/Drawer/examples/drawer-jump-links.hbs
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/demos/Page/page-template-footer.hbs
  src/patternfly/demos/Page/page-template-title.hbs
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/demos/Table/examples/Table.md
  src/patternfly/demos/Tabs/examples/Tabs.md
  src/patternfly/demos/Wizard/examples/Wizard.md
Due: none

Create pf6 beta bug
  .github/ISSUE_TEMPLATE/pf6 beta bug
Due: none

feat(page): remove extra col track at md breakpoint
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): rebase
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): adjust sidebar width
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): move sidebar width to grid and remove modifier
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): address comments
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical
