Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

fix(release): update pr-preview to fix gh action
  .github/workflows/pr-preview.yml
Due: none

fix(release): dry run patch releases (#5978)
  .github/workflows/pr-preview.yml
  .github/workflows/release.yml
  release.config.js
Due: eslint --fix

update
  src/patternfly/components/Check/examples/Check.md
  src/patternfly/components/Radio/examples/Radio.md
  yarn.lock
Due: none

update
  src/patternfly/components/Select/__select-checkbox-checked.hbs
  src/patternfly/components/Select/__select-checkbox-counts.hbs
  src/patternfly/components/Select/__select-checkbox-groups-checked.hbs
  src/patternfly/components/Select/__select-checkbox-groups.hbs
  src/patternfly/components/Select/select-menu-item-check.hbs
Due: none

chore(radio): updates
  src/patternfly/components/Radio/examples/Radio.md
  src/patternfly/components/Radio/radio-input.hbs
Due: none

fix(check-radio): added aria-describedby to check/radio (#5969)
  src/patternfly/components/Check/check-body.hbs
  src/patternfly/components/Check/check-description.hbs
  src/patternfly/components/Check/check-input.hbs
  src/patternfly/components/Check/check-label.hbs
  src/patternfly/components/Check/check.hbs
  src/patternfly/components/Check/examples/Check.md
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle--check.hbs
  src/patternfly/components/Radio/examples/Radio.md
  src/patternfly/components/Radio/radio-body.hbs
  src/patternfly/components/Radio/radio-description.hbs
  src/patternfly/components/Radio/radio-input.hbs
  src/patternfly/components/Radio/radio-label.hbs
  src/patternfly/components/Radio/radio.hbs
  src/patternfly/components/Select/__select-checkbox-checked.hbs
  src/patternfly/components/Select/__select-checkbox-counts.hbs
  src/patternfly/components/Select/__select-checkbox-groups-checked.hbs
  src/patternfly/components/Select/__select-checkbox-groups.hbs
  src/patternfly/components/Select/select-menu-item-check.hbs
  yarn.lock
Due: none

chore(tokens): makes prefix for token version
  .stylelintrc
  src/patternfly/base/_globals.scss
  src/patternfly/base/tokens/_tokens-dark.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/base/tokens/_tokens-palette.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Content/content.scss
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/sass-utilities/_init.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(brand): update svg fill color for white logo
  src/patternfly/assets/images/pf_logo_white.svg
Due: none

fix(brand): update responsive
  src/patternfly/components/Brand/brand.scss
  static/assets/images/logo__pf--reverse-on-md.svg
  static/assets/images/pf-c-brand__logo-on-lg.svg
  static/assets/images/pf-c-brand__logo-on-md.svg
  static/assets/images/pf-c-brand__logo-on-sm.svg
  static/assets/images/pf-c-brand__logo-on-xl.svg
  static/assets/images/pf-c-brand__logo.svg
  static/assets/images/pf_logo.svg
Due: stylelint --fix --config=.stylelintrc_logical

fix(flex): wip spacing
  src/patternfly/layouts/Flex/flex.scss
Due: stylelint --fix --config=.stylelintrc_logical

revert(flex): checkout flex file from main
  src/patternfly/layouts/Flex/flex.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(brand): revert images to black fill
  static/assets/images/pf-c-brand__logo-on-lg.svg
  static/assets/images/pf-c-brand__logo-on-md.svg
  static/assets/images/pf-c-brand__logo-on-xl.svg
  static/assets/images/pf-c-brand__logo.svg
  static/assets/images/pf_logo.svg
Due: none

chore(card/brand): updates
  src/patternfly/assets/images/pf_logo_white.hbs
  src/patternfly/components/Brand/brand.hbs
  src/patternfly/components/Brand/brand.scss
  src/patternfly/components/Brand/examples/Brand.css
  src/patternfly/components/Brand/examples/Brand.md
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
  src/patternfly/components/Card/themes/dark/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(brand): changes from meeting with mnolting and mcoker
  src/patternfly/components/Brand/brand.hbs
  src/patternfly/components/Brand/brand.scss
  src/patternfly/components/Brand/examples/Brand.css
  src/patternfly/components/Brand/examples/Brand.md
  static/assets/images/pf-c-brand__logo-on-lg-white.svg
  static/assets/images/pf-c-brand__logo-on-md-white.svg
  static/assets/images/pf-c-brand__logo-on-sm-white.svg
  static/assets/images/pf-c-brand__logo-on-xl-white.svg
Due: stylelint --fix --config=.stylelintrc_logical

fix(brand): remove unused code
  src/patternfly/components/Brand/brand.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(brand): update basic example
  src/patternfly/components/Brand/brand.hbs
  src/patternfly/components/Brand/brand.scss
  src/patternfly/components/Brand/examples/Brand.md
  static/assets/images/pf_logo_white.svg
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): fix card examples with brand)
  src/patternfly/assets/images/pf_logo_white.svg
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
  src/patternfly/components/Card/themes/dark/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(brand): remove unnecessary class
  src/patternfly/components/Brand/examples/Brand.md
Due: none

chore(brand/card): update examples to display logo in dark theme (#5681)
  src/patternfly/assets/images/pf_logo_white.hbs
  src/patternfly/assets/images/pf_logo_white.svg
  src/patternfly/components/Brand/brand.hbs
  src/patternfly/components/Brand/examples/Brand.css
  src/patternfly/components/Brand/examples/Brand.md
  src/patternfly/components/Card/examples/Card.md
  static/assets/images/logo__pf--reverse-on-md.svg
  static/assets/images/pf-c-brand__logo-on-lg-white.svg
  static/assets/images/pf-c-brand__logo-on-md-white.svg
  static/assets/images/pf-c-brand__logo-on-sm-white.svg
  static/assets/images/pf-c-brand__logo-on-xl-white.svg
  static/assets/images/pf_logo_white.svg
Due: none

fix(input): updated docs
  src/patternfly/components/Toolbar/examples/Toolbar.md
Due: none

fix(input-alignment): fixes vertical alignment
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Check/examples/Check.css
  src/patternfly/components/Check/examples/Check.md
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Radio/examples/Radio.css
  src/patternfly/components/Radio/examples/Radio.md
  src/patternfly/components/Radio/radio.hbs
  src/patternfly/components/Radio/radio.scss
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-th.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar-item.hbs
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Form/examples/BasicForms.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(input-alignment): added display declaration
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Check/examples/Check.css
  src/patternfly/components/Check/examples/Check.md
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/Radio/examples/Radio.css
  src/patternfly/components/Radio/examples/Radio.md
  src/patternfly/components/Radio/radio.hbs
  src/patternfly/components/Radio/radio.scss
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/demos/Form/examples/BasicForms.md
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Check/examples/Check.md
  src/patternfly/components/Radio/examples/Radio.md
Due: none

fix(input): standardized check and radio alignment (#5947)
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Radio/radio.scss
  src/patternfly/components/Table/table-th.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar-item.hbs
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(tokens): add dark theme blend mode token
  src/patternfly/base/tokens/_tokens-font.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update button.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(button): add some penta styles
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(Switch): updated focus style to focus-visible
  src/patternfly/components/Switch/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(tokens): add dark theme blend mode token (#5992)
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(notificationBadge): logical properties
  src/patternfly/components/NotificationBadge/notification-badge.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(notificationBadge): refactor with tokens
  src/patternfly/components/NotificationBadge/examples/NotificationBadge.css
  src/patternfly/components/NotificationBadge/examples/NotificationBadge.md
  src/patternfly/components/NotificationBadge/notification-badge.scss
  src/patternfly/components/NotificationBadge/themes/dark/notification-badge.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(notificationBadge): preparing to use button
  src/patternfly/components/NotificationBadge/notification-badge.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(alert): apply tokens
  src/patternfly/components/Alert/alert-group.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Alert/themes/dark/alert.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(notificationBadge): refactor with tokens (#5991)
  src/patternfly/components/NotificationBadge/examples/NotificationBadge.css
  src/patternfly/components/NotificationBadge/examples/NotificationBadge.md
  src/patternfly/components/NotificationBadge/notification-badge.scss
  src/patternfly/components/NotificationBadge/themes/dark/notification-badge.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(masthead): added tokens
  src/patternfly/components/Masthead/examples/masthead.md
  src/patternfly/components/Masthead/masthead-brand.hbs
  src/patternfly/components/Masthead/masthead-logo.hbs
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Masthead/themes/dark/masthead.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Masthead/masthead-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(masthead): removed logo dupe ids
  src/patternfly/components/Masthead/masthead-logo.hbs
Due: none

chore(masthead): updated base token to semantic
  src/patternfly/components/Masthead/masthead.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Masthead/masthead-logo.hbs
  src/patternfly/components/Masthead/masthead-logo.hbs
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
