Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

fix(toolbar): moved expanded bg to masthead
  src/patternfly/components/Masthead/masthead.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(toolbar): added padding to expandable content
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): added page vars to :root
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): added dark vars to root
  src/patternfly/components/Page/themes/dark/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Page/themes/dark/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(formcontrol): move borders, add outline offset
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/FormControl/themes/dark/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(formcontrol): add back textarea height
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): moved vars to root (#5637)
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Page/themes/dark/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(Nav): updated spacing for grouped nav
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(nav): updated spacing
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(nav): rename vars
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(nav): remove refs to no-title class
  src/patternfly/components/Nav/examples/Navigation.md
Due: none

fix(form-control): move borders to pseudo element, remove extra css (#5641)
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/FormControl/themes/dark/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(nav): removed example
  src/patternfly/components/Nav/examples/Navigation.md
Due: none

fix(Nav): updated spacing for grouped nav (#5607)
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(toolbar): moved background to ::before, updated positioning/padding (#5611)
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Toolbar/toolbar-item-search-filter.hbs
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(deprecations): deprecate PageHeader and add banner to other deprecated components (#5626)
  package.json
  patternfly-docs/patternfly-docs.source.js
  scripts/gulp/copy.mjs
  src/patternfly/components/Alert/examples/Alert.md
  src/patternfly/components/AppLauncher/deprecated/application-launcher.css
  src/patternfly/components/AppLauncher/deprecated/application-launcher.md
  src/patternfly/components/AppLauncher/examples/application-launcher.css
  src/patternfly/components/Card/examples/Card.md
  src/patternfly/components/Chip/examples/Chip.md
  src/patternfly/components/ContextSelector/deprecated/context-selector.css
  src/patternfly/components/ContextSelector/deprecated/context-selector.md
  src/patternfly/components/ContextSelector/examples/context-selector.css
  src/patternfly/components/Label/examples/Label.md
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/OptionsMenu/deprecated/options-menu.css
  src/patternfly/components/OptionsMenu/deprecated/options-menu.md
  src/patternfly/components/OptionsMenu/examples/options-menu.css
  src/patternfly/components/Page/deprecated/PageHeader.css
  src/patternfly/components/Page/deprecated/PageHeader.md
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/demos/ContextSelector/examples/ContextSelector.md
  src/patternfly/demos/Dashboard/examples/Dashboard.md
  src/patternfly/demos/Nav/examples/Nav.md
  yarn.lock
Due: eslint --fix

chore(release): update release config to look at main branch
  .github/workflows-src/partials/build-test.yml
  .github/workflows-src/pr-preview.yml
  .github/workflows-src/release.yml
  .github/workflows/release.yml
  release.config.js
Due: eslint --fix

chore(release): update release config to look at main branch (#5644)
  .github/workflows-src/partials/build-test.yml
  .github/workflows-src/pr-preview.yml
  .github/workflows-src/release.yml
  .github/workflows/release.yml
  release.config.js
Due: eslint --fix

fix(release): release from v4 branch
  .github/workflows/release.yml
  package.json
  release.config.js
Due: eslint --fix

fix(release): update references to branch name
  .github/workflows/pr-preview.yml
Due: none

fix(release): dryrun true
  .github/workflows/pr-preview.yml
  release.config.js
Due: eslint --fix

Update pr-preview.yml
  .github/workflows/pr-preview.yml
Due: none

Update release.config.js
  release.config.js
Due: eslint --fix

fix(release): release from v4 branch (#5645)
  .github/workflows/release.yml
  package.json
  release.config.js
Due: eslint --fix

Testing name change and removing content to prepare for updated notes.
  UPGRADE-GUIDE.md
  major-release-notes.md
Due: none

fix: white space change to trigger dryrun
  RELEASE-NOTES.md
Due: none

chore(release): turn off dry run on v4
  release.config.js
Due: eslint --fix

chore(release): turn off dry run on main
  release.config.js
Due: eslint --fix

fix(relelase): create prerelease candidates for v5 with dryrun
  release.config.js
Due: eslint --fix

Create promote.yml
  .github/workflows/promote.yml
Due: none

Update promote.yml
  .github/workflows/promote.yml
Due: none

Update upload-preview.js
  .github/upload-preview.js
Due: eslint --fix

fix(relelase): create prerelease candidates for v5 with dryrun (#5647)
  .github/upload-preview.js
  .github/workflows/pr-preview.yml
  .github/workflows/promote.yml
  release.config.js
Due: eslint --fix
