Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

fix(flex): add & to :last-child
  src/patternfly/layouts/Flex/flex.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(flex): add removed caret from :last-child
  src/patternfly/layouts/Flex/flex.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(flex): removed :flex > :flex > :flex
  src/patternfly/layouts/Flex/flex.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(motion): fix up brain farts and a conflict
  src/patternfly/components/Card/card.scss
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update multiple-file-upload-status-progress-icon.hbs
  src/patternfly/components/MultipleFileUpload/multiple-file-upload-status-progress-icon.hbs
Due: none

feat(tokens): add temporary color token for debugging use (#7005)
  src/patternfly/base/tokens/tokens-local.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(motion): fix spacing
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(about-modal): moved bidirect style to component scope
  src/patternfly/components/AboutModalBox/about-modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): updated thead td to th (#6689)
  scripts/helpers.mjs
  src/patternfly/components/Check/check-input.hbs
  src/patternfly/components/Check/check.hbs
  src/patternfly/components/Menu/menu-item.hbs
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/Table/TableCells/table-cell-action.hbs
  src/patternfly/components/Table/TableCells/table-cell-check.hbs
  src/patternfly/components/Table/TableCells/table-cell-empty.hbs
  src/patternfly/components/Table/TableCells/table-cell-overflow-menu.hbs
  src/patternfly/components/Table/TableCells/table-cell-radio.hbs
  src/patternfly/components/Table/TableCells/table-cell-toggle.hbs
  src/patternfly/components/Table/TableCells/table-cell.hbs
  src/patternfly/components/Table/Tree-table/table-tree-view--basic.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-tbody.hbs
  src/patternfly/components/Table/table-th.hbs
  src/patternfly/components/Table/table-thead.hbs
  src/patternfly/components/Table/table-tr.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Toolbar/toolbar-toggle.hbs
  src/patternfly/demos/Table/table-compact-table.hbs
  src/patternfly/demos/Table/table-empty-state-table.hbs
  src/patternfly/demos/Table/table-expandable-table.hbs
  src/patternfly/demos/Table/table-simple-table.hbs
  src/patternfly/demos/Table/table-sortable-table.hbs
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

feat(various): remove hardcoded namespace
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Sidebar/sidebar.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/sass-utilities/mixins.scss
  src/patternfly/utilities/Sizing/sizing.scss
  src/patternfly/utilities/Text/text.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/utilities/Text/text.scss
  src/patternfly/utilities/Text/text.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(jumplinks): fixed outdated hbs for jump link toggle in demo
  src/patternfly/components/JumpLinks/jump-links-header.hbs
  src/patternfly/demos/Drawer/examples/drawer-jump-links.hbs
Due: none

fix(page): fix page main overflow
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(jumplinks): fixed outdated hbs for jump link toggle in demo (#7024)
  src/patternfly/components/JumpLinks/jump-links-header.hbs
  src/patternfly/demos/Drawer/examples/drawer-jump-links.hbs
Due: none

fix(various): remove hardcoded namespace (#7023)
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Sidebar/sidebar.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/sass-utilities/mixins.scss
  src/patternfly/utilities/Sizing/sizing.scss
  src/patternfly/utilities/Text/text.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(page): fix demo id, fixes masthead logo
  src/patternfly/demos/Table/examples/Table.md
Due: none

chore(page): fix demo id, fixes masthead logo (#7027)
  src/patternfly/demos/Table/examples/Table.md
Due: none

fix(motion): replace old local animation tokens with new motion tokens (#6961)
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/Form/form.scss
  src/patternfly/components/JumpLinks/jump-links.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(backstop): update false positive
  backstop_data/bitmaps_reference/pf-core__patterns_primary-detail_html-demos_primary-detail-collapsed_0_document_0_mobile.png
Due: none

Updated for migrating v6 branch to main.
  .github/workflows/promote.yml
  .github/workflows/release.yml
  release.config.js
Due: eslint --fix

fix: Updated to publish v6 prerelease.
  package.json
Due: none

fix: Updated release config.js
  package.json
  release.config.js
Due: eslint --fix

fix(force-reflow): removed --Display vars
  src/patternfly/components/Button/button.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/DescriptionList/description-list.scss
  src/patternfly/components/Divider/divider.scss
  src/patternfly/components/JumpLinks/jump-links.scss
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/MultipleFileUpload/multiple-file-upload.scss
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Sidebar/sidebar.hbs
  src/patternfly/components/Sidebar/sidebar.scss
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/TreeView/tree-view.scss
  src/patternfly/layouts/Flex/flex.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(button): add min-width
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: Test deploy to npm.
  README.md
Due: none

fix: Update README.md
  README.md
Due: none

Disabled dry run.
  release.config.js
Due: eslint --fix

Updated pr-preview.
  .github/workflows/pr-preview.yml
Due: none

fixed pr-preview.yaml.
  .history/.github/workflows/pr-preview_20240904140542.yml
  .history/.github/workflows/pr-preview_20240904145747.yml
  .history/.github/workflows/pr-preview_20240904145754.yml
  .history/.github/workflows/pr-preview_20240904145759.yml
  .history/.github/workflows/pr-preview_20240904145946.yml
  .history/.github/workflows/pr-preview_20240904145951.yml
  .history/.github/workflows/pr-preview_20240904145956.yml
  .history/release.config_20240904140543.js
  .history/release.config_20240904144756.js
  .history/release.config_20240904144759.js
  .history/release.config_20240904144800.js
Due: eslint --fix

chore: Fixed to reference main instead of v6 for PR preview.
  .github/workflows/pr-preview.yml
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
