Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  76/55b908041d1a738f7318bd9c0f288429abc3e3
Due: none

fix(Table): favorite icon styles (#6926)
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  b7/8369ed2860bfcc4510122e9cd41c8f30a59b9a
Due: none

Update and rename PF6_alpha_bug_request.md to PF6_beta_bug_request.md
  .github/ISSUE_TEMPLATE/PF6_beta_bug_request.md
Due: none

Update and rename PF6_alpha_bug_request.md to PF6_beta_bug_request.md (#6935)
  .github/ISSUE_TEMPLATE/PF6_beta_bug_request.md
Due: none

chore(pficon): remove v5 font file
  src/patternfly/assets/pficon/pf-v5-pficon.woff2
Due: none

chore(v6): merge main into v6
  .github/workflows/stale.yml
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-desktop_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-desktop_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-desktop_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-mobile_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-mobile_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-mobile_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html_expanded-elements_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html_expanded-elements_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html_expanded-elements_0__2_desktop.png
  src/patternfly/assets/pficon/pf-v5-pficon.woff2
  src/patternfly/components/Form/form.scss
  src/patternfly/components/InlineEdit/examples/InlineEdit.md
  src/patternfly/components/Label/label-content.hbs
  src/patternfly/components/Label/label-template-variants.hbs
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Panel/examples/Panel.md
  src/patternfly/components/Sidebar/examples/Sidebar.css
  src/patternfly/components/Sidebar/examples/Sidebar.md
  src/patternfly/components/TreeView/examples/TreeView.md
  src/patternfly/components/TreeView/tree-view-list-item.hbs
  src/patternfly/components/TreeView/tree-view-list.hbs
  src/patternfly/components/TreeView/tree-view-node-check.hbs
  src/patternfly/components/TreeView/tree-view-node-text.hbs
  src/patternfly/components/TreeView/tree-view-node.hbs
  src/patternfly/utilities/Display/examples/Display.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(merge): cleanup
  src/patternfly/components/Label/label-template-variants.hbs
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/utilities/Display/examples/Display.md
Due: none

chore(merge): cleanup
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
Due: none

chore(backstop): revert backstop stuff to whats on v6
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-desktop_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-desktop_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-desktop_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-mobile_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-mobile_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-mobile_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html_expanded-elements_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html_expanded-elements_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html_expanded-elements_0__2_desktop.png
Due: none

chore(tree-view): tabindex updates
  src/patternfly/components/TreeView/examples/TreeView.md
Due: none

chore(form): fix addl info
  src/patternfly/components/Form/form.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(screenshots): update full-page screenshots
  patternfly-docs/generated/components/jump-links/html-demos/jump-links-in-expanded-drawer.png
  patternfly-docs/generated/components/popover/html/bottom-right.png
  patternfly-docs/generated/components/popover/html/left-bottom.png
  patternfly-docs/generated/components/popover/html/left-top.png
  patternfly-docs/generated/components/skeleton/html-demos/skeleton-card.png
  patternfly-docs/generated/components/table/html-demos/column-management-modal.png
  patternfly-docs/generated/components/wizard/html-demos/nav-expanded-mobile.png
  patternfly-docs/generated/components/wizard/html-demos/with-drawer-expanded.png
  patternfly-docs/generated/components/wizard/html-demos/with-drawer-in-page-expanded.png
  patternfly-docs/generated/components/wizard/html-demos/with-drawer-in-page.png
  patternfly-docs/generated/patterns/dashboard/html-demos/basic.png
Due: none

chore(backstop): update url list
  backstop.config.js
Due: eslint --fix

chore(backstop): check in visual regression report
  backstop_data/bitmaps_reference/pf-core__components_sidebar_html_gutter_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_sidebar_html_padding-on-content_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_sidebar_html_padding-on-panel_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_sidebar_html_responsive-panel-width_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_sidebar_html_responsive-panel-width_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_sidebar_html_responsive-panel-width_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_sidebar_html_split_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_sidebar_html_static-panel_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_sidebar_html_static-panel_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_sidebar_html_sticky-panel_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_sidebar_html_sticky-panel_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_multiselectable_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_multiselectable_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_multiselectable_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_single-selectable_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_single-selectable_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_single-selectable_0_document_2_desktop.png
Due: none

fix(FormControl): updated status hover styling
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

Updated var naming
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(FormControl): updated status hover styling (#6924)
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  50/ad63b98c51baae1fdcebe1557c77e62d575efd
Due: none

chore(deps): update dependencies
  package.json
Due: none

chore(deps): update dependencies
  yarn.lock
Due: none

chore(deps): update dependencies (#6939)
  package.json
  yarn.lock
Due: none

chore(css): minify compiled css
  gulpfile.mjs
  scripts/gulp/sass.mjs
Due: none

fix(:has): removed :has()
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/ToggleGroup/toggle-group.scss
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(TextInputGroup): updated inline padding of icons
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(charts): remove deleted red tokens
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

Updated spacing around status icon
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(): update other outdated token use
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(charts): remove deleted red tokens (#6947)
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  83/6b2df6e52b0e294542266d98e0d99edd0c4bf7
Due: none

fix(MenuToggle): removed nested label elements (#6923)
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle--check.hbs
Due: none

Notes added by 'git notes add'
  bd/d2cc6ea5d1d66773e74935441880783c121df1
Due: none

chore(card): add clickabale clicked styles, fix actionable focused, fix a11y
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): update clickable to use button and anchor
  src/patternfly/components/Card/card--actionable.hbs
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(card): add actionable element aria-labelledby
  src/patternfly/components/Card/card--actionable.hbs
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
