Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

fix(menu): keep description from wrapping mid-word (#5789)
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: update pr-preview workflow node version
  .github/workflows/pr-preview.yml
Due: none

chore: update pr-preview workflow node version (#5794)
  .github/workflows/pr-preview.yml
Due: none

chore: package cleanup
  package.json
  yarn.lock
Due: none

chore: update dependencies to latest
  package.json
  yarn.lock
Due: none

chore: fix build
  .stylelintrc
  scripts/gulp/html.mjs
  scripts/gulp/sass.mjs
Due: none

chore: stylelint fix
  src/patternfly/sass-utilities/placeholders.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: added clarification to Accessiblity sections of Menu and Menu toggle documentation
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
Due: none

fix(form-control): fix disabled placeholder color (#5752)
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: added clarification to Accessiblity sections of Menu and Menu toggle documentation (#5483)
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
Due: none

chore: update dependencies to latest (#5793)
  .stylelintrc
  package.json
  scripts/gulp/html.mjs
  scripts/gulp/sass.mjs
  src/patternfly/sass-utilities/placeholders.scss
  yarn.lock
Due: stylelint --fix --config=.stylelintrc_logical

chore: add superclean npm script
  package.json
Due: none

chore(a11y): update logic for determining URLs to test (#5705)
  patternfly-a11y.config.js
Due: eslint --fix

fix(role): update roles to match React (#5753)
  src/patternfly/components/AppLauncher/app-launcher-menu-item.hbs
  src/patternfly/components/AppLauncher/app-launcher-menu-wrapper.hbs
  src/patternfly/components/AppLauncher/app-launcher-menu.hbs
  src/patternfly/components/AppLauncher/deprecated/application-launcher.md
  src/patternfly/components/ContextSelector/__context-selector-menu-menu.hbs
  src/patternfly/components/ContextSelector/context-selector-menu-list-item.hbs
  src/patternfly/components/ContextSelector/context-selector-menu-menu.hbs
  src/patternfly/components/Dropdown/deprecated/Dropdown.md
  src/patternfly/components/Dropdown/dropdown-menu-item.hbs
  src/patternfly/components/Dropdown/dropdown-menu-list-item.hbs
  src/patternfly/components/Dropdown/dropdown-menu-list.hbs
  src/patternfly/components/Dropdown/dropdown-menu.hbs
  src/patternfly/components/LogViewer/templates/__log-viewer-toolbar.hbs
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/OptionsMenu/options-menu-menu-item.hbs
  src/patternfly/components/OptionsMenu/options-menu-menu.hbs
  src/patternfly/components/OverflowMenu/overflow-menu-control.hbs
  src/patternfly/components/OverflowMenu/overflow-menu-dropdown-item.hbs
  src/patternfly/components/ProgressStepper/progress-stepper-step.hbs
  src/patternfly/components/Select/__select-single.hbs
  src/patternfly/components/Select/select-menu.hbs
  src/patternfly/components/Tabs/tabs-item.hbs
  src/patternfly/components/Tabs/tabs-link.hbs
  src/patternfly/components/Tabs/tabs-list.hbs
  src/patternfly/components/Tabs/tabs.hbs
Due: none

chore(select): updated hidden text
  src/patternfly/components/Select/deprecated/Select.md
  src/patternfly/components/Select/select-toggle-typeahead.hbs
Due: none

feat(breaker): bump this version to 6.0
  .github/upload-preview.js
  .github/workflows/pr-preview.yml
  .github/workflows/release.yml
  package.json
  release.config.js
Due: eslint --fix

feat(breaker): bump this version to 6.0 (#5800)
  .github/upload-preview.js
  .github/workflows/pr-preview.yml
  .github/workflows/release.yml
  package.json
  release.config.js
Due: eslint --fix

chore(select): fixed text in HTML example to show multiple checks can be selected (#5663)
  src/patternfly/components/Select/__select-menu-descriptive.hbs
  src/patternfly/components/Select/deprecated/Select.css
  src/patternfly/components/Select/deprecated/Select.md
  src/patternfly/components/Select/select-toggle-typeahead.hbs
  src/patternfly/components/Select/select.hbs
Due: none

chore: Update release.yml to use node 18
  .github/workflows/release.yml
Due: none

chore: Update release.yml to node 18 [ci skip]
  .github/workflows/release.yml
Due: none

chore: add superclean npm script (#5798)
  package.json
Due: none

chore(options-menu): updated markup to match react component
  src/patternfly/components/OptionsMenu/options-menu-group.hbs
  src/patternfly/components/OptionsMenu/options-menu-list.hbs
  src/patternfly/components/OptionsMenu/options-menu-menu.hbs
  src/patternfly/components/OptionsMenu/options-menu-multiple.hbs
Due: none

chore: updates
  src/patternfly/components/OptionsMenu/options-menu-groups.hbs
  src/patternfly/components/OptionsMenu/options-menu-list.hbs
  src/patternfly/components/OptionsMenu/options-menu-menu-item.hbs
  src/patternfly/components/OptionsMenu/options-menu-multiple.hbs
Due: none

chore(options-menu): updated markup to match react component (#5809)
  src/patternfly/components/OptionsMenu/options-menu-group.hbs
  src/patternfly/components/OptionsMenu/options-menu-groups.hbs
  src/patternfly/components/OptionsMenu/options-menu-list.hbs
  src/patternfly/components/OptionsMenu/options-menu-menu-item.hbs
  src/patternfly/components/OptionsMenu/options-menu-menu.hbs
  src/patternfly/components/OptionsMenu/options-menu-multiple.hbs
Due: none

fix: rebase from main with dryrun (#5810)
  package.json
  src/patternfly/components/OptionsMenu/options-menu-group.hbs
  src/patternfly/components/OptionsMenu/options-menu-groups.hbs
  src/patternfly/components/OptionsMenu/options-menu-list.hbs
  src/patternfly/components/OptionsMenu/options-menu-menu-item.hbs
  src/patternfly/components/OptionsMenu/options-menu-menu.hbs
  src/patternfly/components/OptionsMenu/options-menu-multiple.hbs
  src/patternfly/components/Select/__select-menu-descriptive.hbs
  src/patternfly/components/Select/deprecated/Select.css
  src/patternfly/components/Select/deprecated/Select.md
  src/patternfly/components/Select/select-toggle-typeahead.hbs
  src/patternfly/components/Select/select.hbs
Due: none

fix: white space change to kick off dry run
  CODE_OF_CONDUCT.md
Due: none

fix: use prerelease tag format with dry run
  release.config.js
Due: eslint --fix

fix: turn off dryrun
  release.config.js
Due: eslint --fix

fix: updated use of flex start/end to be more compatible
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/Label/label-group.scss
  src/patternfly/components/ProgressStepper/progress-stepper.scss
  src/patternfly/components/Sidebar/sidebar.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: updated use of flex start/end to be more compatible (#5807)
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/Label/label-group.scss
  src/patternfly/components/ProgressStepper/progress-stepper.scss
  src/patternfly/components/Sidebar/sidebar.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Tokens): add initial global tokens
  src/patternfly/base/_variables.scss
  src/patternfly/base/tokens/_tokens-dark.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: backstop
  backstop.config.js
  backstop.js
  backstop_data/bitmaps_reference/pf-core__components_masthead_html-demos_horizontal-nav_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_masthead_html-demos_horizontal-nav_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_masthead_html-demos_horizontal-nav_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html-demos_horizontal-nav-with-horizontal-subnav_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html-demos_horizontal-nav-with-horizontal-subnav_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html-demos_horizontal-nav-with-horizontal-subnav_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html-demos_horizontal-nav_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html-demos_horizontal-nav_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html-demos_horizontal-nav_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_page_html-deprecated_horizontal-nav_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_page_html-deprecated_horizontal-nav_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_page_html-deprecated_horizontal-nav_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_page_html_horizontal-nav_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_page_html_horizontal-nav_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_page_html_horizontal-nav_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_progress-stepper_html_compact-vertical-centered_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_progress-stepper_html_compact-vertical-centered_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_progress-stepper_html_compact-vertical-responsive_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_progress-stepper_html_compact-vertical_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_progress-stepper_html_compact-vertical_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_table_html_clickable-and-expandable-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_table_html_clickable-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_table_html_width-modifiers-examples_0_document_0_mobile.png
Due: eslint --fix

chore: update label padding
  src/patternfly/components/Label/label.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: backstop updates
  backstop.config.js
  backstop_data/bitmaps_reference/pf-core__components_masthead_html-demos_horizontal-nav_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html-demos_horizontal-nav_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_progress-stepper_html_compact-vertical-centered_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_progress-stepper_html_compact-vertical-centered_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_progress-stepper_html_compact-vertical-responsive_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_progress-stepper_html_compact-vertical_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_progress-stepper_html_compact-vertical_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_table_html_clickable-and-expandable-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_table_html_clickable-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_table_html_width-modifiers-examples_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-baseline-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-baseline-example_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-baseline-example_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-center-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-center-example_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-center-example_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-stretch-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-stretch-example_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_aligning-nested-columns-with-pf-m-align-self-stretch-example_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_alignment-using-pf-m-align-self-flex-end-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_alignment-using-pf-m-align-self-flex-end-example_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__layouts_flex_html_alignment-using-pf-m-align-self-flex-end-example_0_document_2_desktop.png
  src/patternfly/components/Accordion/accordion.scss
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore: backstop updates
  backstop.config.js
  backstop.js
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/Table/table-scrollable.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/utilities/Float/float.scss
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore: whitespace
  .eslintignore
Due: none

chore: backstop config
  backstop.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
