Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

feat(Wizard): set flexbasis with height var (#6608)
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  bca13e1f52ee47bd275a18581a2ee912935bc1ee
Due: none

fix(hint): top-align hint actions (#6617)
  src/patternfly/components/Hint/hint.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  c971d07236eb49115f73dd92106d9aa57e23aeae
Due: none

fix(page): remove bottom section padding
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(brand): adjust brand size (#6628)
  src/patternfly/components/AboutModalBox/about-modal-box.scss
  src/patternfly/components/Brand/examples/Brand.md
  src/patternfly/components/Masthead/masthead-logo.hbs
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  22907026060753770ecf036afe4ab2b52076356f
Due: none

fix(breakpoints): add css variables for breakpoints
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/sass-utilities/scss-variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(badge): move transparent border to badge
  src/patternfly/components/Badge/badge.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(display-utility): added grid, inline-grid, docs
  src/patternfly/utilities/Display/display.scss
  src/patternfly/utilities/Display/examples/Display.css
  src/patternfly/utilities/Display/examples/Display.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(breakpoints): add css variables for breakpoints (#6636)
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/sass-utilities/scss-variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  f4fbdbccd5c9857a683915eb1f611deb8a7cb58e
Due: none

fix(display-utility): added grid, inline grid, docs
  src/patternfly/utilities/Display/display.scss
  src/patternfly/utilities/Display/examples/Display.css
  src/patternfly/utilities/Display/examples/Display.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(menus): removed deprecated menus
  src/patternfly/components/AppLauncher/app-launcher.scss
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/ContextSelector/context-selector.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/Hint/hint.scss
  src/patternfly/components/Login/login.scss
  src/patternfly/components/OptionsMenu/options-menu.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Select/select.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/_index.scss
  src/patternfly/sass-utilities/namespaces-components.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menus): removed deprecated menus (#6641)
  src/patternfly/components/AppLauncher/app-launcher.scss
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/ContextSelector/context-selector.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/Hint/hint.scss
  src/patternfly/components/Login/login.scss
  src/patternfly/components/OptionsMenu/options-menu.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Select/select.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/_index.scss
  src/patternfly/sass-utilities/namespaces-components.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  8fff3ea214ccadac352f14d58931da59c6392615
Due: none

fix(chip): removed chip, chip group, references
  src/patternfly/components/Chip/chip-actions.hbs
  src/patternfly/components/Chip/chip-content.hbs
  src/patternfly/components/Chip/chip-group-close.hbs
  src/patternfly/components/Chip/chip-group-label.hbs
  src/patternfly/components/Chip/chip-group-list-item.hbs
  src/patternfly/components/Chip/chip-group-list.hbs
  src/patternfly/components/Chip/chip-group-main.hbs
  src/patternfly/components/Chip/chip-group.hbs
  src/patternfly/components/Chip/chip-group.scss
  src/patternfly/components/Chip/chip-icon.hbs
  src/patternfly/components/Chip/chip-text.hbs
  src/patternfly/components/Chip/chip.hbs
  src/patternfly/components/Chip/chip.scss
  src/patternfly/components/Chip/examples/Chip.md
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/components/TextInputGroup/text-input-group--label-group.hbs
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/templates/toolbar--chip-group.hbs
  src/patternfly/components/Toolbar/templates/toolbar--item-label-group.hbs
  src/patternfly/components/Toolbar/templates/toolbar--label-group.hbs
  src/patternfly/components/Toolbar/toolbar-group.hbs
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/components/_index.scss
  src/patternfly/demos/Toolbar/examples/Toolbar.md
  src/patternfly/sass-utilities/namespaces-components.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(chip): removed chip, chip group, references (#6638)
  src/patternfly/components/Chip/chip-actions.hbs
  src/patternfly/components/Chip/chip-content.hbs
  src/patternfly/components/Chip/chip-group-close.hbs
  src/patternfly/components/Chip/chip-group-label.hbs
  src/patternfly/components/Chip/chip-group-list-item.hbs
  src/patternfly/components/Chip/chip-group-list.hbs
  src/patternfly/components/Chip/chip-group-main.hbs
  src/patternfly/components/Chip/chip-group.hbs
  src/patternfly/components/Chip/chip-group.scss
  src/patternfly/components/Chip/chip-icon.hbs
  src/patternfly/components/Chip/chip-text.hbs
  src/patternfly/components/Chip/chip.hbs
  src/patternfly/components/Chip/chip.scss
  src/patternfly/components/Chip/examples/Chip.md
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/components/TextInputGroup/text-input-group--label-group.hbs
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/templates/toolbar--chip-group.hbs
  src/patternfly/components/Toolbar/templates/toolbar--item-label-group.hbs
  src/patternfly/components/Toolbar/templates/toolbar--label-group.hbs
  src/patternfly/components/Toolbar/toolbar-group.hbs
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/components/_index.scss
  src/patternfly/demos/Toolbar/examples/Toolbar.md
  src/patternfly/sass-utilities/namespaces-components.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  d2c5998b87382be369f072e26eb539a6e4b741d3
Due: none

fix(charts): add tokens
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(badge): add disabled modifier
  src/patternfly/components/Badge/badge.hbs
  src/patternfly/components/Badge/badge.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Button/examples/Button.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(badge): document disabled badge
  src/patternfly/components/Badge/badge.scss
  src/patternfly/components/Badge/examples/Badge.md
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(charts): add tokens (#6644)
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  5172006fbf9238ae11aa4898d0454ca82b9b5154
Due: none

chore(badge): fix disabled text color token
  src/patternfly/components/Badge/badge.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu-toggle): resolving build issues
  src/patternfly/components/LogViewer/templates/__log-viewer-dropdown-menu.hbs
  src/patternfly/components/LogViewer/templates/__log-viewer-menu-toggle.hbs
  src/patternfly/components/LogViewer/templates/__log-viewer-toolbar.hbs
  src/patternfly/components/NotificationDrawer/notification-drawer-basic-list.hbs
  src/patternfly/demos/NotificationDrawer/examples/NotificationDrawer.md
Due: none

chore(menu-toggle): removed expanded menus
  src/patternfly/components/Hint/examples/Hint.md
  src/patternfly/components/Hint/hint-menu-toggle.hbs
  src/patternfly/components/LogViewer/examples/LogViewer.md
  src/patternfly/components/LogViewer/templates/__log-viewer-dropdown-menu.hbs
  src/patternfly/components/LogViewer/templates/__log-viewer-menu-toggle.hbs
  src/patternfly/components/LogViewer/templates/__log-viewer-toolbar.hbs
  src/patternfly/components/Menu/templates/menu-breadcrumbs--Drilldown.hbs
  src/patternfly/components/Menu/templates/menu-breadcrumbs--dropdown.hbs
  src/patternfly/components/OverflowMenu/examples/overflow-menu.css
  src/patternfly/components/OverflowMenu/examples/overflow-menu.md
  src/patternfly/components/OverflowMenu/overflow-menu-menu.hbs
  src/patternfly/components/OverflowMenu/overflow-menu-toggle.hbs
  src/patternfly/components/OverflowMenu/overflow-menu.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Toolbar/templates/toolbar--overflow-menu.hbs
  src/patternfly/components/Toolbar/toolbar-icon-button-group-example.hbs
  src/patternfly/components/Toolbar/toolbar-overflow-menu-example.hbs
  src/patternfly/demos/Tabs/tabs--table-overflow-menu.hbs
  src/patternfly/demos/Toolbar/examples/Toolbar.css
  src/patternfly/demos/Toolbar/examples/Toolbar.md
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: none

chore(menu-toggle): updated ids
  scripts/helpers.mjs
  src/patternfly/components/DataList/data-list-action.hbs
  src/patternfly/components/Menu/examples/Menu.css
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/OverflowMenu/examples/overflow-menu.css
  src/patternfly/components/OverflowMenu/overflow-menu.hbs
  src/patternfly/components/Toolbar/toolbar-overflow-menu-example.hbs
  src/patternfly/demos/Toolbar/examples/Toolbar.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu-toggle): removed dropdown and menu.css updates
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Hint/hint.scss
  src/patternfly/components/Login/login.scss
  src/patternfly/components/Menu/examples/Menu.css
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu-toggle): resolving a11y issues
  src/patternfly/components/Hint/examples/Hint.md
  src/patternfly/components/LogViewer/templates/__log-viewer-dropdown-menu.hbs
  src/patternfly/components/LogViewer/templates/__log-viewer-menu-toggle.hbs
  src/patternfly/components/LogViewer/templates/__log-viewer-toolbar-select.hbs
  src/patternfly/components/LogViewer/templates/__log-viewer-toolbar.hbs
  src/patternfly/components/Menu/menu-new.hbs
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/NotificationDrawer/examples/NotificationDrawer.md
  src/patternfly/components/NotificationDrawer/notification-drawer-basic-list.hbs
  src/patternfly/demos/NotificationDrawer/examples/NotificationDrawer.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu-toggle): updated table overflow menu
  backstop.js
  src/patternfly/components/OverflowMenu/overflow-menu.hbs
  src/patternfly/components/Table/TableCells/table-cell-overflow-menu.hbs
  src/patternfly/components/Table/Tree-table/table-tr--tree.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/demos/Page/page-template-drawer-panel.hbs
Due: eslint --fix

chore(menu-toggle): removed errant menu-item
  src/patternfly/components/ActionList/examples/ActionList.md
  src/patternfly/components/LogViewer/templates/__log-viewer-toolbar.hbs
  src/patternfly/components/OverflowMenu/examples/overflow-menu.md
  src/patternfly/components/Toolbar/templates/toolbar--overflow-menu.hbs
  src/patternfly/components/Toolbar/toolbar-overflow-menu-example.hbs
  src/patternfly/demos/Card/card-template-gallery.hbs
  src/patternfly/demos/Card/templates/card-demo--template-gallery.hbs
  src/patternfly/demos/Card/templates/card-template-expandable-status.hbs
  src/patternfly/demos/Page/page-template-drawer-panel.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-view.hbs
  src/patternfly/demos/Tabs/tabs--table-overflow-menu.hbs
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: none

fix(charts): include tokens in charts css, typos
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(charts): include tokens in charts css, typos (#6650)
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  5d87c937585539ea75795ab06bd20063d2a6cfb2
Due: none

fix(display-utility): added grid, inline grid, docs (#6637)
  src/patternfly/utilities/Display/display.scss
  src/patternfly/utilities/Display/examples/Display.css
  src/patternfly/utilities/Display/examples/Display.md
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  8ddb9527845787fe2bd190a7d71bc2cc8bc18c05
Due: none

fix(display-utility): added grid, inline-grid, docs (#6635)
  src/patternfly/utilities/Display/display.scss
  src/patternfly/utilities/Display/examples/Display.css
  src/patternfly/utilities/Display/examples/Display.md
Due: stylelint --fix --config=.stylelintrc_logical

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
