Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

fix: Update README.md
  README.md
Due: none

Notes added by 'git notes add'
  b93029abee9117da890c05f219412e3c423d57b4
Due: none

chore(menu-toggle): remove reference to pf-m-action
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.hbs
Due: none

fix(menu-toggle): split button alignment/spacing
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu-toggle): restructure and add some examples
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
Due: none

fix(table): reduce max-width breakpoints 1px
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): sets secondary menu-toggle background-color transparent except for disabled
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(CodeEditor): add code editor container
  src/patternfly/components/CodeEditor/code-editor-container.hbs
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
Due: none

chore(CodeEditor): add additional styles for example and container
  src/patternfly/components/CodeEditor/code-editor-container.hbs
  src/patternfly/components/CodeEditor/code-editor.scss
  src/patternfly/components/CodeEditor/examples/CodeEditor.css
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
Due: stylelint --fix --config=.stylelintrc_logical

Update PF6_alpha_bug_request.md
  .github/ISSUE_TEMPLATE/PF6_alpha_bug_request.md
Due: none

Update .github/ISSUE_TEMPLATE/PF6_alpha_bug_request.md
  .github/ISSUE_TEMPLATE/PF6_alpha_bug_request.md
Due: none

fix(table-th-td): changed th, td target to table__th, table__td
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(charts): charts should have rounded corners
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  50afcae4bc324ed597b402a923973486c97ac76a
Due: none

fix(menu-toggle): sets secondary menu-toggle background-color transparent except for disabled (#7140)
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  98daf38b464e21a32fe71d275cca0c3530d46087
Due: none

fix(page): apply bottom padding to page breadcrumb and horizontal subnav elements
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

Create SECURITY.mdb93029abee9117da890c05f219412e3c423d57b4
  SECURITY.md
Due: none

fix(charts): charts should have rounded corners (#7149)
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  42db5f3be828c93942814957b663671e8374fffd
Due: none

fix(table): subtract 1px from max-width breakpoints
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/sass-utilities/functions.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(ci): enable dryrun mode for release
  release.config.js
Due: eslint --fix

chore(ci): enable dryrun mode for release CI
  release.config.js
Due: eslint --fix

chore(ci): reenable release CD
  release.config.js
Due: eslint --fix

chore(ci): reenable release CD (#7173)
  release.config.js
Due: eslint --fix

Notes added by 'git notes add'
  851587fe6a47b10a3a77ed0219528a8f88c149f8
Due: none

fix(table-text): updated truncate value
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tile): mark tile as deprecated
  src/patternfly/components/Tile/examples/Tile.md
Due: none

chore(tile): rename examples dir to deprecated
  src/patternfly/components/Tile/deprecated/Tile.css
  src/patternfly/components/Tile/deprecated/Tile.md
Due: none

chore(github): update issue templates
  .github/ISSUE_TEMPLATE/PF6_alpha_bug_request.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/devX_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/tech_debt_request.md
Due: none

chore(CodeEditor): add additional styles for example and container
  src/patternfly/components/CodeEditor/code-editor-code.hbs
  src/patternfly/components/CodeEditor/code-editor-container.hbs
  src/patternfly/components/CodeEditor/code-editor.scss
  src/patternfly/components/CodeEditor/examples/CodeEditor.css
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu-toggle): fix unique ids
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
Due: none

chore(tile): mark tile as deprecated (#7178)
  src/patternfly/components/Tile/deprecated/Tile.css
  src/patternfly/components/Tile/deprecated/Tile.md
Due: none

fix(page): apply bottom padding to page breadcrumb and horizontal subnav elements (#7152)
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical
