Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

fix(charts): color/token updates (#6691)
  src/patternfly/patternfly-charts.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  67bd445008f3276f4613432ed414db17569f21e5
Due: none

chore(Badge/MenuToggle): updated styling
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Breadcrumb/examples/Breadcrumb.md
  src/patternfly/components/Menu/templates/menu-breadcrumbs--dropdown.hbs
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

Added text modifier class
  src/patternfly/components/Breadcrumb/examples/Breadcrumb.md
  src/patternfly/components/Menu/templates/menu-breadcrumbs--dropdown.hbs
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
Due: none

Updated margin tokens for breadcrumb dropdown
  src/patternfly/components/Breadcrumb/breadcrumb.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(Breadcrumb): fixed lint error
  src/patternfly/components/Breadcrumb/breadcrumb.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(Breadcrumb): renamed var from dropdown to menutoggle
  src/patternfly/components/Breadcrumb/breadcrumb.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(multiple file upload): progress color (#6688)
  src/patternfly/components/MultipleFileUpload/multiple-file-upload.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(Breadcrumb): removed menutoggle vars and styling
  src/patternfly/components/Breadcrumb/breadcrumb.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): remove duplicate border on collapsed expandable rows
  src/patternfly/components/Table/table-grid.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(modal): split padding between header & body
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(box tabs): remove before after border
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(docs): added optional dark theme visual testing
  .gitignore
  backstop.js
  backstop_data/engine_scripts/puppet/addDarkThemeClass.js
  backstop_data/engine_scripts/puppet/onReady.js
Due: eslint --fix

feat(docs): added new cli commands for dark theme testing
  package.json
Due: none

fix(nav): add support for icon, text
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav-link-icon.hbs
  src/patternfly/components/Nav/nav-link-text.hbs
  src/patternfly/components/Nav/nav-link.hbs
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): move borders to pseudoelement
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(button): add color to transition
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): disabled pointer-events on card::before
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(tokens): updated tokens
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(hint): remove extra hint actions space
  src/patternfly/components/Hint/hint.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): update header-main vs actions width
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(tokens): rename file and add no-motion modifier
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/_index.scss
  src/patternfly/base/tokens/tokens-local.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(nav): add support for icon, text (#6704)
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav-link-icon.hbs
  src/patternfly/components/Nav/nav-link-text.hbs
  src/patternfly/components/Nav/nav-link.hbs
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  c5575ddfc869362341cb9f9afa495c111986986d
Due: none

fix(card): update header-main vs actions width (#6710)
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  abc5512ba497e2464661595374085e8b891de025
Due: none

feat(tokens): updated tokens (#6707)
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  75c591fe998b79c0d30ddc1ed0e0bb2bc0356972
Due: none

fix(tokens): move no-motion to common file
  src/patternfly/base/patternfly-common.scss
  src/patternfly/base/tokens/tokens-local.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(hint): update actions margins to match card implementation
  src/patternfly/components/Hint/examples/Hint.md
  src/patternfly/components/Hint/hint.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(tokens): rename file and add no-motion modifier (#6711)
  src/patternfly/base/patternfly-common.scss
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/_index.scss
  src/patternfly/base/tokens/tokens-local.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  c2205c3555a6976b662e57c31ad56218e1883e57
Due: none

chore(box tabs): remove before after border (#6697)
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(deps): update docs framework version
  package.json
  yarn.lock
Due: none

chore(deps): update pf-react packages
  package.json
Due: none

chore(deps): update yarn.lock
  yarn.lock
Due: none

fix(hint): added example with no offset
  src/patternfly/components/Hint/examples/Hint.md
Due: none

chore(deps): update docs framework version (#6726)
  package.json
  yarn.lock
Due: none
