Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore(tokens): adds page border width tokens
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-highcontrast.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): adds page border width tokens (#7761)
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-highcontrast.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(): update layout to prevent shift
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Page): update --BorderOffset to --Padding--offset
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Page): add high contrast border
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Page): use new tokens
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(banner): add high contrast border
  src/patternfly/components/Banner/banner.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Banner/banner.scss
  src/patternfly/components/Banner/banner.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Page): remove media query in favor of calc
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(build): Update pr-preview.yml
  .github/workflows/pr-preview.yml
Due: none

fix(build): Update release.yml
  .github/workflows/release.yml
Due: none

fix(build): update gh action scripts to get build working again (#7764)
  .github/workflows/pr-preview.yml
  .github/workflows/release.yml
Due: none

fix(dependabot): is failing
  package.json
  yarn.lock
Due: none

fix(accordion): fix nested accordion bug
  src/patternfly/components/Accordion/accordion.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(banner): add high contrast border (#7762)
  src/patternfly/components/Banner/banner.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(accordion): remove dupe var
  src/patternfly/components/Accordion/accordion.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(Config): updated hasDarkThemeSwitcher var
  patternfly-docs/patternfly-docs.config.js
Due: eslint --fix

chore(Config): updated hasDarkThemeSwitcher var (#7766)
  patternfly-docs/patternfly-docs.config.js
Due: eslint --fix

fix(accordion): fix nested accordion bug (#7752)
  src/patternfly/components/Accordion/accordion.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  d7/e28f112acf5bf1a97786b6cb7e75e54e7634ad
Due: none

chore(deps): remove yarn install state file
  .yarn/install-state.gz
Due: none

chore(DataList): provided context for demo icons (#7750)
  src/patternfly/demos/DataList/data-list--icon-text.hbs
  src/patternfly/demos/DataList/data-list-content-1.hbs
  src/patternfly/demos/DataList/data-list-content-2.hbs
  src/patternfly/demos/DataList/data-list-content-4.hbs
  src/patternfly/demos/DataList/data-list-content-5.hbs
Due: none

feat(DataList): remove li aria, update ids
  src/patternfly/components/DataList/data-list-item.hbs
  src/patternfly/components/DataList/examples/DataList.md
Due: none

fix(DataList): remove extra hyphen
  src/patternfly/components/DataList/examples/DataList.md
Due: none

fix(DataList): fix arialabelledby ids
  src/patternfly/components/DataList/examples/DataList.md
Due: none

chore(deps): remove yarn install state file (#7768)
  .yarn/install-state.gz
Due: none

feat(DataList): update expandable fullpage demo
  src/patternfly/demos/DataList/data-list-expandable-data-list.hbs
Due: none

feat(DataList): remove li aria, update ids (#7748)
  src/patternfly/components/DataList/data-list-item.hbs
  src/patternfly/components/DataList/examples/DataList.md
  src/patternfly/demos/DataList/data-list-expandable-data-list.hbs
Due: none

Notes added by 'git notes add'
  cb/5c4cd02d72ac709d93cf35987196146c37b1a6
Due: none

chore(breadcrumb): update font weight logic
  src/patternfly/components/Breadcrumb/breadcrumb.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(card): include fallback for body color
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(login): fix header markup in main element
  src/patternfly/components/Login/examples/Login.md
  src/patternfly/components/Login/login-main-header.hbs
Due: none

chore(login): update main-footer element
  src/patternfly/components/Login/examples/Login.md
  src/patternfly/components/Login/login-main-footer.hbs
Due: none

chore(HelperText): updated how status is conveyed
  src/patternfly/components/DatePicker/examples/DatePicker.md
  src/patternfly/components/FileUpload/examples/FileUpload.md
  src/patternfly/components/Form/examples/Form.md
  src/patternfly/components/Form/form-helper-text.hbs
  src/patternfly/components/HelperText/examples/HelperText.md
  src/patternfly/components/HelperText/helper-text-item-icon.hbs
  src/patternfly/components/HelperText/helper-text-item-text.hbs
  src/patternfly/components/HelperText/helper-text-item.hbs
  src/patternfly/components/Login/examples/Login.md
  src/patternfly/demos/Alert/alert-template-horizontal-form.hbs
  src/patternfly/demos/Alert/alert-template-stacked-form.hbs
  src/patternfly/demos/HelperText/examples/HelperText.md
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
Due: none

chore(HelperText): updated logic for no icon render
  src/patternfly/components/DatePicker/examples/DatePicker.md
  src/patternfly/components/HelperText/examples/HelperText.md
  src/patternfly/components/HelperText/helper-text-item-icon.hbs
  src/patternfly/components/HelperText/helper-text-item-text.hbs
  src/patternfly/components/HelperText/helper-text-item.hbs
Due: none

chore(login): fix header markup in main element (#7753)
  src/patternfly/components/Login/examples/Login.md
  src/patternfly/components/Login/login-main-footer.hbs
  src/patternfly/components/Login/login-main-header.hbs
Due: none

chore(backstop): script to work with puppeteer chrome version
  .gitignore
  backstop_data/engine_scripts/puppet/chrome.js
  package.json
Due: eslint --fix

chore(backstop): script to work with puppeteer chrome version (#7772)
  .gitignore
  backstop_data/engine_scripts/puppet/chrome.js
  package.json
Due: eslint --fix

fix(guidelines): address PR feedback
  README.md
  patternfly-docs/site/pages/guidelines.md
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
