Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

chore(Drawer): transforms and shadows on RTL drawer (#5888)
  src/patternfly/components/Drawer/drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Form/form.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(rtl): fixes icon and truncate rtl
  src/patternfly/components/Avatar/avatar.hbs
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/Icon/icon.scss
  src/patternfly/components/Truncate/examples/Truncate.md
  src/patternfly/components/Truncate/truncate-end.hbs
  src/patternfly/components/Truncate/truncate.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(rtl): moved file ext to dedicated element
  src/patternfly/components/Truncate/examples/Truncate.md
  src/patternfly/components/Truncate/truncate-end.hbs
  src/patternfly/components/Truncate/truncate-file-extension.hbs
  src/patternfly/components/Truncate/truncate-start.hbs
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(rtl): added start end examples
  src/patternfly/components/Truncate/examples/Truncate.md
  src/patternfly/components/Truncate/truncate-end.hbs
  src/patternfly/components/Truncate/truncate-file-extension.hbs
  src/patternfly/components/Truncate/truncate-start.hbs
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(rtl): removed icon mirror by default
  src/patternfly/components/Avatar/avatar.hbs
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/Icon/icon.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(rtl): updated background image position
  src/patternfly/components/BackgroundImage/background-image.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Truncate/truncate-end.hbs
  src/patternfly/components/Truncate/truncate-file-extension.hbs
  src/patternfly/components/Truncate/truncate-start.hbs
Due: none

update
  src/patternfly/components/Truncate/truncate-end.hbs
Due: none

update
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(forms): updated rtl styles (#5889)
  src/patternfly/components/Form/form.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(skeleton): added rtl styles
  src/patternfly/components/Skeleton/skeleton.scss
  src/patternfly/demos/Skeleton/card-skeleton.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(ModalBox): center modal for workspace in RTL
  src/patternfly/components/ModalBox/examples/ModalBox.css
Due: none

fix(skeleton): added rtl styles (#5891)
  src/patternfly/components/Skeleton/skeleton.scss
  src/patternfly/demos/Skeleton/card-skeleton.hbs
Due: stylelint --fix --config=.stylelintrc_logical

fix(slider): added root decl for var to create react token
  src/patternfly/components/Slider/slider.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(slider): added root decl for var to create react token (#5895)
  src/patternfly/components/Slider/slider.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(ModalBox): simplify CSS
  src/patternfly/components/ModalBox/examples/ModalBox.css
Due: none

chore: change background image rtl prop swap
  src/patternfly/components/BackgroundImage/background-image.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(ModalBox): center modal for workspace in RTL (#5893)
  src/patternfly/components/ModalBox/examples/ModalBox.css
Due: none

fix(rtl): fixes truncate rtl (#5874)
  src/patternfly/components/BackgroundImage/background-image.scss
  src/patternfly/components/Icon/icon.scss
  src/patternfly/components/Truncate/examples/Truncate.md
  src/patternfly/components/Truncate/truncate-end.hbs
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(patch): try first patch release with dryrun
  .github/workflows/release.yml
  release.config.js
Due: eslint --fix

fix: single quotes in release rules
  release.config.js
Due: eslint --fix

fix: add quotes around branch name in release config
  release.config.js
Due: eslint --fix

fix: make all fix/feat a patch bump
  release.config.js
Due: eslint --fix

chore: turn off dryRun
  release.config.js
Due: eslint --fix

fix: remove unnecessary quotes from release config
  release.config.js
Due: eslint --fix

chore(Card): remove extraneous class
  src/patternfly/demos/Card/examples/Card.md
Due: none

fix: updated use of flex start/end to be more compatible (#5807)
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/Label/label-group.scss
  src/patternfly/components/ProgressStepper/progress-stepper.scss
  src/patternfly/components/Sidebar/sidebar.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: added backstop as dev dependency
  package.json
  yarn.lock
Due: none

fix(ModalBox): fix centering on mobile
  src/patternfly/components/ModalBox/examples/ModalBox.css
Due: none

chore: updated config, improved output logging
  backstop.js
  backstop_data/engine_scripts/puppet/onBefore.js
Due: eslint --fix

fix(ModalBox): fix centering on mobile (#5905)
  src/patternfly/components/ModalBox/examples/ModalBox.css
Due: none

chore(popover): center examples
  src/patternfly/components/Popover/examples/Popover.css
Due: none

chore: install backstop as devdependency, not dependency
  package.json
Due: none

chore: updates to yarn.lock
  yarn.lock
Due: none

chore: added backstop as dev dependency, update config (#5904)
  backstop.js
  backstop_data/engine_scripts/puppet/onBefore.js
  package.json
  yarn.lock
Due: eslint --fix

chore(popover): center examples (#5906)
  src/patternfly/components/Popover/examples/Popover.css
Due: none
