Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

initial pass on token update for --default and --spacer--sm to --plain
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/Hint/hint.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

update table button token
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: update disabled description to use text color token
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

set calc padding to make subtab the same height as regular tab
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

format calcs to one line for linting
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(tree): update tree table and DLS tree toggle icon direction
  src/patternfly/components/DualListSelector/dual-list-selector-item-toggle-icon.hbs
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/Table/table-toggle-icon.hbs
  src/patternfly/components/Table/table-tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  7b/3f55eedbd7be125018fd0c4588c0a8f4d2d144
Due: none

Notes added by 'git notes add'
  c5/e306c2eefed3c03502f5dadd39b2fd51c7f156
Due: none

update inline padding to action plain default
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

revert buttons padding to default
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

revert toggle and action tokens
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

update node paddings
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(primary details): fix drawer and toolbar
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: none

switch padding to margin
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  b6/3e2bc5aa92fbc48aa9d0d47cfd5b3ad9203b2b
Due: none

Notes added by 'git notes add'
  5e/c242ce60ad35365325cee7171e9b5077f6bca3
Due: none

change shorthand to start and end properties
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

update tshirt font size, token order, fix typo
  src/patternfly/components/Tabs/__tabs-list-secondary.hbs
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
Due: none

chore(primary details): fix mobile demo in card
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
Due: none

fix: address bottom pagination bugs
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination.hbs
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: updated with commit chages
  .github/workflows/pr-preview.yml
  .github/workflows/release.yml
  release.config.js
Due: eslint --fix

fix: round border-radius on default bottom in glass
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  bb/021d237d5aad98259df87739410955b1c65cee
Due: none

chore(primary details): toolbar edits and remove list example
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-data-list.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-toolbar.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-simple-list.hbs
Due: none

update button end margin to semantic token and remove media query
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

bring back breakpoint and reuse token
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

brring back and reassign the button sm token
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(primary details): remove padding demo
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
Due: none

chore(docs): Replace ActionGroup with ActionList
  src/patternfly/components/Form/examples/Form.md
  src/patternfly/components/Form/form-actions.hbs
  src/patternfly/components/Form/form.scss
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/demos/Alert/alert-template-horizontal-form.hbs
  src/patternfly/demos/Alert/alert-template-stacked-form.hbs
  src/patternfly/demos/Button/button-template-form.hbs
  src/patternfly/demos/Form/examples/BasicForms.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(primary details): fix drawer and toolbar (#8509)
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-data-list.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-toolbar.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-simple-list.hbs
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: none

Update src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(modal): footer action spacing (#8526)
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical
