Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

feat(EmptyState): add icon to xs variant
  src/patternfly/components/EmptyState/examples/EmptyState.md
Due: none

Updated tokens and vars for padding
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(HelperText): apply tokens (#6118)
  src/patternfly/components/HelperText/helper-text.scss
  src/patternfly/components/HelperText/themes/dark/helper-text.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(Pagination): updated property order
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

Updated var names to remove md text
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(avatar): apply tokens
  src/patternfly/components/Avatar/avatar.hbs
  src/patternfly/components/Avatar/avatar.scss
  src/patternfly/components/Avatar/examples/Avatar.css
  src/patternfly/components/Avatar/examples/Avatar.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(Pagination): applied tokens (#6089)
  src/patternfly/components/Pagination/pagination-options-menu.hbs
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Pagination/themes/dark/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(avatar): remove extraneous import
  src/patternfly/components/Avatar/examples/Avatar.md
Due: none

chore(ExpandableSection): updated Penta docs and focus/hover styling
  src/patternfly/components/ExpandableSection/examples/ExpandableSection.md
  src/patternfly/components/ExpandableSection/expandable-section.hbs
  src/patternfly/components/ExpandableSection/expandable-section.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(avatar): apply tokens (#6122)
  src/patternfly/components/Avatar/avatar.hbs
  src/patternfly/components/Avatar/avatar.scss
  src/patternfly/components/Avatar/examples/Avatar.css
  src/patternfly/components/Avatar/examples/Avatar.md
Due: stylelint --fix --config=.stylelintrc_logical

Updated var name
  src/patternfly/components/ExpandableSection/expandable-section.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(ExpandableSection): updated Penta docs and focus/hover styling (#6124)
  src/patternfly/components/ExpandableSection/examples/ExpandableSection.md
  src/patternfly/components/ExpandableSection/expandable-section.hbs
  src/patternfly/components/ExpandableSection/expandable-section.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(EmptyState): add 3xl icon size token
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/components/EmptyState/empty-state.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(EmptyState): apply tokens (#6056)
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/components/EmptyState/empty-state.scss
  src/patternfly/components/EmptyState/examples/EmptyState.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(NotificationDrawer): add tokens and Penta styling
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/NotificationDrawer/themes/dark/notification-drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(InlineEdit): applied tokens
  src/patternfly/components/InlineEdit/inline-edit.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): updates tokens from figma (#6103)
  src/patternfly/base/_globals.scss
  src/patternfly/base/_variables.scss
  src/patternfly/base/themes/dark/_variables.scss
  src/patternfly/base/tokens/_tokens-dark.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/base/tokens/_tokens-palette.scss
  src/patternfly/base/tokens/_workspace-overrides.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Hint/hint.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): updating usage of new font tokens (#6111)
  src/patternfly/base/_globals.scss
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Banner/banner.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Content/content.scss
  src/patternfly/components/Hint/hint.scss
  src/patternfly/components/Login/login.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Title/title.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(breadcrumb): apply tokens (#6060)
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Breadcrumb/breadcrumb.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(SimpleList): pull in new v6 branch
  src/patternfly/components/SimpleList/simple-list-item-link.hbs
  src/patternfly/components/SimpleList/simple-list.scss
  src/patternfly/components/SimpleList/themes/dark/simple-list.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(DescriptionList): update to new v6
  src/patternfly/components/DescriptionList/description-list.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(DataList): move to new v6 branch
  src/patternfly/components/DataList/data-list.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(SimpleList): pull in new v6 branch (#6128)
  src/patternfly/components/SimpleList/simple-list-item-link.hbs
  src/patternfly/components/SimpleList/simple-list.scss
  src/patternfly/components/SimpleList/themes/dark/simple-list.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(brand): update brand examples for penta
  src/patternfly/components/Brand/brand.hbs
  src/patternfly/components/Brand/examples/Brand.md
  static/assets/images/PF-HorizontalLogo-Color.svg
  static/assets/images/PF-HorizontalLogo-Reverse.svg
  static/assets/images/PF-IconLogo-Reverse.svg
  static/assets/images/PF-IconLogo-color.svg
Due: none

fix(card/menu-toggle/check): alignment bugs (#6110)
  src/patternfly/components/Card/card--check.hbs
  src/patternfly/components/Card/card--radio.hbs
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Check/examples/Check.md
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Radio/examples/Radio.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(form): keep form groups/controls from growing too wide (#6109)
  src/patternfly/components/Form/form.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: add dryrun
  release.config.js
Due: eslint --fix

chore: turn on dryrun until release fixed [ci skip]
  release.config.js
Due: eslint --fix

feat(breaker): bump this version to 6.0 (#5800)
  .github/upload-preview.js
  .github/workflows/pr-preview.yml
  .github/workflows/release.yml
  package.json
  release.config.js
Due: eslint --fix

fix: use prerelease tag format with dry run
  release.config.js
Due: eslint --fix

fix: turn off dryrun
  release.config.js
Due: eslint --fix

feat(nav): adds tokens to page and nav (#5942)
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Button): adds tokens and applies to buttons (#5908)
  .stylelintrc
  src/patternfly/base/_globals.scss
  src/patternfly/base/_variables.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
