Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

fix(menu): fixed Penta menu followups
  src/patternfly/components/Menu/examples/Menu.css
  src/patternfly/components/Menu/examples/Menu.md
Due: none

fix(menu): updates for alpha (#6322)
  src/patternfly/components/Menu/menu-item.hbs
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/Menu/themes/dark/menu.scss
  src/patternfly/components/Nav/themes/dark/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(action-list): added icon group variable update (#6263)
  src/patternfly/components/ActionList/action-list.scss
  src/patternfly/components/ActionList/examples/ActionList.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu): fixed Penta menu followups (#6350)
  src/patternfly/components/Menu/examples/Menu.css
  src/patternfly/components/Menu/examples/Menu.md
Due: none

fix(drag-drop/description-list): updates for v5 to v6 (#6344)
  .stylelintrc
  src/patternfly/components/DescriptionList/description-list.scss
  src/patternfly/components/DragDrop/drag-drop.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(drag-drop-description-list): updated version
  src/patternfly/components/DescriptionList/description-list-order.scss
  src/patternfly/components/DragDrop/examples/DragDrop.css
Due: stylelint --fix --config=.stylelintrc_logical

chore(drag-drop-description-list): updated version (#6351)
  src/patternfly/components/DescriptionList/description-list-order.scss
  src/patternfly/components/DragDrop/examples/DragDrop.css
Due: stylelint --fix --config=.stylelintrc_logical

fix(description-list): revert utility
  src/patternfly/components/DescriptionList/description-list-order.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(description-list): revert utility (#6355)
  src/patternfly/components/DescriptionList/description-list-order.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(calendar-month): updated .hbs
  src/patternfly/components/CalendarMonth/examples/CalendarMonth.md
Due: none

fix(calendar-month): updated .hbs (#6357)
  src/patternfly/components/CalendarMonth/examples/CalendarMonth.md
Due: none

feat(menu-toggle): updated toggle-toggle-icon height
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(menu-toggle): .md udpates
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
Due: none

feat(menu-toggle): updated .hbs
  src/patternfly/components/MenuToggle/menu-toggle-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): added small variant
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): added small variant (#6349)
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(text-input-group): apply tokens
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/components/TextInputGroup/themes/dark/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(text-input-group): fix conflicts
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(md-files): updated .md versioning
  src/patternfly/demos/Banner/examples/Banner.md
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/layouts/Bullseye/examples/Bullseye.md
  src/patternfly/layouts/Flex/examples/Flex.md
  src/patternfly/layouts/Gallery/examples/Gallery.md
  src/patternfly/layouts/Grid/examples/Grid.md
  src/patternfly/layouts/Level/examples/Level.md
  src/patternfly/layouts/Split/examples/Split.md
  src/patternfly/layouts/Stack/examples/Stack.md
  src/patternfly/utilities/Accessibility/examples/Accessibility.md
  src/patternfly/utilities/Alignment/examples/Alignment.md
  src/patternfly/utilities/BackgroundColor/examples/BackgroundColor.md
  src/patternfly/utilities/BoxShadow/examples/box-shadow.md
  src/patternfly/utilities/Display/examples/Display.md
  src/patternfly/utilities/Flex/examples/Flex.md
  src/patternfly/utilities/Float/examples/Float.md
  src/patternfly/utilities/Sizing/examples/Sizing.md
  src/patternfly/utilities/Spacing/examples/Spacing.md
  src/patternfly/utilities/Text/examples/Text.md
Due: none

chore(text-input-groups): review fixes
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): fix clickable label positioning
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): color updates
  src/patternfly/components/Table/examples/Table.css
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-scrollable.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/themes/dark/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): fix clickable label positioning (#6364)
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  445654e14d6da7964d4e8aad0797c63fcc1bfa95
Due: none

Update release.config.js
  release.config.js
Due: eslint --fix

Update pr-preview.yml
  .github/workflows/pr-preview.yml
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

fix: trigger dry run patch release
  README.md
Due: none

Notes added by 'git notes add'
  11cfac157d947a904cd78888d474bb8c8a6b0543
Due: none

fix: turn off dryrun
  release.config.js
Due: eslint --fix

chore(CI): enable semantic-release dryrun mode
  release.config.js
Due: eslint --fix

chore(table): * global to th/td
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): removed :is
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
