Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

Rename dexX.yml to devX_request.yml
  .github/ISSUE_TEMPLATE/devX_request.yml
Due: none

Update devX_request.yml
  .github/ISSUE_TEMPLATE/devX_request.yml
Due: none

Rename devX_request.yml to devX_request.md
  .github/ISSUE_TEMPLATE/devX_request.md
Due: none

Create tech_debt_request.md
  .github/ISSUE_TEMPLATE/tech_debt_request.md
Due: none

chore: update issue templates (#5669)
  .github/ISSUE_TEMPLATE/devX_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/tech_debt_request.md
Due: none

fix(card): updated selectable dark theme styles (#5668)
  src/patternfly/components/Card/themes/dark/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(select,dropdown): mark select and dropdown as deprecated (#5667)
  src/patternfly/components/Dropdown/deprecated/Dropdown.css
  src/patternfly/components/Dropdown/deprecated/Dropdown.md
  src/patternfly/components/Dropdown/examples/Dropdown.css
  src/patternfly/components/Select/deprecated/Select.css
  src/patternfly/components/Select/deprecated/Select.md
  src/patternfly/components/Select/examples/Select.css
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

chore(vars): added comments to icon global vars
  src/patternfly/sass-utilities/scss-variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(text-input-group): updates to fix when used in dark block (#5666)
  src/patternfly/base/_variables.scss
  src/patternfly/base/themes/dark/_variables.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/sass-utilities/placeholders.scss
  src/patternfly/sass-utilities/scss-variables.scss
  src/patternfly/sass-utilities/themes/dark/placeholders.scss
  src/patternfly/sass-utilities/themes/dark/scss-variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: Update npm release channel for main branch
  package.json
Due: none

fix(charts): fixed dark theme chart var prefix
  src/patternfly/base/themes/dark/_chart-globals.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(font): fixed RHD bold incorrect font mapping to italic font
  src/patternfly/base/_fonts.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(font): fixed RHD bold incorrect font mapping to italic font (#5678)
  src/patternfly/base/_fonts.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(charts): fixed dark theme chart var prefix (#5673)
  src/patternfly/base/themes/dark/_chart-globals.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(dark-theme-placeholders): @mcoker fixed the placeholders
  src/patternfly/patternfly-base.scss
  src/patternfly/sass-utilities/scss-variables.scss
  src/patternfly/sass-utilities/themes/dark/placeholders.scss
Due: stylelint --fix --config=.stylelintrc_logical

Fix links
  src/patternfly/components/DescriptionList/examples/DescriptionList.md
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/utilities/BackgroundColor/examples/BackgroundColor.md
  src/patternfly/utilities/Text/examples/Text.md
Due: none

fix(select): fixed typeahead form control border styles
  src/patternfly/components/Select/select.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(select): fixed typeahead form control border styles (#5698)
  src/patternfly/components/Select/select.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  gulpfile.mjs
  params.mjs
  patternfly-docs/site/pages/workspace-docs.md
  scripts/helpers.mjs
  scripts/params.mjs
  src/patternfly/components/ExampleComponent/data/example-component-data.mjs
  src/patternfly/components/ExampleComponent/example-component.hbs
  src/patternfly/components/ExampleComponent/examples/ExampleComponent.md
  src/patternfly/components/ExampleComponent/templates/example-component-array.hbs
  src/patternfly/components/config-init.hbs
  src/patternfly/components/config.hbs
Due: none

update
  src/patternfly/components/ExampleComponent/example-component.hbs
  src/patternfly/components/ExampleComponent/templates/example-component-object.hbs
  src/patternfly/components/config-init.hbs
  src/patternfly/components/config.hbs
  src/patternfly/sass-utilities/component-namespaces.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  scripts/helpers.mjs
  src/patternfly/components/ExampleComponent/data/example-component-data.mjs
  src/patternfly/components/ExampleComponent/examples/ExampleComponent.md
  src/patternfly/components/ExampleComponent/templates/example-component-array.hbs
  src/patternfly/components/ExampleComponent/templates/example-component-object.hbs
  src/patternfly/components/config-init.hbs
  src/patternfly/components/config.hbs
  src/patternfly/components/set-attribute.hbs
  src/patternfly/components/set-class.hbs
Due: none

feat(workspace): added functional support to ws
  gulpfile.mjs
  params.mjs
  patternfly-docs/patternfly-docs.config.js
  patternfly-docs/site/pages/workspace-docs.md
  scripts/gulp/html.mjs
  scripts/gulp/snippets.mjs
  scripts/helpers.mjs
  scripts/init.mjs
  scripts/params.mjs
  scripts/template/src/patternfly/{folder}/{name}/data/{nameDasherized}-data.mjs
  scripts/template/src/patternfly/{folder}/{name}/examples/{name}.md
  scripts/template/src/patternfly/{folder}/{name}/templates/{nameDasherized}-demo.hbs
  src/patternfly/components/ExampleComponent/data/example-component-data.mjs
  src/patternfly/components/ExampleComponent/example-component-body.hbs
  src/patternfly/components/ExampleComponent/example-component-footer.hbs
  src/patternfly/components/ExampleComponent/example-component-title.hbs
  src/patternfly/components/ExampleComponent/example-component.hbs
  src/patternfly/components/ExampleComponent/example-component.scss
  src/patternfly/components/ExampleComponent/examples/ExampleComponent.md
  src/patternfly/components/ExampleComponent/templates/example-component-array.hbs
  src/patternfly/components/ExampleComponent/templates/example-component-object.hbs
  src/patternfly/components/_all.scss
  src/patternfly/components/config.hbs
  src/patternfly/components/set-attribute.hbs
  src/patternfly/components/set-class.hbs
  src/patternfly/registerExample.hbs
  src/patternfly/sass-utilities/component-namespaces.scss
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/ExampleComponent/data/example-component-data.mjs
  src/patternfly/components/ExampleComponent/examples/ExampleComponent.md
  src/patternfly/components/config-init.hbs
Due: none

update
  params.mjs
  src/patternfly/components/ExampleComponent/data/example-component-data.mjs
Due: none

update
  src/patternfly/components/config.hbs
Due: none

update
  gulpfile.mjs
  scripts/helpers.mjs
  scripts/params.mjs
  src/patternfly/components/ExampleComponent/data/example-component-data.mjs
  src/patternfly/components/ExampleComponent/example-api.hbs
  src/patternfly/components/ExampleComponent/examples/ExampleComponent.md
  src/patternfly/components/config.hbs
Due: none

update
  gulpfile.mjs
  params.mjs
  scripts/gulp/html.mjs
  scripts/helpers.mjs
  scripts/template/src/patternfly/{folder}/{name}/examples/{name}.md
  src/patternfly/components/ExampleComponent/data/example-component-data.mjs
  src/patternfly/components/ExampleComponent/example-component.hbs
  src/patternfly/components/ExampleComponent/examples/ExampleComponent.md
  src/patternfly/components/ExampleComponent/templates/example-component-array.hbs
  src/patternfly/components/ExampleComponent/templates/example-component-object.hbs
Due: none

fix(form-control): change divs to spans
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/FormControl/form-control-icon.hbs
  src/patternfly/components/FormControl/form-control-select.hbs
  src/patternfly/components/FormControl/form-control-utilities.hbs
  src/patternfly/components/FormControl/form-control.hbs
Due: none

chore(a11y): update logic for determining URLs to test
  patternfly-a11y.config.js
Due: eslint --fix

update
  scripts/gulp/snippets.mjs
  scripts/helpers.mjs
  scripts/params.mjs
  src/patternfly/components/ExampleComponent/data/example-component-data.mjs
  src/patternfly/components/ExampleComponent/example-component.hbs
  src/patternfly/components/ExampleComponent/examples/ExampleComponent.md
Due: none

chore(wizard): fixed button type for wizard
  src/patternfly/components/Wizard/wizard-nav-link.hbs
Due: none

Remove extra slash from URL
  src/patternfly/utilities/BackgroundColor/examples/BackgroundColor.md
Due: none

fix(workspace): fix broken links for v5 website (#5694)
  src/patternfly/components/DescriptionList/examples/DescriptionList.md
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/utilities/BackgroundColor/examples/BackgroundColor.md
  src/patternfly/utilities/Text/examples/Text.md
Due: none

fix(form-control): change divs to spans (#5703)
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/FormControl/form-control-icon.hbs
  src/patternfly/components/FormControl/form-control-select.hbs
  src/patternfly/components/FormControl/form-control-utilities.hbs
  src/patternfly/components/FormControl/form-control.hbs
Due: none

chore(badge): added screenreader to unread badges
  src/patternfly/components/Badge/examples/Badge.md
Due: none

chore(workspace): update pf logo used in full page demos
  src/patternfly/demos/Masthead/masthead-template.hbs
  static/assets/images/pf-logo.svg
Due: none

chore(masthead): update brand height
  src/patternfly/demos/Masthead/masthead-template.hbs
Due: none
