Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

fix: updated to push code to core-staging.patternfly.org.
  .github/upload-preview.js
Due: eslint --fix

fix: updated to push code to pf5.patternfly.org.
  .github/upload-preview.js
Due: eslint --fix

fix: release fix for v5.
  .history/release.config_20240903145802.js
  release.config.js
Due: eslint --fix

feat(TextInputGroup): use icon--color--on-disabled token (#7077)
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: Updated range to allow patch releases.
  .history/release.config_20240916120636.js
  .history/release.config_20240916120812.js
  .history/release.config_20240916120853.js
  .history/release.config_20240916120856.js
Due: eslint --fix

fix: fix for range issue.
  .history/release.config_20240916122653.js
  .history/release.config_20240916122654.js
  .history/release.config_20240916123107.js
Due: eslint --fix

fix(content): actually remove root, update content selector (#7074)
  src/patternfly/components/Content/content--element.hbs
  src/patternfly/components/Content/content--kitchen-sink.hbs
  src/patternfly/components/Content/content.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: Fixed the release so it release prerelease.
  .history/release.config_20240916151226.js
  .history/release.config_20240916151230.js
Due: eslint --fix

fix(page): adjust main container and sidebar scrollbars (#7068)
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: Disabled dryRun.
  .gitignore
  release.config.js
Due: eslint --fix

chore(toolbar): revert toolbar spacer
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): fix pagination menu toggle id
  src/patternfly/demos/Table/table-pagination-footer-static.hbs
  src/patternfly/demos/Table/table-pagination-footer.hbs
Due: none

chore(pagination): update rules
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(pagination): rework bottom padding vars
  src/patternfly/components/Pagination/pagination-menu-toggle.hbs
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(pagination/toolbar): adjust block padding
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(CodeEditor): set explicit heights on divs
  src/patternfly/components/CodeEditor/code-editor.scss
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(TextArea): rename variables and use control type
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/FormControl/form-control.hbs
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(content): removed floating is
  src/patternfly/components/Content/content.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): fixed alignment, remove display: flex from __icon
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): added pf-m-avatar to menu toggle icon
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(buttons): border transition update
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(button): variable fix
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(buttons): add tertiary styling
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(TextArea): move around some variables
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

Updated token to semantic spacer, removed transform
  src/patternfly/components/Alert/alert.scss
Due: stylelint --fix --config=.stylelintrc_logical

Removed flex and margin blockstart from icon
  src/patternfly/components/Alert/alert.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(Alert): updated toggle and close styling per audit
  src/patternfly/components/Alert/alert.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(datalist): adjust action elements, spacing
  src/patternfly/components/DataList/data-list.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(datalist): remove data-list-action hbs
  src/patternfly/components/DataList/data-list-action.hbs
  src/patternfly/components/DataList/data-list-item-action.hbs
Due: none

chore(datalist): remove data-list-action refs
  src/patternfly/components/DataList/examples/DataList.md
Due: none

fix(datalist): adjust action elements, spacing (#7089)
  src/patternfly/components/DataList/data-list-action.hbs
  src/patternfly/components/DataList/data-list-item-action.hbs
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/DataList/examples/DataList.md
Due: stylelint --fix --config=.stylelintrc_logical

Reverted toggle--MarginInlineEnd value
  src/patternfly/components/Alert/alert.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(pagination): adjust block padding (#7065)
  src/patternfly/components/Pagination/pagination-menu-toggle.hbs
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/demos/Table/table-pagination-footer-static.hbs
  src/patternfly/demos/Table/table-pagination-footer.hbs
Due: stylelint --fix --config=.stylelintrc_logical

fix(tokens): update box-shadows to only be on the variant side
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/utilities/BoxShadow/examples/box-shadow.css
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): updates to box shadow tokens
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(shadows): update local shadow tokens per figma updates
  src/patternfly/base/tokens/tokens-local.scss
Due: stylelint --fix --config=.stylelintrc_logical
