Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

Update src/patternfly/components/Masthead/masthead-logo.hbs
  src/patternfly/components/Masthead/masthead-logo.hbs
Due: none

chore(masthead ): applied tokens (#6004)
  src/patternfly/components/Masthead/examples/masthead.md
  src/patternfly/components/Masthead/masthead-brand.hbs
  src/patternfly/components/Masthead/masthead-logo.hbs
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Masthead/themes/dark/masthead.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Masthead/masthead-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

fix(Switch): updated focus style to focus-visible (#5995)
  src/patternfly/components/Switch/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/LogViewer/templates/__log-viewer-toolbar.hbs
  src/patternfly/components/Menu/menu-item.hbs
  src/patternfly/components/MenuToggle/menu-toggle--check.hbs
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/Toolbar/toolbar-toggle.hbs
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Masthead/examples/Masthead.md
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu-toggle): resolved a11y issues
  src/patternfly/components/InputGroup/input-group.scss
  src/patternfly/components/Menu/menu-item-action.hbs
  src/patternfly/components/Menu/menu-list-item.hbs
  src/patternfly/components/Menu/menu.hbs
  src/patternfly/components/OptionsMenu/options-menu-menu-item.hbs
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar-item-bulk-select.hbs
  src/patternfly/components/Toolbar/toolbar-toggle.hbs
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/DataList/examples/DataList.md
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/demos/Table/examples/Table.md
  src/patternfly/demos/Tabs/examples/Tabs.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu-toggle): updated list item roled
  src/patternfly/components/Menu/menu-list-item.hbs
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/OptionsMenu/options-menu-menu-item.hbs
  src/patternfly/components/Panel/panel.hbs
  src/patternfly/components/Toolbar/toolbar-item-bulk-select.hbs
  src/patternfly/demos/Tabs/examples/Tabs.md
  src/patternfly/demos/Toolbar/examples/Toolbar.css
  src/patternfly/demos/Toolbar/examples/Toolbar.md
Due: none

chore(menu-toggle): updated demos to use menu-toggle
  src/patternfly/components/InputGroup/input-group.scss
  src/patternfly/components/Menu/menu-item.hbs
  src/patternfly/components/Menu/menu-list-item.hbs
  src/patternfly/components/MenuToggle/menu-toggle-button.hbs
  src/patternfly/components/MenuToggle/menu-toggle-count.hbs
  src/patternfly/components/MenuToggle/menu-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle-text.hbs
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/Panel/panel.hbs
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar-item-bulk-select.hbs
  src/patternfly/components/Toolbar/toolbar-item-search-filter.hbs
  src/patternfly/components/Toolbar/toolbar-item.hbs
  src/patternfly/components/Toolbar/toolbar-toggle.hbs
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Toolbar/examples/Toolbar.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu-toggle): removed widths
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu-toggle): updated demos to use menu-toggle (#5782)
  src/patternfly/components/LogViewer/templates/__log-viewer-toolbar.hbs
  src/patternfly/components/Menu/menu-item-action.hbs
  src/patternfly/components/Menu/menu-item.hbs
  src/patternfly/components/Menu/menu-list-item.hbs
  src/patternfly/components/Menu/menu.hbs
  src/patternfly/components/MenuToggle/menu-toggle--check.hbs
  src/patternfly/components/MenuToggle/menu-toggle-button.hbs
  src/patternfly/components/MenuToggle/menu-toggle-count.hbs
  src/patternfly/components/MenuToggle/menu-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle-text.hbs
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar-item-bulk-select.hbs
  src/patternfly/components/Toolbar/toolbar-item-search-filter.hbs
  src/patternfly/components/Toolbar/toolbar-item.hbs
  src/patternfly/components/Toolbar/toolbar-toggle.hbs
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/DataList/examples/DataList.md
  src/patternfly/demos/Masthead/examples/Masthead.md
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/demos/Table/examples/Table.md
  src/patternfly/demos/Tabs/examples/Tabs.md
  src/patternfly/demos/Toolbar/examples/Toolbar.css
  src/patternfly/demos/Toolbar/examples/Toolbar.md
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: none

feat(Accordion): added left-aligned toggle variant
  src/patternfly/components/Accordion/accordion.hbs
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Accordion/examples/Accordion.md
Due: stylelint --fix --config=.stylelintrc_logical

Updated class name, css vars
  src/patternfly/components/Accordion/accordion.hbs
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Accordion/examples/Accordion.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(alert): remove unused background color
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Alert/examples/Alert.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): apply tokens
  src/patternfly/components/Page/examples/Page.css
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Page/themes/dark/page.scss
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/NotificationDrawer/notification-drawer-demo.hbs
  src/patternfly/demos/NotificationDrawer/notification-drawer-template.hbs
  src/patternfly/demos/Page/page-demo-expandable-nav.hbs
  src/patternfly/demos/Page/page-demo-masthead-component.hbs
  src/patternfly/demos/Page/page-demo-overflow-scroll.hbs
  src/patternfly/demos/Page/page-demo-sticky-section-bottom.hbs
  src/patternfly/demos/Page/page-demo-sticky-top-breadcrumb.hbs
  src/patternfly/demos/Page/page-demo-sticky-top-horizontal-subnav.hbs
  src/patternfly/demos/Page/page-demo-sticky-top-section-group.hbs
  src/patternfly/demos/Page/page-template-main.hbs
  src/patternfly/demos/Tabs/tabs--page-wrapper.hbs
Due: stylelint --fix --config=.stylelintrc_logical

feat(alert): apply tokens (#6002)
  src/patternfly/components/Alert/alert-group.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Alert/examples/Alert.md
  src/patternfly/components/Alert/themes/dark/alert.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): undo menu__list change
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/NotificationDrawer/notification-drawer-demo.hbs
  src/patternfly/demos/NotificationDrawer/notification-drawer-template.hbs
  src/patternfly/demos/Page/page-demo-expandable-nav.hbs
  src/patternfly/demos/Page/page-demo-masthead-component.hbs
  src/patternfly/demos/Page/page-demo-overflow-scroll.hbs
  src/patternfly/demos/Page/page-demo-sticky-section-bottom.hbs
  src/patternfly/demos/Page/page-demo-sticky-top-breadcrumb.hbs
  src/patternfly/demos/Page/page-demo-sticky-top-horizontal-subnav.hbs
  src/patternfly/demos/Page/page-demo-sticky-top-section-group.hbs
  src/patternfly/demos/Page/page-template-main.hbs
  src/patternfly/demos/Tabs/tabs--page-wrapper.hbs
Due: stylelint --fix --config=.stylelintrc_logical

feat(Accordion): added left-aligned toggle variant (#5987)
  src/patternfly/components/Accordion/accordion.hbs
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Accordion/examples/Accordion.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(breaker): bump this version to 6.0 (#5800)
  .github/upload-preview.js
  .github/workflows/pr-preview.yml
  .github/workflows/release.yml
  package.json
  release.config.js
Due: eslint --fix

fix: turn off dryrun
  release.config.js
Due: eslint --fix

fix: use prerelease tag format with dry run
  release.config.js
Due: eslint --fix

fix: white space change to kick off dry run
  CODE_OF_CONDUCT.md
Due: none

feat(tokens): add initial global tokens (#5843)
  .stylelintrc
  src/patternfly/base/_variables.scss
  src/patternfly/base/tokens/_tokens-dark.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Button): adds tokens and applies to buttons (#5908)
  .stylelintrc
  src/patternfly/base/_globals.scss
  src/patternfly/base/_variables.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(table): apply tokens from hackathon (#5965)
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Page/examples/Penta.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(menu-toggle): add in work from hackathon (#5931)
  src/patternfly/base/_globals.scss
  src/patternfly/components/Content/content.scss
  src/patternfly/components/MenuToggle/menu-toggle-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(nav): adds tokens to page and nav (#5942)
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): page and masthead updates from hackathon (#5968)
  src/patternfly/components/Masthead/masthead-logo.hbs
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Page/page-main-list.hbs
  src/patternfly/components/Page/page-sidebar-header.hbs
  src/patternfly/components/Page/page-sidebar-title.hbs
  src/patternfly/components/Table/table-grid.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): update tokens from figma (#5970)
  src/patternfly/base/tokens/_tokens-dark.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): tweak spacing
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(v6): merge main into v6 (#5981)
  package.json
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(tokens): add dark theme blend mode token (#5992)
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(notificationBadge): refactor with tokens (#5991)
  src/patternfly/components/NotificationBadge/examples/NotificationBadge.css
  src/patternfly/components/NotificationBadge/examples/NotificationBadge.md
  src/patternfly/components/NotificationBadge/notification-badge.scss
  src/patternfly/components/NotificationBadge/themes/dark/notification-badge.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): apply tokens (#6021)
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/Page/examples/Page.css
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Page/themes/dark/page.scss
  src/patternfly/demos/NotificationDrawer/notification-drawer-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical
