Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

fix(wizard): added border to wizard header
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/demos/Table/examples/Table.md
  src/patternfly/demos/Table/examples/Table.md
Due: none

chore(data-list): remove card from demos (#6811)
  src/patternfly/demos/DataList/examples/DataList.md
  src/patternfly/demos/Table/examples/Table.md
Due: none

fix(Switch): updated a11y by removing dynamic labeling
  src/patternfly/components/Switch/examples/Switch.md
  src/patternfly/components/Switch/switch-input.hbs
  src/patternfly/components/Switch/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

Removed empty if blocks
  src/patternfly/components/Switch/switch-input.hbs
Due: none

fix(Wizard): updated styling for wizard body
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(Switch): updated a11y by removing dynamic labeling (#6823)
  src/patternfly/components/Switch/examples/Switch.md
  src/patternfly/components/Switch/switch-input.hbs
  src/patternfly/components/Switch/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(truncate): updated white-space (#6737)
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(titles): popover and notification drawer
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/Popover/popover.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  b3/0559f8cdae15ccfc6aa7894af8651de23ba238
Due: none

Notes added by 'git notes add'
  63/a652d4959f9e37fa6d968e456e1aef11d0bec0
Due: none

Replaced flex property with flex-grow
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(titles): popover and drawer
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/Popover/popover.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(docs): promote various components/features out of beta (#6759)
  src/patternfly/components/Accordion/examples/Accordion.md
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/Label/examples/Label.md
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/ModalBox/examples/ModalBox.md
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Spinner/examples/Spinner.md
  src/patternfly/components/Timestamp/examples/Timestamp.md
Due: none

fix(alert): update title tokens (#6775)
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Hint/hint.scss
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/Popover/popover.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(tokens): updates to latest tokens, fixes renamed/removed
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/Label/label.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(Wizard): updated styling for wizard body (#6807)
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  b3/279c791a201f875f8675c7e515a049fc75b5a6
Due: none

chore(avatar): update avatar svg (#6769)
  src/patternfly/assets/images/img_avatar-dark.svg
  src/patternfly/assets/images/img_avatar-light.svg
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
Due: none

fix(tokens): updates to latest tokens, fixes renamed/removed (#6817)
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/Label/label.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  75/65efcd80c3b08a8a4715ab93bf0b9315f336b0
Due: none

chore(buttons): updates
  src/patternfly/components/Alert/alert-toggle.hbs
  src/patternfly/components/Button/button.hbs
  src/patternfly/components/DualListSelector/dual-list-selector-draggable-button.hbs
  src/patternfly/components/Table/Tree-table/table-tr--tree.hbs
  src/patternfly/components/Table/table-td.hbs
Due: none

fix(table): remove unused code
  src/patternfly/components/Table/table-grid.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(button): updates
  src/patternfly/components/Card/card-header-toggle.hbs
  src/patternfly/components/DualListSelector/dual-list-selector-draggable-button.hbs
  src/patternfly/components/Table/TableCells/table-cell-toggle.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-td.hbs
  src/patternfly/components/Table/table-tree-view-details-toggle.hbs
  src/patternfly/demos/Card/templates/card-demo--popover-table.hbs
  src/patternfly/demos/Table/table-expandable-table.hbs
Due: none

chore(buttons): updates
  backstop.config.js
  src/patternfly/components/DualListSelector/dual-list-selector-draggable-button.hbs
Due: eslint --fix

chore(screenshots): update visual regression screenshots, urls
  backstop.config.js
Due: eslint --fix

fix(wizard): divider not border reg
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(beta bugs): minor component updates
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/EmptyState/empty-state.scss
  src/patternfly/components/InlineEdit/inline-edit.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/demos/Drawer/examples/Drawer.md
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Button/button-icon.hbs
  src/patternfly/components/Button/button-icon.hbs
Due: none

Update src/patternfly/components/Button/button.hbs
  src/patternfly/components/Button/button.hbs
Due: none

chore(button): updates
  src/patternfly/components/ActionList/examples/ActionList.md
  src/patternfly/components/Button/button.hbs
Due: none

fix(alert group): fixed semantic spacer
  src/patternfly/components/Alert/alert-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(alert): fix spacers inline links
  src/patternfly/components/Alert/alert.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(content): adjust list indentation
  src/patternfly/components/Content/content.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(wizard): added border to wizard header (#6820)
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  46/9edd32e4cd922c915b49c407770a35c81f9350
Due: none
