Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

chore(backstop): build list of urls on the fly (#6974)
  backstop.config.js
Due: eslint --fix

chore(menu-toggle): use icon color tokens/vars
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): added support for placeholder, fixed disabled icon color
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): update clickable to use button and anchor (#6949)
  src/patternfly/components/Card/card--actionable.hbs
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(menu-toggle): added placeholder exampel
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.hbs
Due: none

fix(LoginPage): replace old PF logo with new one
  src/patternfly/assets/images/pf_logo_color.svg
  src/patternfly/components/Login/__login-header.hbs
Due: none

chore(images): remove unused old logos
  src/patternfly/assets/images/PF-Masthead-Logo.svg
  src/patternfly/assets/images/pf_mini_logo_white.svg
Due: none

fix(Brand): update fallback to new logo so we can remove old file
  src/patternfly/assets/images/pf_logo.svg
  src/patternfly/components/Brand/brand.hbs
Due: none

fix(menu-toggle): added support for placeholder, fixed disabled icon color (#6963)
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(modal): add calc for blockstart and inlineend
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(Card): added aria-disabled to link cards
  src/patternfly/components/Card/card--actionable.hbs
Due: none

chore(Card): added aria-disabled to link cards (#6978)
  src/patternfly/components/Card/card--actionable.hbs
Due: none

chore(build): update docs-framework, backstop threshold
  backstop.js
  package.json
  yarn.lock
Due: eslint --fix

chore(build): add screenshots, bump docs-framework to 77
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-and-selectable-secondary-style_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-and-selectable-secondary-style_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-and-selectable-secondary-style_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-and-selectable_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-and-selectable_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-and-selectable_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-button_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-button_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-button_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-link_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-link_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-link_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-secondary-style_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-secondary-style_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-secondary-style_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_placeholder_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_placeholder_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_placeholder_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_plain-with-text_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_small-with-text_0_document_0_mobile.png
  package.json
  yarn.lock
Due: none

feat(nav): style drilldown menu for nav
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(modal): add no-offset modifier to close
  src/patternfly/components/ModalBox/examples/ModalBox.md
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(build): update docs-framework, backstop threshold (#6980)
  backstop.js
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-and-selectable-secondary-style_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-and-selectable-secondary-style_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-and-selectable-secondary-style_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-and-selectable_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-and-selectable_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-and-selectable_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-button_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-button_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-button_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-link_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-link_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-link_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-secondary-style_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-secondary-style_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_card_html_actionable-secondary-style_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_placeholder_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_placeholder_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_placeholder_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_plain-with-text_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu-toggle_html_small-with-text_0_document_0_mobile.png
  package.json
  yarn.lock
Due: eslint --fix

fix(card): remove unused modifier and old logo from demo (#6972)
  src/patternfly/assets/images/pf-logo-small.svg
  src/patternfly/assets/images/pf_logo_white.hbs
  src/patternfly/assets/images/pf_logo_white.svg
  src/patternfly/assets/images/pfbg-icon.svg
  src/patternfly/components/Card/examples/Card.md
  src/patternfly/components/Masthead/masthead-image.hbs
  src/patternfly/demos/Card/card-template-gallery.hbs
  src/patternfly/demos/Card/examples/Card.md
  src/patternfly/demos/Card/templates/card-demo--template-gallery.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-view.hbs
Due: none

feat(modal): change to pad the title
  src/patternfly/components/ModalBox/examples/ModalBox.md
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): updates plain padding, removes refs to m-button (#6954)
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(nav): remove menu padding
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(slider): adjust styles
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/components/Slider/slider.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(slider): update disabled tick color
  src/patternfly/components/Slider/slider.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(notification-badge): removed component, updated hbs partial
  src/patternfly/components/Button/notification-badge.hbs
  src/patternfly/components/NotificationBadge/examples/NotificationBadge.md
  src/patternfly/components/NotificationBadge/notification-badge.hbs
  src/patternfly/components/NotificationBadge/notification-badge.scss
  src/patternfly/components/_index.scss
  src/patternfly/sass-utilities/namespaces-components.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(modal): require header-main and put padding there
  src/patternfly/components/ModalBox/examples/ModalBox.md
  src/patternfly/components/ModalBox/modal-box-header.hbs
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(nav): minor cleanup
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(slider): disable locked slider example
  src/patternfly/components/Slider/examples/Slider.md
Due: none

feat(nav): move hover styling back to list-item
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(components): Review updates
  src/patternfly/components/Banner/banner.scss
  src/patternfly/components/Timestamp/examples/Timestamp.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(notification-badge): removed component, updated hbs partial (#6983)
  src/patternfly/components/Button/notification-badge.hbs
  src/patternfly/components/NotificationBadge/examples/NotificationBadge.md
  src/patternfly/components/NotificationBadge/notification-badge.hbs
  src/patternfly/components/NotificationBadge/notification-badge.scss
  src/patternfly/components/_index.scss
  src/patternfly/sass-utilities/namespaces-components.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(progress): display progress measure as tabular numbers
  src/patternfly/components/Progress/progress.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(slider): adjust styles (#6981)
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/components/Slider/examples/Slider.md
  src/patternfly/components/Slider/slider.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(toolbar): fix expanded content position in masthead
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(label-group): let label groups wrap within the toolbar
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(:has): removed :has()
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/ToggleGroup/toggle-group.scss
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(nav): style drilldown menu for nav (#6982)
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(TextInputGroup): updated inline padding of icons (#6945)
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical
