Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

ci(workflows): update issue label and preview gate
  .github/workflows/add-new-issues-to-project.yml
  .github/workflows/label-pf-team-issue.yml
  .github/workflows/pr-preview.yml
Due: none

Doc updates
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Button/button.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

Scope flex-start justify-content to only apply to docked menu toggles
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  f7/264830f984da07253111d053c7a39ff3abc707
Due: none

feat(page): add glass mode support for sticky page sections
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(page): add dynamic sticky page sections example
  src/patternfly/components/Page/examples/Page.md
Due: none

chore(page): edit glass style selectors to be more consistent
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(page): update sticky page section docs
  src/patternfly/components/Page/examples/Page.md
Due: none

create banner pill variant
  src/patternfly/components/Banner/banner.scss
  src/patternfly/components/Banner/examples/Banner.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(page): use -base modifiers, and not scope stuck styles to glass
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): refactor to make stuck styling more performant
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): add sticky background color vars, missing breadcrumb styles
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): add sticky transition timing functions
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(page): fix stylelint warnings
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  51/bf4ccc6adebbe59ff053e28fffcef5e5262c65
Due: none

nitpick copy change
  src/patternfly/components/Banner/examples/Banner.md
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

Notes added by 'git notes add'
  9e/493be7149acce50967631ef9d9d0b71099a1f3
Due: none

ci(workflows): pin org reusable workflows to SHA
  .github/workflows/label-pf-team-issue.yml
  .github/workflows/pr-preview.yml
Due: none

chore(Compass): move docs to 'components'
  patternfly-docs/patternfly-docs.config.js
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/examples/Compass.md
Due: eslint --fix

chore(Masthead) fixed docked example logo at mobile
  src/patternfly/components/Masthead/examples/masthead.md
  src/patternfly/components/Masthead/masthead-image.hbs
Due: none

chore(backstop): add uniq report ids, add all theme images
  backstop.js
  package.json
Due: eslint --fix

chore: update backstop scripts to always run
  package.json
Due: none

feat(Hero): make glass styles glass-theme only
  src/patternfly/components/Hero/hero.scss
Due: stylelint --fix --config=.stylelintrc_logical

docs(compass): update css selectors
  src/patternfly/components/Compass/examples/Compass.css
Due: none

add padding and negative margin to manage clipped box shadow
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

linting adjustment
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(misc): rename redhat to felt
  backstop_data/engine_scripts/playwright/onBefore.js
  src/patternfly/base/patternfly-variables.scss
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore: update stylesheets from style dictionary
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-felt-dark.scss
  src/patternfly/base/tokens/tokens-felt-glass-dark.scss
  src/patternfly/base/tokens/tokens-felt-glass.scss
  src/patternfly/base/tokens/tokens-felt-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-felt-highcontrast.scss
  src/patternfly/base/tokens/tokens-felt.scss
  src/patternfly/base/tokens/tokens-glass-dark.scss
  src/patternfly/base/tokens/tokens-glass.scss
  src/patternfly/base/tokens/tokens-palette.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast.scss
Due: stylelint --fix --config=.stylelintrc_logical

more linting stuff
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical
