Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

fix(chip): add margin for badge when used in text element
  src/patternfly/components/Chip/chip.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(chip): add margin for badge when used in text element (#5844)
  src/patternfly/components/Chip/chip.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: added tree view icon
  patternfly-docs/site/pages/icons.md
  src/icons/definitions/pficons.mjs
  src/patternfly/assets/icons/iconUnicodes.json
  src/patternfly/assets/pficon/pf-v5-pficon.woff2
  src/patternfly/assets/pficon/pficon.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: put treeviewicon in alphabetical order
  patternfly-docs/site/pages/icons.md
  src/icons/definitions/pficons.mjs
  src/patternfly/assets/pficon/pf-v5-pficon.woff2
Due: none

feat(Tokens): update lintrc
  .stylelintrc
  src/patternfly/base/_variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(tokens): add initial global tokens (#5843)
  .stylelintrc
  src/patternfly/base/_variables.scss
  src/patternfly/base/tokens/_tokens-dark.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(global): apply global tokens
  .stylelintrc
  src/patternfly/base/_globals.scss
  src/patternfly/base/_variables.scss
  src/patternfly/base/tokens/_tokens-font.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(global): update button to use tokens
  .stylelintrc
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: added tree view icon (#5845)
  patternfly-docs/site/pages/icons.md
  src/icons/definitions/pficons.mjs
  src/patternfly/assets/icons/iconUnicodes.json
  src/patternfly/assets/pficon/pf-v5-pficon.woff2
  src/patternfly/assets/pficon/pficon.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: rtl fixes, screenshots
  backstop.config.js
  backstop.js
  backstop_data/engine_scripts/onBefore.js
  backstop_data/engine_scripts/onReady.js
  backstop_data/engine_scripts/puppet/onReady.js
  backstop_data/engine_scripts/puppet/overrideCSS.js
  src/patternfly/components/Chip/chip.scss
  src/patternfly/components/ProgressStepper/progress-stepper.scss
  src/patternfly/components/Table/table-grid.scss
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore: enable RTL switcher on full page examples
  patternfly-docs/patternfly-docs.config.js
Due: eslint --fix

chore: enable RTL switcher on full page examples (#5859)
  patternfly-docs/patternfly-docs.config.js
Due: eslint --fix

fix: added base, wizard, pagination RTL styles
  src/patternfly/base/_common.scss
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Wizard/examples/Wizard.md
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

docs: update location of and references to docs to consolidate and organize information. (#5773)
  README.md
  patternfly-docs/patternfly-docs.config.js
  patternfly-docs/site/pages/accessibility-guide.md
  patternfly-docs/site/pages/adding-custom-icons.md
  patternfly-docs/site/pages/contribution.md
  patternfly-docs/site/pages/upgrade-guide.md
Due: eslint --fix

fix: dual list selector rtl
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: updates
  src/patternfly/base/_common.scss
  src/patternfly/base/_variables.scss
  src/patternfly/components/Chip/examples/Chip.md
  src/patternfly/components/DragDrop/examples/DragDrop.css
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/Label/examples/Label.md
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Wizard/examples/Wizard.md
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: added base, wizard, pagination RTL styles (#5860)
  src/patternfly/base/_common.scss
  src/patternfly/base/_variables.scss
  src/patternfly/components/Chip/examples/Chip.md
  src/patternfly/components/DragDrop/examples/DragDrop.css
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/Label/examples/Label.md
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(Accordion,ExpandableSection): added more RTL styling
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/ExpandableSection/expandable-section.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(Toolbar): updated toolbar pagination structure
  src/patternfly/components/Toolbar/toolbar-item-pagination.hbs
Due: none

chore(Accordion,ExpandableSection): added more RTL styling (#5861)
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/ExpandableSection/expandable-section.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(RTL): refactor mixins, add slider rtl styles
  src/patternfly/base/_common.scss
  src/patternfly/base/_globals.scss
  src/patternfly/base/_variables.scss
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/ExpandableSection/expandable-section.scss
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Slider/slider.scss
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/sass-utilities/functions.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: move inverse multiplier var
  src/patternfly/base/_globals.scss
  src/patternfly/base/_variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/sass-utilities/mixins.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: rtl-style to bidirectional-style
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/Slider/slider.scss
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: mirror-inline-rtl to mirror-inline-on-rtl
  src/patternfly/base/_common.scss
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/ExpandableSection/expandable-section.scss
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Wizard/wizard.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Switch/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Slider/slider.scss
  src/patternfly/components/Slider/slider.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/DualListSelector/dual-list-selector.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: typo, formatting
  src/patternfly/components/Slider/slider.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(RTL): refactor mixins, add slider rtl styles (#5867)
  src/patternfly/base/_common.scss
  src/patternfly/base/_variables.scss
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/ExpandableSection/expandable-section.scss
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Slider/slider.scss
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/sass-utilities/functions.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(nav): added optional text wrapper for nav text
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav-link-text.hbs
  src/patternfly/components/Nav/nav-link.hbs
Due: none
