Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore(backstop): add custom description and reset params (#8063)
  backstop.js
Due: eslint --fix

docs(modal): updates broken link
  src/patternfly/components/ModalBox/examples/ModalBox.md
Due: none

chore(backstop): adds post processing to change report name
  backstop.js
  package.json
  scripts/backstop-post-process.mjs
  scripts/backstop-run.mjs
Due: eslint --fix

chore(backstop): set name even if comparison failures
  scripts/backstop-run.mjs
Due: none

docs(modal): updates broken link (#8065)
  src/patternfly/components/ModalBox/examples/ModalBox.md
Due: none

chore(backstop): address bunny comments
  scripts/backstop-post-process.mjs
  scripts/backstop-run.mjs
Due: none

chore(backstop): revert desc feature
  backstop.js
Due: eslint --fix

Create design_handoff.yml
  .github/ISSUE_TEMPLATE/design_handoff.yml
Due: none

chore(tokens): update for new glass surface token
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-glass-dark.scss
  src/patternfly/base/tokens/tokens-glass.scss
  src/patternfly/base/tokens/tokens-redhat-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast.scss
  src/patternfly/base/tokens/tokens-redhat.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update design_handoff.yml
  .github/ISSUE_TEMPLATE/design_handoff.yml
Due: none

chore(backstop): increase async limit
  backstop.js
Due: eslint --fix

chore(backstop): update screenshots for data view and ai screens
  backstop_data/bitmaps_reference/pf-core__ai_generative-uis_compass_html_basic_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__ai_generative-uis_compass_html_basic_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__ai_generative-uis_compass_html_basic_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_compact-no-background_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_compact-no-background_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_compact-no-background_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_compact_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_compact_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_compact_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_single-selectable_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_single-selectable_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_single-selectable_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_with-icons_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_with-icons_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_with-icons_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_with-selectable-expandable-nodes_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_with-selectable-expandable-nodes_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_with-selectable-expandable-nodes_0_document_2_desktop.png
Due: none

chore(backstop): update screenshots for data view and ai screens (#8070)
  backstop_data/bitmaps_reference/pf-core__ai_generative-uis_compass_html_basic_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__ai_generative-uis_compass_html_basic_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__ai_generative-uis_compass_html_basic_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_compact-no-background_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_compact-no-background_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_compact-no-background_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_compact_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_compact_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_compact_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_single-selectable_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_single-selectable_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_single-selectable_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_with-icons_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_with-icons_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_with-icons_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_with-selectable-expandable-nodes_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_with-selectable-expandable-nodes_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_tree-view_html_with-selectable-expandable-nodes_0_document_2_desktop.png
Due: none

chore(backstop): revert desc feature (#8068)
  backstop.js
Due: eslint --fix

feat(themes): adds tokens for glass and redhat themes (#8062)
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-glass-dark.scss
  src/patternfly/base/tokens/tokens-glass.scss
  src/patternfly/base/tokens/tokens-redhat-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast.scss
  src/patternfly/base/tokens/tokens-redhat.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  89/3b5e5945b12f251940f00818a0401dee5b9f9f
Due: none

feat(table): add container query support for responsive tables
  src/patternfly/base/patternfly-common.scss
  src/patternfly/components/Table/table-grid.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(table): cleanup names and add demo
  src/patternfly/base/patternfly-common.scss
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/demos/Table/examples/Table.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(table): remove modifier on drawer table
  src/patternfly/demos/Table/examples/Table.md
Due: none

feat: expand clickable area for standalone radio and checkbox
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Radio/radio.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(sass): fix linting issues
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Radio/radio.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(skeleton): use new skeleton gradient color tokens
  src/patternfly/components/Skeleton/skeleton.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(notification-drawer): add spacing between header actions
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: reorder CSS properties to comply with linting rules
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(notification-drawer): add spacing between header actions (#8085)
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  be/c5763f27bd90708d86b3f05320ddf533dd4eeb
Due: none

chore: add react-icons, fix build
  package.json
  yarn.lock
Due: none

chore: add react-icons, fix build (#8095)
  package.json
  yarn.lock
Due: none

feat: update to latest tokens w/ glass
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-glass-dark.scss
  src/patternfly/base/tokens/tokens-glass.scss
  src/patternfly/base/tokens/tokens-redhat-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast.scss
  src/patternfly/base/tokens/tokens-redhat.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: update to new tokens, run backstop to verify
  backstop_data/bitmaps_reference/pf-core__components_notification-drawer_html_basic_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_notification-drawer_html_basic_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_notification-drawer_html_basic_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_notification-drawer_html_groups_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_notification-drawer_html_groups_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_notification-drawer_html_groups_0_document_2_desktop.png
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-glass-dark.scss
  src/patternfly/base/tokens/tokens-glass.scss
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/base/tokens/tokens-redhat-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast.scss
  src/patternfly/base/tokens/tokens-redhat.scss
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/Hero/hero.scss
  src/patternfly/components/Masthead/masthead.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: update blur tokens
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/Hero/hero.scss
  src/patternfly/components/Masthead/masthead.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat: update to latest tokens w/ glass (#8096)
  backstop_data/bitmaps_reference/pf-core__components_notification-drawer_html_basic_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_notification-drawer_html_basic_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_notification-drawer_html_basic_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_notification-drawer_html_groups_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_notification-drawer_html_groups_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_notification-drawer_html_groups_0_document_2_desktop.png
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-glass-dark.scss
  src/patternfly/base/tokens/tokens-glass.scss
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/base/tokens/tokens-redhat-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast.scss
  src/patternfly/base/tokens/tokens-redhat.scss
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/Hero/hero.scss
  src/patternfly/components/Masthead/masthead.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  cc/f082dc4bb4fa4f8ee3cdbf1dc32990df7bae6f
Due: none

fix(tokens): updates to latest from figma
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-glass-dark.scss
  src/patternfly/base/tokens/tokens-glass.scss
  src/patternfly/base/tokens/tokens-redhat-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast.scss
  src/patternfly/base/tokens/tokens-redhat.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): remove trailing space
  src/patternfly/components/Table/examples/Table.md
Due: none

fix(tokens): updates to latest from figma (#8097)
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-glass-dark.scss
  src/patternfly/base/tokens/tokens-glass.scss
  src/patternfly/base/tokens/tokens-redhat-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast.scss
  src/patternfly/base/tokens/tokens-redhat.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  b9/bfdac9fed5fbb0ac4c7065fcf4e0d253f0fa29
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
