Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

fix(MenuToggle): updated styling for rounded border in RTL
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(global): base stylesheets cleanup
  src/patternfly/base/_index.scss
  src/patternfly/base/normalize.scss
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/_index.scss
  src/patternfly/base/tokens/workspace-overrides.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(global): base stylesheets cleanup (#6748)
  src/patternfly/base/_index.scss
  src/patternfly/base/normalize.scss
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/_index.scss
  src/patternfly/base/tokens/workspace-overrides.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  41c11ea7ff2ab196592aa8e40725146b1b1b6661
Due: none

fix(table): update borders - PR feedback
  src/patternfly/components/Table/table-grid.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(css): added :where(:root, .selector)
  src/patternfly/components/Alert/alert-group.scss
  src/patternfly/components/Brand/brand.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/CalendarMonth/calendar-month.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/HelperText/helper-text.scss
  src/patternfly/components/InlineEdit/inline-edit.scss
  src/patternfly/components/List/list.scss
  src/patternfly/components/LogViewer/log-viewer.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(screenshots): run visual regressions, update url list
  backstop.config.js
Due: eslint --fix

fix(table): added action list item
  src/patternfly/components/Table/table-favorite-sort.hbs
Due: none

fix(table): updated button ids
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-favorite-sort.hbs
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): updated table button to action list
  src/patternfly/components/Table/table-favorite-sort.hbs
  src/patternfly/components/Table/table-sort-indicator.hbs
  src/patternfly/components/Table/table-th.hbs
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): removed action-list mods
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(docs): promote various components/features out of beta
  src/patternfly/components/Accordion/examples/Accordion.md
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/Label/examples/Label.md
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/ModalBox/examples/ModalBox.md
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Spinner/examples/Spinner.md
  src/patternfly/components/Timestamp/examples/Timestamp.md
Due: none

fix(action-list): updated icon spacer to xs
  src/patternfly/components/ActionList/action-list.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(about-modal): update background image
  src/patternfly/assets/images/pf-background.svg
Due: none

fix(page): fix section spacing
  src/patternfly/components/Page/examples/Page.css
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page-main-section.hbs
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(table-button): added table button plain (#6461)
  src/patternfly/components/Table/table-favorite-sort.hbs
  src/patternfly/components/Table/table-sort-indicator.hbs
  src/patternfly/components/Table/table-th.hbs
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  fec8ae0c09822309915ad631480b4a95d59cab47
Due: none

fix(css): added :where(:root, .selector) (#6752)
  src/patternfly/components/Alert/alert-group.scss
  src/patternfly/components/Brand/brand.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/CalendarMonth/calendar-month.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/HelperText/helper-text.scss
  src/patternfly/components/InlineEdit/inline-edit.scss
  src/patternfly/components/List/list.scss
  src/patternfly/components/LogViewer/log-viewer.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  1d0fb5839847c4bbc116920f5226e2ad78957aa2
Due: none

fix(titles): update heading tokens
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Hint/hint.scss
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/Popover/popover.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(action-list): updated icon spacer to xs (#6746)
  src/patternfly/components/ActionList/action-list.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  fccb33730bf47cd78a754add7b66e93f79fd478a
Due: none

chore(avatar): update avatar svg
  src/patternfly/assets/images/img_avatar-dark.svg
  src/patternfly/assets/images/img_avatar-light.svg
Due: none

fix(page): remove temporary comment
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(truncate): updated min-widths to match (#6733)
  src/patternfly/components/Truncate/examples/Truncate.css
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(alert): update title tokens
  src/patternfly/components/Alert/alert.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): move borders to pseudoelement (#6705)
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  9b52c8b5db70c8995f37a870c615525230c9f730
Due: none

fix(titles): update multiple title tokens
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Hint/hint.scss
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/Popover/popover.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(truncate): updated white-space
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(menu-toggle): add transitions (#6738)
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(about-modal): update background image (#6764)
  src/patternfly/assets/images/pf-background.svg
Due: none

Notes added by 'git notes add'
  d1e448ebe14b9704e9ca8625b7dd4cc94c7f79a1
Due: none

feat(menu): add transitions for menu and items in menu (#6740)
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(): update modifier name and location
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle--check.hbs
  src/patternfly/components/MenuToggle/menu-toggle-button.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  f98c75a4d098df97cc3659e399a6217e45f860d0
Due: none

fix(MenuToggle): updated borderradius and filter padding (#6614)
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.css
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  625dcc9e49a0baf1867f40eb7c02e7c0adb93b05
Due: none
