Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore(list): update spacing
  src/patternfly/components/List/list.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(content): update list spacing
  src/patternfly/components/Content/content.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(lists): adjust list and content list indentation (#6826)
  src/patternfly/components/Content/content.scss
  src/patternfly/components/List/list.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  4b/102468ba0be521304b29d537746dfcf831177a
Due: none

feat(TextInputGroup): added validation
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/components/TextInputGroup/text-input-group-icon.hbs
  src/patternfly/components/TextInputGroup/text-input-group-main.hbs
  src/patternfly/components/TextInputGroup/text-input-group-template-status.hbs
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): updated components to use semantic spacer tokens
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): updated missed merge conflict
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

Reverted Accordion changes
  src/patternfly/components/Accordion/accordion.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): reverted gap, updated semantic spacers, added icon fontsize vars
  src/patternfly/components/Button/button.scss
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

Updated additional component tokens
  src/patternfly/components/Check/check.scss
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Radio/radio.scss
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(various): updated to new semantic spacer tokens
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Check/check.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

Updated menutoggle inline padding value
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

Updated per discussion
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Check/check.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/Radio/radio.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

Sass lint ifx
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

Removed various calcs in MenuToggle
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/components/Button/button.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

Lint fixes
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  81/e155d73dbf4b34e3dd7d57f6a6a6954f5059d1
Due: none

fix(log-viewer): remove log viewer from core
  src/patternfly/components/LogViewer/__log-viewer-dynamic-data.hbs
  src/patternfly/components/LogViewer/__log-viewer-li.hbs
  src/patternfly/components/LogViewer/__log-viewer-main.hbs
  src/patternfly/components/LogViewer/__log-viewer-toolbar-search-filter.hbs
  src/patternfly/components/LogViewer/__log-viewer-toolbar-select.hbs
  src/patternfly/components/LogViewer/__log-viewer-toolbar.hbs
  src/patternfly/components/LogViewer/examples/LogViewer.css
  src/patternfly/components/LogViewer/examples/LogViewer.md
  src/patternfly/components/LogViewer/log-viewer-header.hbs
  src/patternfly/components/LogViewer/log-viewer-index.hbs
  src/patternfly/components/LogViewer/log-viewer-list-item.hbs
  src/patternfly/components/LogViewer/log-viewer-list.hbs
  src/patternfly/components/LogViewer/log-viewer-main.hbs
  src/patternfly/components/LogViewer/log-viewer-scroll-container.hbs
  src/patternfly/components/LogViewer/log-viewer-text.hbs
  src/patternfly/components/LogViewer/log-viewer-timestamp.hbs
  src/patternfly/components/LogViewer/log-viewer.hbs
  src/patternfly/components/LogViewer/log-viewer.scss
  src/patternfly/components/_index.scss
  src/patternfly/sass-utilities/namespaces-components.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): updated selector construction for th/td
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/Table/TableCells/table-cell.hbs
  src/patternfly/components/Table/Tree-table/table-tree-view--basic.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): updated thead td to th
  scripts/helpers.mjs
  src/patternfly/components/Table/TableCells/table-cell-action.hbs
  src/patternfly/components/Table/TableCells/table-cell-check.hbs
  src/patternfly/components/Table/TableCells/table-cell-empty.hbs
  src/patternfly/components/Table/TableCells/table-cell-overflow-menu.hbs
  src/patternfly/components/Table/TableCells/table-cell-radio.hbs
  src/patternfly/components/Table/TableCells/table-cell-toggle.hbs
  src/patternfly/components/Table/TableCells/table-cell.hbs
  src/patternfly/components/Table/Tree-table/table-tree-view--basic.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-tbody.hbs
  src/patternfly/components/Table/table-thead.hbs
Due: none

feat(page): add fill modifier for page container
  src/patternfly/components/Page/examples/Page.css
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): don't stretch the last child
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): fill main container with wizard or drawer
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(log-viewer): remove log viewer from core (#6831)
  src/patternfly/components/LogViewer/__log-viewer-dynamic-data.hbs
  src/patternfly/components/LogViewer/__log-viewer-li.hbs
  src/patternfly/components/LogViewer/__log-viewer-main.hbs
  src/patternfly/components/LogViewer/__log-viewer-toolbar-search-filter.hbs
  src/patternfly/components/LogViewer/__log-viewer-toolbar-select.hbs
  src/patternfly/components/LogViewer/__log-viewer-toolbar.hbs
  src/patternfly/components/LogViewer/examples/LogViewer.css
  src/patternfly/components/LogViewer/examples/LogViewer.md
  src/patternfly/components/LogViewer/log-viewer-header.hbs
  src/patternfly/components/LogViewer/log-viewer-index.hbs
  src/patternfly/components/LogViewer/log-viewer-list-item.hbs
  src/patternfly/components/LogViewer/log-viewer-list.hbs
  src/patternfly/components/LogViewer/log-viewer-main.hbs
  src/patternfly/components/LogViewer/log-viewer-scroll-container.hbs
  src/patternfly/components/LogViewer/log-viewer-text.hbs
  src/patternfly/components/LogViewer/log-viewer-timestamp.hbs
  src/patternfly/components/LogViewer/log-viewer.hbs
  src/patternfly/components/LogViewer/log-viewer.scss
  src/patternfly/components/_index.scss
  src/patternfly/sass-utilities/namespaces-components.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  b1/6e8f3239e2c28d5a45e0dd2a1e486d645aa779
Due: none

chore(masthead): removed menus from example/demo template
  src/patternfly/demos/Masthead/masthead-template-content-toolbar-content.hbs
Due: none

chore(backstop): update mobile width from 320 to 360
  backstop.config.js
Due: eslint --fix

fix(components): spacer and active states
  src/patternfly/components/EmptyState/empty-state.scss
  src/patternfly/components/InlineEdit/inline-edit.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): add context selector container in sidebar and add examples
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.css
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/demos/Page/page-template-context-selector.hbs
  src/patternfly/demos/Page/page-template-sidebar.hbs
Due: stylelint --fix --config=.stylelintrc_logical

feat(icons): add severity icons
  patternfly-docs/site/pages/adding-custom-icons.md
  patternfly-docs/site/pages/icons.md
  scripts/gulp/icons_template.scss
  scripts/gulp/sass.mjs
  src/icons/definitions/pficons.mjs
  src/patternfly/assets/icons/iconUnicodes.json
  src/patternfly/assets/pficon/pf-v6-pficon.woff2
  src/patternfly/assets/pficon/pficon.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(icons): add severity icons
  patternfly-docs/site/pages/adding-custom-icons.md
  patternfly-docs/site/pages/icons.md
  src/icons/definitions/pficons.mjs
  src/patternfly/assets/icons/iconUnicodes.json
  src/patternfly/assets/pficon/pf-v5-pficon.woff2
  src/patternfly/assets/pficon/pficon.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): adjust hbs names and vars
  src/patternfly/demos/Page/examples/Page.css
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/demos/Page/page-template-context-selector.hbs
  src/patternfly/demos/Page/page-template-sidebar.hbs
Due: none

fix(table): remove padding
  src/patternfly/components/Table/table-grid.scss
Due: stylelint --fix --config=.stylelintrc_logical

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
