Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

Notes added by 'git notes add'
  84/15cc6569d0e71e4d905576d5891b1e9ba8b666
Due: none

Address feedback
  src/patternfly/components/Form/examples/Form.md
  src/patternfly/components/Form/form-actions.hbs
  src/patternfly/components/Form/form.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(modal-box): keep footer buttons intrinsic by default
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): reduce compact expandable content padding
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: address word-break/overflow-wrap bug (#8487)
  src/patternfly/components/AboutModalBox/about-modal-box.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/ClipboardCopy/clipboard-copy.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/Progress/progress.scss
  src/patternfly/components/Title/title.scss
  src/patternfly/components/Tooltip/tooltip.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(input group): add radius modifier (#8483)
  src/patternfly/components/InputGroup/examples/InputGroup.md
Due: none

fix(plain actions): update tokens to vertical-plain (#8495)
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/Hint/hint.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(a11y): ignore target-size rule for WCAG 2.2 bump (#8493)
  patternfly-a11y.config.js
Due: eslint --fix

fix: address bottom pagination bugs (#8498)
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination.hbs
  src/patternfly/components/Pagination/pagination.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: update disabled description to use text color token (#8497)
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(tree): update tree table and DLS tree toggle icon direction (#8502)
  src/patternfly/components/DualListSelector/dual-list-selector-item-toggle-icon.hbs
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/Table/table-toggle-icon.hbs
  src/patternfly/components/Table/table-tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(tree-view): revert caret rotations (#8490)
  src/patternfly/components/TreeView/tree-view-node-toggle-icon.hbs
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): nested table sorting (#8491)
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(primary details): fix drawer and toolbar (#8509)
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-data-list.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-toolbar.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-simple-list.hbs
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: none

fix(modal): footer action spacing (#8526)
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

update spacer xs to sm
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: cherry-pick main fixes into 6.6.x (#8531)
  patternfly-a11y.config.js
  src/patternfly/components/AboutModalBox/about-modal-box.scss
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Card/card.scss
  src/patternfly/components/ClipboardCopy/clipboard-copy.scss
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/DualListSelector/dual-list-selector-item-toggle-icon.hbs
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/Hint/hint.scss
  src/patternfly/components/InputGroup/examples/InputGroup.md
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/Pagination/pagination.hbs
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Progress/progress.scss
  src/patternfly/components/Table/table-toggle-icon.hbs
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Title/title.scss
  src/patternfly/components/Tooltip/tooltip.scss
  src/patternfly/components/TreeView/tree-view-node-toggle-icon.hbs
  src/patternfly/components/TreeView/tree-view.scss
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-data-list.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-toolbar.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-simple-list.hbs
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

Address feedback
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/demos/Alert/alert-template-horizontal-form.hbs
  src/patternfly/demos/Alert/alert-template-stacked-form.hbs
  src/patternfly/demos/Form/examples/BasicForms.md
Due: none

fix: Remove extra whitespace in README.md
  README.md
Due: none

Notes added by 'git notes add'
  33/202db4818dae597d29c510216aaecae4d1b345
Due: none

Notes added by 'git notes add'
  26/b709bfeb14c3643a6b999a2619b6bd65641ffa
Due: none

chore(docs): Replace ActionGroup with ActionList (#8527)
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/Form/examples/Form.md
  src/patternfly/components/Form/form-actions.hbs
  src/patternfly/components/Form/form.scss
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/demos/Alert/alert-template-horizontal-form.hbs
  src/patternfly/demos/Alert/alert-template-stacked-form.hbs
  src/patternfly/demos/Button/button-template-form.hbs
  src/patternfly/demos/Form/examples/BasicForms.md
Due: stylelint --fix --config=.stylelintrc_logical

update icons for data list
  src/patternfly/components/DataList/data-list-item-draggable-icon.hbs
  src/patternfly/components/DataList/examples/DataList.md
Due: none

update icons for code editor
  src/patternfly/components/CodeEditor/code-editor-template-no-actions.hbs
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
Due: none

update one more icon for form control
  src/patternfly/components/FormControl/form-control-icon.hbs
Due: none

update available icons for description list
  src/patternfly/components/DescriptionList/description-list__example-with-icons.hbs
Due: none

update icons for helper text
  src/patternfly/components/HelperText/helper-text-item-icon.hbs
Due: none

update icons for icon component
  src/patternfly/components/Icon/examples/Icon.md
Due: none

update available icons for wizard
  src/patternfly/components/Wizard/wizard-nav-link-status-icon.hbs
  src/patternfly/components/Wizard/wizard-toggle-icon.hbs
  src/patternfly/components/Wizard/wizard-toggle-status-icon.hbs
Due: none

update icons for tree view
  src/patternfly/components/TreeView/tree-view-node-icon.hbs
Due: none

ready remaining description list icons for rh icons
  src/patternfly/components/DescriptionList/description-list__example-with-icons.hbs
Due: none

update icons for progress stepper
  src/patternfly/components/ProgressStepper/progress-stepper-step-icon.hbs
Due: none

update icon for form control
  src/patternfly/components/FormControl/form-control-select.hbs
Due: none

update icons for number input
  src/patternfly/components/NumberInput/number-input-icon.hbs
Due: none

update available icons for label
  src/patternfly/components/Label/label-icon--map.hbs
  src/patternfly/components/Label/label-icon.hbs
Due: none

ready input group for rh icons
  src/patternfly/components/InputGroup/input-group-text.hbs
Due: none

update icon for login
  src/patternfly/components/Login/examples/Login.md
Due: none

update icons for text input group
  src/patternfly/components/TextInputGroup/text-input-group-icon.hbs
Due: none

update icon for badge
  src/patternfly/components/Badge/badge-icon.hbs
  src/patternfly/components/Badge/examples/Badge.md
Due: none

update icons for menu
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/Menu/menu-item-action-icon.hbs
  src/patternfly/components/Menu/menu-list-item.hbs
  src/patternfly/components/Menu/templates/menu-breadcrumbs--dropdown.hbs
Due: none
