Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

Notes added by 'git notes add'
  1dae39beb27a6eefdd158c6997ef10054c2b6f51
Due: none

feat(all): fix progress indicator inline-end to inline-start
  src/patternfly/components/Progress/progress.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): fix missing token values
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/tokens-font.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  d63e79f25250806429f1436f3063dce39467bca0
Due: none

fix(docs): add tabindex for scrollable examples
  src/patternfly/components/Panel/examples/Panel.md
  src/patternfly/components/Sidebar/examples/Sidebar.css
  src/patternfly/components/Sidebar/examples/Sidebar.md
  src/patternfly/components/Table/examples/Table.md
Due: none

fix(release): updated to dry run to test release issue
  release.config.js
Due: eslint --fix

chore(tokens): import tokens without :root selector in token files (#6598)
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/_index.scss
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-font.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(release): updated to dry run to release to npm
  release.config.js
Due: eslint --fix

Notes added by 'git notes add'
  b4579f4e28ec1d3d034be64838f815ca86d5557e
Due: none

feat(Wizard): set flexbasis with height var
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Page): remove deprecated page header
  src/patternfly/components/Page/deprecated/PageHeader.css
  src/patternfly/components/Page/deprecated/PageHeader.md
  src/patternfly/components/Page/page-header-brand-link.hbs
  src/patternfly/components/Page/page-header-brand-toggle.hbs
  src/patternfly/components/Page/page-header-brand.hbs
  src/patternfly/components/Page/page-header-nav.hbs
  src/patternfly/components/Page/page-header-tools-group.hbs
  src/patternfly/components/Page/page-header-tools-item.hbs
  src/patternfly/components/Page/page-header-tools.hbs
  src/patternfly/components/Page/page-header.hbs
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/page-demo-default.hbs
  src/patternfly/demos/Page/page-demo-expandable-nav.hbs
  src/patternfly/demos/Page/page-demo-masthead-component.hbs
  src/patternfly/demos/Page/page-demo-overflow-scroll.hbs
  src/patternfly/demos/Page/page-demo-sticky-section-bottom.hbs
  src/patternfly/demos/Page/page-demo-sticky-top-breadcrumb.hbs
  src/patternfly/demos/Page/page-demo-sticky-top-horizontal-subnav.hbs
  src/patternfly/demos/Page/page-demo-sticky-top-section-group.hbs
  src/patternfly/demos/Page/page-template-header-tools-elements.hbs
  src/patternfly/demos/Page/page-template-header-tools-notification-badge.hbs
  src/patternfly/demos/Page/page-template-header.hbs
  src/patternfly/demos/Page/page-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

feat(): rename variable
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(wizard): add wizard step status
  src/patternfly/components/Wizard/examples/Wizard.md
  src/patternfly/components/Wizard/wizard-nav-link-main.hbs
  src/patternfly/components/Wizard/wizard-nav-link-status-icon.hbs
  src/patternfly/components/Wizard/wizard-nav-link.hbs
  src/patternfly/components/Wizard/wizard-toggle-list-item.hbs
  src/patternfly/components/Wizard/wizard-toggle-status-icon.hbs
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(wizard): update vars with logical property names
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(ci): fixed stale action commenting "false" when closing issues/PRs
  .github/workflows/stale.yml
Due: none

chore(ci): fixed stale action commenting "false" when closing issues/PRs (#6610)
  .github/workflows/stale.yml
Due: none

feat(wizard): add wizard step status (#6447)
  src/patternfly/components/Wizard/examples/Wizard.md
  src/patternfly/components/Wizard/wizard-nav-link-main.hbs
  src/patternfly/components/Wizard/wizard-nav-link-status-icon.hbs
  src/patternfly/components/Wizard/wizard-nav-link.hbs
  src/patternfly/components/Wizard/wizard-toggle-list-item.hbs
  src/patternfly/components/Wizard/wizard-toggle-status-icon.hbs
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  9a869f899f49ed375022e37fd13b6c20d0fb245e
Due: none

chore(datalist): reduce mobile borders to 2px
  src/patternfly/components/DataList/data-list.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(button): update disabled badge styles
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(hint): top-align hint actions
  src/patternfly/components/Hint/hint.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(docs): update utility example tokens
  src/patternfly/utilities/Alignment/examples/Alignment.css
  src/patternfly/utilities/Display/examples/Display.css
  src/patternfly/utilities/Flex/examples/Flex.css
  src/patternfly/utilities/Float/examples/Float.css
  src/patternfly/utilities/Sizing/examples/Sizing.css
  src/patternfly/utilities/Spacing/examples/Spacing.css
Due: none

chore(docs): update utility example tokens (#6621)
  src/patternfly/utilities/Alignment/examples/Alignment.css
  src/patternfly/utilities/Display/examples/Display.css
  src/patternfly/utilities/Flex/examples/Flex.css
  src/patternfly/utilities/Float/examples/Float.css
  src/patternfly/utilities/Sizing/examples/Sizing.css
  src/patternfly/utilities/Spacing/examples/Spacing.css
Due: none

chore(docs): add tabindex for scrollable examples (#6600)
  src/patternfly/components/Panel/examples/Panel.md
  src/patternfly/components/Sidebar/examples/Sidebar.css
  src/patternfly/components/Sidebar/examples/Sidebar.md
  src/patternfly/components/Table/examples/Table.md
Due: none

chore(deps): update pf deps
  package.json
  yarn.lock
Due: none

chore(tokens): get latest tokens from figma
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): get latest tokens from figma (#6626)
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(page-header): remove a couple of unused hbs
  src/patternfly/demos/DataList/data-list-page-header.hbs
  src/patternfly/demos/NotificationDrawer/notification-drawer-demo.hbs
Due: none

chore(page-header): remove a couple more references
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/demos/Tabs/tabs--page-wrapper.hbs
Due: none

chore(deps): downgrade docs-framewor
  package.json
  yarn.lock
Due: none

fix(page): adjust spacing and brand size
  src/patternfly/components/AboutModalBox/about-modal-box.scss
  src/patternfly/components/Brand/examples/Brand.md
  src/patternfly/components/Masthead/masthead-logo.hbs
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(datalist): update from global var
  src/patternfly/components/DataList/data-list.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(datalist): reduce mobile borders to 2px (#6615)
  src/patternfly/components/DataList/data-list.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Wizard): reinclude default value
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(wizard): fix fallback logic
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Page): remove deprecated page header (#6588)
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Page/deprecated/PageHeader.css
  src/patternfly/components/Page/deprecated/PageHeader.md
  src/patternfly/components/Page/page-header-brand-link.hbs
  src/patternfly/components/Page/page-header-brand-toggle.hbs
  src/patternfly/components/Page/page-header-brand.hbs
  src/patternfly/components/Page/page-header-nav.hbs
  src/patternfly/components/Page/page-header-tools-group.hbs
  src/patternfly/components/Page/page-header-tools-item.hbs
  src/patternfly/components/Page/page-header-tools.hbs
  src/patternfly/components/Page/page-header.hbs
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/DataList/data-list-page-header.hbs
  src/patternfly/demos/NotificationDrawer/notification-drawer-demo.hbs
  src/patternfly/demos/Page/page-demo-default.hbs
  src/patternfly/demos/Page/page-demo-expandable-nav.hbs
  src/patternfly/demos/Page/page-demo-masthead-component.hbs
  src/patternfly/demos/Page/page-demo-overflow-scroll.hbs
  src/patternfly/demos/Page/page-demo-sticky-section-bottom.hbs
  src/patternfly/demos/Page/page-demo-sticky-top-breadcrumb.hbs
  src/patternfly/demos/Page/page-demo-sticky-top-horizontal-subnav.hbs
  src/patternfly/demos/Page/page-demo-sticky-top-section-group.hbs
  src/patternfly/demos/Page/page-template-header-tools-elements.hbs
  src/patternfly/demos/Page/page-template-header-tools-notification-badge.hbs
  src/patternfly/demos/Page/page-template-header.hbs
  src/patternfly/demos/Page/page-template.hbs
  src/patternfly/demos/Tabs/tabs--page-wrapper.hbs
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  2cf0eba51a63ce70c8da6ba59401000e396ac60a
Due: none

chore(deps): update pf deps (#6624)
  package.json
  yarn.lock
Due: none

feat(Wizard): capitalize height var
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix --config=.stylelintrc_logical
