Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

fix(nav): updated example css
  src/patternfly/components/Nav/examples/Navigation.css
Due: none

fix(nav): updated example css (#5903)
  src/patternfly/components/Nav/examples/Navigation.css
Due: none

fix: remove workspace RTL classes
  src/patternfly/base/_common.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: remove workspace RTL classes (#5912)
  src/patternfly/base/_common.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Button): adds tokens and applies to buttons (#5908)
  .stylelintrc
  src/patternfly/base/_globals.scss
  src/patternfly/base/_variables.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: Update upload-preview.js to use new workspace url
  .github/upload-preview.js
Due: eslint --fix

chore: mirror fa-sort icon
  src/patternfly/components/DualListSelector/dual-list-selector--actions.hbs
  src/patternfly/components/DualListSelector/examples/DualListSelector.md
  src/patternfly/components/OptionsMenu/deprecated/options-menu.md
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: none

chore: mirror fa-sort icon (#5920)
  src/patternfly/components/DualListSelector/dual-list-selector--actions.hbs
  src/patternfly/components/DualListSelector/examples/DualListSelector.md
  src/patternfly/components/OptionsMenu/deprecated/options-menu.md
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: none

fix: mirror bg image position in rtl
  src/patternfly/components/AboutModalBox/about-modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: mirror bg image position in rtl (#5922)
  src/patternfly/components/AboutModalBox/about-modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(progress): updated indicator direction
  src/patternfly/components/Progress/progress.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(progress): updated bar/indicator to non-logical props
  src/patternfly/components/Progress/progress.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(progress): updated indicator direction (#5923)
  src/patternfly/components/Progress/progress.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(code-editor): make code box and header LTR
  src/patternfly/components/CodeEditor/code-editor.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: update readme to reference new workspace url
  README.md
Due: none

chore: refactor to use dir instead of css for ltr on code block
  src/patternfly/components/CodeEditor/code-editor-code.hbs
  src/patternfly/components/CodeEditor/code-editor.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(global): apply global tokens
  src/patternfly/base/tokens/_tokens-font.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(global): update button to use tokens
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(global): more update button to use tokens
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(menu-toggle): apply tokens from hackathon
  src/patternfly/base/_globals.scss
  src/patternfly/components/Content/content.scss
  src/patternfly/components/MenuToggle/menu-toggle-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(content): apply tokens to content variables
  src/patternfly/components/Content/content.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(menu-toggle): rebase 2
  src/patternfly/base/tokens/_tokens-font.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(code-editor): make code box and header LTR (#5928)
  src/patternfly/components/CodeEditor/code-editor-code.hbs
Due: none

fix(banner): fixed invalid dark theme color declaration
  src/patternfly/sass-utilities/themes/dark/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(banner): fixed invalid dark theme color declaration (#5933)
  src/patternfly/sass-utilities/themes/dark/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(card): removed border from clickable/selectable selected
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix --config=.stylelintrc_logical

Replaced inline styling with compact
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Button/examples/Button.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(Button): updated logical properties
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Button): extended inline styling
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Button/examples/Button.md
Due: stylelint --fix --config=.stylelintrc_logical

Updated modifier to no-padding
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Button/examples/Button.md
Due: stylelint --fix --config=.stylelintrc_logical

Added documentation for use
  src/patternfly/components/Button/examples/Button.md
Due: none

Updated verbiage for no padding class
  src/patternfly/components/Button/examples/Button.md
Due: none

chore(clipboard-copy): add code example with rtl support
  src/patternfly/components/ClipboardCopy/clipboard-copy-expandable-content.hbs
  src/patternfly/components/ClipboardCopy/examples/ClipboardCopy.md
Due: none

feat(nav): apply tokens to nav and page
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(clipboard-copy): add code example with rtl support (#5941)
  src/patternfly/components/ClipboardCopy/clipboard-copy-expandable-content.hbs
  src/patternfly/components/ClipboardCopy/examples/ClipboardCopy.md
Due: none

fix(card): removed border from clickable/selectable selected (#5935)
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(Button): extended inline styling (#5696)
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Button/examples/Button.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu): updated drilldown breadcrumb menu icons to work in RTL
  src/patternfly/components/Menu/examples/Menu.css
  src/patternfly/components/Menu/templates/menu-breadcrumbs--Drilldown.hbs
  src/patternfly/components/Menu/templates/menu-breadcrumbs--dropdown.hbs
Due: none
