Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

fix(truncate): added modifier and example for fixed/max characters logic (#7439)
  src/patternfly/components/Truncate/examples/Truncate.md
  src/patternfly/components/Truncate/truncate-omission.hbs
  src/patternfly/components/Truncate/truncate-text.hbs
  src/patternfly/components/Truncate/truncate.hbs
  src/patternfly/components/Truncate/truncate.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(form-control): remove browser prefixed properties (#7435)
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(page): fix main layout with no sidebar (#7455)
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.hbs
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/demos/Page/page-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

core(A11y): resolved issues with latest pf- a11y package version (#7457)
  package.json
  patternfly-a11y.config.js
  src/patternfly/components/Divider/divider.hbs
  src/patternfly/components/Divider/examples/Divider.md
  src/patternfly/components/Drawer/drawer-splitter.hbs
  src/patternfly/components/Table/TableCells/table-cell-toggle.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/demos/Table/table-expandable-table.hbs
  yarn.lock
Due: eslint --fix

fix(CardTitle): titles over-run boundary for long names w/o breaks (#7420)
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: patch release
  release.config.js
Due: eslint --fix

fix: updated prerelease channel.
  release.config.js
Due: eslint --fix

fix: Fixed to pickup lateset patch release.
  release.config.js
Due: eslint --fix

fix: fixed lint issue
  release.config.js
Due: eslint --fix

fix: updated do not delete branch
  release.config.js
Due: eslint --fix

fix: Update README.md
  README.md
Due: none

chore(icons): add a help icon svg partial
  src/patternfly/assets/images/icon-help.hbs
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
  src/patternfly/components/Form/form-group-label-help.hbs
  src/patternfly/components/ModalBox/modal-box-header-help.hbs
  src/patternfly/components/Table/table-column-help-action.hbs
Due: none

feat(text-input-group): animate error status
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(icons): switch svg to help icon
  src/patternfly/assets/images/icon-help.hbs
Due: none

revert "feat(tabs): animate background, current border (#7336)"
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/components/Tabs/tabs-link.hbs
  src/patternfly/components/Tabs/tabs.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: updated to release on 6.2.x
  .github/workflows/pr-preview.yml
  .github/workflows/release.yml
  package.json
  release.config.js
Due: eslint --fix

fix: removed main
  release.config.js
Due: eslint --fix

chore: added main [ci skipped]
  release.config.js
Due: eslint --fix

Update src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/Button/examples/Button.md
Due: none

Update src/patternfly/components/CodeEditor/examples/CodeEditor.md
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
Due: none

Update src/patternfly/components/Form/form-group-label-help.hbs
  src/patternfly/components/Form/form-group-label-help.hbs
Due: none

Update src/patternfly/components/ModalBox/modal-box-header-help.hbs
  src/patternfly/components/ModalBox/modal-box-header-help.hbs
Due: none

Update src/patternfly/components/Table/table-column-help-action.hbs
  src/patternfly/components/Table/table-column-help-action.hbs
Due: none

fix: updated branches.
  release.config.js
Due: eslint --fix

fix(CodeEditor): remove command palette underlining (#7458)
  src/patternfly/components/CodeEditor/code-editor.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(skeleton): update the gradient and opacity
  src/patternfly/components/Skeleton/skeleton.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(icons): add a help icon svg partial (#7470)
  src/patternfly/assets/images/icon-help.hbs
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
  src/patternfly/components/Form/form-group-label-help.hbs
  src/patternfly/components/ModalBox/modal-box-header-help.hbs
  src/patternfly/components/Table/table-column-help-action.hbs
Due: none

fix: updated to test releasing 6.2.3
  release.config.js
Due: eslint --fix

Cherry pick 6.2.x patch (#7476)
  src/patternfly/components/CodeEditor/code-editor.scss
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.hbs
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/demos/Page/page-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

fix: added back prerelase
  release.config.js
Due: eslint --fix

fix(menu-toggle): adjust avatar within menu-toggle to align correctly (#7416)
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: Removed animation fix that was causing a regression.
  package.json
Due: none

Notes added by 'git notes add'
  90340d68bf0527ea02a41ad58be60be741879471
Due: none

Notes added by 'git notes add'
  a0dcdd6176f0a05d3dfc4ec198c1275c01b2ca61
Due: none

chore(skeleton): flip colors on reduced
  src/patternfly/components/Skeleton/skeleton.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: updated to 6.2.3 because 6.2.2 was publish incorrectly
  package.json
Due: none

fix(skeleton): introduce reduced motion (#7461)
  src/patternfly/components/Skeleton/skeleton.scss
Due: stylelint --fix --config=.stylelintrc_logical

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
