Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

chore(release): turn off dry run flag on main & release v5 prereleases
  release.config.js
Due: eslint --fix

chore(release): Update pr-preview.yml
  .github/workflows/pr-preview.yml
Due: none

Update upload-preview.js
  .github/upload-preview.js
Due: eslint --fix

chore(release): Update pr-preview.yml (#5648)
  .github/upload-preview.js
  .github/workflows/pr-preview.yml
Due: eslint --fix

fix(CalendarMonth): update bg color (#5624)
  src/patternfly/components/CalendarMonth/calendar-month.scss
  src/patternfly/components/CalendarMonth/themes/dark/calendar-month.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): fixed dark theme menu toggle styles
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Masthead/themes/dark/masthead.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/MenuToggle/themes/dark/menu-toggle.scss
  src/patternfly/demos/Masthead/examples/Masthead.md
  src/patternfly/demos/Masthead/masthead-template-application-launcher.hbs
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
  src/patternfly/demos/Masthead/masthead-template-context-selector.hbs
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
Due: none

fix(menu-toggle): fixed dark theme menu toggle styles (#5643)
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Masthead/themes/dark/masthead.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/MenuToggle/themes/dark/menu-toggle.scss
  src/patternfly/demos/Masthead/examples/Masthead.md
  src/patternfly/demos/Masthead/masthead-template-application-launcher.hbs
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
  src/patternfly/demos/Masthead/masthead-template-context-selector.hbs
Due: stylelint --fix --config=.stylelintrc_logical

fix(global): moved/prefixed variable font opt-in (#5617)
  src/patternfly/base/_common.scss
  src/patternfly/base/_variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(button): fixes primary background in pf-t-dark block
  src/patternfly/sass-utilities/placeholders.scss
  src/patternfly/sass-utilities/themes/dark/placeholders.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(release-notes): delete release notes
  RELEASE-NOTES.md
Due: none

chore(upgrade-guide): remove v3 to v4 upgrade guide
  UPGRADE-GUIDE.md
Due: none

chore(soureces): remove configs for release notes and upgrade guide
  patternfly-docs/patternfly-docs.source.js
Due: eslint --fix

fix(button): fixes primary background in pf-t-dark block (#5652)
  src/patternfly/sass-utilities/placeholders.scss
  src/patternfly/sass-utilities/themes/dark/placeholders.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(build): fix syntax in docs config file
  patternfly-docs/patternfly-docs.source.js
Due: eslint --fix

chore(build): fix syntax in docs config file (#5656)
  patternfly-docs/patternfly-docs.source.js
Due: eslint --fix

moving to highlight notes going forward. template file to move around and rename.
  major-release-notes.md
Due: none

chore: adjusted colors
  src/patternfly/components/Switch/themes/dark/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(core): darkened circle icon to match dark theme
  src/patternfly/components/Switch/examples/Switch.md
  src/patternfly/components/Switch/themes/dark/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: formatting adjustments
  src/patternfly/components/Switch/examples/Switch.md
  src/patternfly/components/Switch/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: added disabled to toggled id
  src/patternfly/components/Switch/examples/Switch.md
Due: none

fix(core): updated disabled switches in dark mode to light gray
  src/patternfly/components/Switch/examples/Switch.md
  src/patternfly/components/Switch/switch-toggle-icon-disabled.hbs
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Switch/themes/dark/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

change file name.
  RELEASE-NOTES.md
  major-release-notes.md
Due: none

chore(switch): revert scss changes
  src/patternfly/components/Switch/switch-toggle-icon-disabled.hbs
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Switch/themes/dark/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(switch): updates
  src/patternfly/components/Switch/examples/Switch.md
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Switch/themes/dark/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(core): darkened circle icon to match dark theme (#5651)
  src/patternfly/components/Switch/examples/Switch.md
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Switch/themes/dark/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: updated some text, and added deprecated tags where needed
  src/patternfly/components/Drawer/examples/Drawer.md
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/demos/Nav/examples/Nav.md
Due: none

fix: updated some text, and added deprecated tags where needed (#5657)
  src/patternfly/components/Drawer/examples/Drawer.md
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/demos/Nav/examples/Nav.md
Due: none

chore: added pf-m-warning to the button usage table
  src/patternfly/components/Button/examples/Button.md
Due: none

chore: removed added line, on wrong branch
  src/patternfly/components/Button/examples/Button.md
Due: none

fix(aboutmodal): added variable for background image
  src/patternfly/components/AboutModalBox/about-modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(text-input-group): updates to fix when used in dark block
  src/patternfly/base/_variables.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/sass-utilities/placeholders.scss
  src/patternfly/sass-utilities/scss-variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(select,dropdown): mark select and dropdown as deprecated
  src/patternfly/components/Dropdown/deprecated/Dropdown.css
  src/patternfly/components/Dropdown/deprecated/Dropdown.md
  src/patternfly/components/Dropdown/examples/Dropdown.css
  src/patternfly/components/Select/deprecated/Select.css
  src/patternfly/components/Select/deprecated/Select.md
  src/patternfly/components/Select/examples/Select.css
Due: none

fix(card): updated selectable dark theme styles
  src/patternfly/components/Card/themes/dark/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(card): dark theme updates
  src/patternfly/components/Card/themes/dark/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(select): add height
  src/patternfly/components/Select/deprecated/Select.css
Due: none

chore(pf-t-placeholder): updates for dark theme
  src/patternfly/base/themes/dark/_variables.scss
  src/patternfly/sass-utilities/themes/dark/placeholders.scss
  src/patternfly/sass-utilities/themes/dark/scss-variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Create dexX.yml
  .github/ISSUE_TEMPLATE/dexX.yml
Due: none
