Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

fix(clipboard-copy): adjust inline icons (#6788)
  src/patternfly/components/ClipboardCopy/clipboard-copy.scss
  src/patternfly/components/ClipboardCopy/examples/ClipboardCopy.md
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  9f/d828060cc99ac3033a048d413631d7b22d9c12
Due: none

fix(jump-links): remove negative margins from expandable toggle (#6798)
  src/patternfly/components/JumpLinks/jump-links.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  71/815db7e8242d34d3bad837cdd6d654f17e27ca
Due: none

chore(titles): fix spacers and font size
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/Popover/popover.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(alert-group): move alert overflow hidden into modifier
  src/patternfly/components/Alert/alert-group.scss
  src/patternfly/components/Alert/alert.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(alert-group): move alert overflow onto alert item
  src/patternfly/components/Alert/alert-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(button): add icon/text wrapper
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(button): hbs updates to button component
  src/patternfly/components/Badge/badge.hbs
  src/patternfly/components/Button/button--variations.hbs
  src/patternfly/components/Button/button-count.hbs
  src/patternfly/components/Button/button-icon.hbs
  src/patternfly/components/Button/button-text.hbs
  src/patternfly/components/Button/button.hbs
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/demos/Button/button-template-form.hbs
Due: none

Removed has pseudo
  src/patternfly/components/Panel/examples/Panel.md
  src/patternfly/components/Panel/panel.scss
  src/patternfly/demos/Panel/Panel.md
Due: stylelint --fix --config=.stylelintrc_logical

Updated styles to amtch menu
  src/patternfly/components/Panel/panel-menu.hbs
  src/patternfly/components/Panel/panel.scss
  src/patternfly/demos/Panel/Panel.md
Due: stylelint --fix --config=.stylelintrc_logical

Added plain modifier to menu in demo
  src/patternfly/demos/Panel/Panel.md
Due: none

Added documentation for panel menu class
  src/patternfly/components/Panel/examples/Panel.md
Due: none

Added raised variant to panel demo
  src/patternfly/demos/Panel/Panel.md
Due: none

feat(Panel): added Penta styles
  src/patternfly/components/Panel/panel.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Panel): added Penta styles (#6741)
  src/patternfly/components/Panel/examples/Panel.md
  src/patternfly/components/Panel/panel-menu.hbs
  src/patternfly/components/Panel/panel.scss
  src/patternfly/demos/Panel/Panel.md
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  c3/6a7a1dcd6b3cc175a4ad131bcccf33fe8c94f0
Due: none

chore(button): update inline-link to use inline-flex
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(button): add small margin to icon when inline-link
  src/patternfly/components/Button/button-icon.hbs
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(button): remove margin from count/badge
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(button): fix plain disabled styles
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(popover): Content spacer
  src/patternfly/components/Popover/popover.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(button): add icon/text wrapper (#6806)
  src/patternfly/components/Badge/badge.hbs
  src/patternfly/components/Button/button--variations.hbs
  src/patternfly/components/Button/button-count.hbs
  src/patternfly/components/Button/button-icon.hbs
  src/patternfly/components/Button/button-text.hbs
  src/patternfly/components/Button/button.hbs
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/demos/Button/button-template-form.hbs
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  b5/7499ddc4f5315124d7e94c651642d2f46b75b4
Due: none

chore(avatar): remove inches and menu toggle
  src/patternfly/assets/images/img_avatar-dark.svg
  src/patternfly/assets/images/img_avatar-light.svg
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
Due: none

feat(alert-group): animate addition and removal of alerts (#6804)
  src/patternfly/components/Alert/alert-group.scss
  src/patternfly/components/Alert/alert.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  40/898d1798dd303b2fa824f425bd03792284da7b
Due: none

chore(build): update pf deps
  package.json
  yarn.lock
Due: none

chore(popover): fix icon sizing tokens
  src/patternfly/components/Popover/popover.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(data-list): remove card from demos
  src/patternfly/demos/DataList/examples/DataList.md
Due: none

chore(build): update pf deps (#6810)
  package.json
  yarn.lock
Due: none

chore(screenshots): visual regression screenshots, update urls
  backstop.config.js
Due: eslint --fix

fix(toolbar): removed margin modifiers
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(toolbar): removed margin modifiers (#6813)
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  4d/380f3b2c89b07da2b1595faec70b345d911d54
Due: none

chore(table): update table examples
  src/patternfly/demos/Table/examples/Table.md
Due: none

chore(card): demo/style cleanup
  src/patternfly/components/Card/card.scss
  src/patternfly/demos/Card/examples/Card.md
Due: stylelint --fix --config=.stylelintrc_logical
