Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

chore(table): remove dark theme
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/themes/dark/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): remove dark theme (#6395)
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/themes/dark/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): updated code comments, made searchable
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-scrollable.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(FormControl): updated select styling in light and dark themes
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(check): update standalone styling (#6330)
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Radio/radio.scss
  src/patternfly/components/Table/Tree-table/table-tr--tree.hbs
  src/patternfly/components/Table/table-check.hbs
  src/patternfly/components/Table/table-td.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/templates/table--check.hbs
  src/patternfly/components/Table/templates/table--radio.hbs
  src/patternfly/demos/DataList/data-list-expandable-compact-table.hbs
  src/patternfly/demos/Page/examples/Penta.md
  src/patternfly/demos/Skeleton/table-skeleton.hbs
  src/patternfly/demos/Table/table-compact-table.hbs
  src/patternfly/demos/Table/table-empty-state-table.hbs
  src/patternfly/demos/Table/table-expandable-table.hbs
  src/patternfly/demos/Table/table-loading-table.hbs
  src/patternfly/demos/Table/table-simple-table.hbs
  src/patternfly/demos/Table/table-sortable-table.hbs
  src/patternfly/demos/Tabs/tabs--table.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(nav): updates
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(text-input-group): disabled state fix
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(nav): scroll button outline offset
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(v6): merge main
  .github/ISSUE_TEMPLATE/bug_report.md
  backstop.config.js
  backstop.js
  backstop_data/bitmaps_reference/pf-core__components_modal_html_danger-alert-with-modifier-on-modal-title_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_modal_html_danger-alert-with-modifier-on-modal-title_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_modal_html_danger-alert-with-modifier-on-modal-title_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-desktop_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-desktop_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-desktop_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-mobile_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-mobile_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-mobile_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html_expanded-elements_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html_expanded-elements_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html_expanded-elements_0__2_desktop.png
  package.json
  release.config.js
  src/patternfly/components/Card/card.scss
  src/patternfly/components/ModalBox/examples/ModalBox.md
  src/patternfly/components/ModalBox/modal-box--status-modifiers.hbs
  src/patternfly/components/ModalBox/modal-box-title.hbs
  src/patternfly/components/ModalBox/modal-box.hbs
  src/patternfly/components/ModalBox/modal-box.scss
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore(v6): merge cleanup
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-desktop_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-desktop_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-desktop_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-mobile_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-mobile_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-select-filter-on-mobile_0__2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html_expanded-elements_0__0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html_expanded-elements_0__1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html_expanded-elements_0__2_desktop.png
  release.config.js
Due: eslint --fix

fix(FormControl): updated select styling for v6 branch
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(text-input-group): fix advanced search examples
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.css
Due: none

fix(nav): updates to horizontal subnav (#6302)
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav-scroll-button.hbs
  src/patternfly/components/Nav/nav.hbs
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Nav/examples/Nav.md
  src/patternfly/demos/Page/page-template-horizontal-subnav.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): updated code comments, made searchable (#6396)
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-scrollable.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(v6): merge main (#6398)
  .github/ISSUE_TEMPLATE/bug_report.md
  backstop.config.js
  backstop.js
  backstop_data/bitmaps_reference/pf-core__components_modal_html_danger-alert-with-modifier-on-modal-title_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_modal_html_danger-alert-with-modifier-on-modal-title_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_modal_html_danger-alert-with-modifier-on-modal-title_0_document_2_desktop.png
  package.json
  src/patternfly/components/Card/card.scss
  src/patternfly/components/ModalBox/examples/ModalBox.md
  src/patternfly/components/ModalBox/modal-box--status-modifiers.hbs
  src/patternfly/components/ModalBox/modal-box-title.hbs
  src/patternfly/components/ModalBox/modal-box.hbs
  src/patternfly/components/ModalBox/modal-box.scss
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(CI): disable CD
  release.config.js
Due: eslint --fix

Notes added by 'git notes add'
  6f18719009d01bcd29f27ba8040843bf6bc8ecf4
Due: none

chore(CI): reenable CD
  release.config.js
Due: eslint --fix

chore(table): merge conflict cleanup
  src/patternfly/demos/Table/table-expandable-table.hbs
Due: none

chore(table): merge conflict cleanup (#6404)
  src/patternfly/demos/Table/table-expandable-table.hbs
Due: none

fix(CI): reenable CD (#6402)
  release.config.js
Due: eslint --fix

Notes added by 'git notes add'
  674b6064ffacbd4fa17abf2ede75b1b84e7fcdda
Due: none

Notes added by 'git notes add'
  4c6edee42d23a91a07b38d685e8f20c954359522
Due: none

fix(CI): reenable CD
  release.config.js
Due: eslint --fix

fix(CI): reenable CD (#6405)
  release.config.js
Due: eslint --fix

Notes added by 'git notes add'
  2cdac3488e88c739533c668dd4e55c1dd03fba78
Due: none

fix(page): add container around main element
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page-main-container.hbs
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/page-template-main.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(text-input-group): apply tokens (#6360)
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.css
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(FormControl): updated select styling in light and dark themes (#6397)
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  f055e7e889362da29719c2c2aee325efd27ff315
Due: none

chore(table): updated all thead > td to th
  scripts/helpers.mjs
  src/patternfly/components/InlineEdit/examples/InlineEdit.md
  src/patternfly/components/Table/TableCells/table-cell-check.hbs
  src/patternfly/components/Table/TableCells/table-cell-empty.hbs
  src/patternfly/components/Table/TableCells/table-cell-toggle.hbs
  src/patternfly/components/Table/TableCells/table-cell.hbs
  src/patternfly/components/Table/Tree-table/table-tr--tree.hbs
  src/patternfly/components/Table/Tree-table/table-tree-view--basic.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-nested.hbs
  src/patternfly/components/Table/table-td.hbs
  src/patternfly/components/Table/table-th.hbs
  src/patternfly/components/Table/table-tr.hbs
  src/patternfly/components/Table/templates/table--scrollable--tbody--tr.hbs
  src/patternfly/components/Table/templates/table--scrollable--td.hbs
  src/patternfly/components/Table/templates/table--scrollable--th.hbs
  src/patternfly/components/Table/templates/table--scrollable--thead--tr.hbs
  src/patternfly/demos/Card/templates/card-demo--popover-table.hbs
  src/patternfly/demos/DataList/data-list-expandable-compact-table.hbs
  src/patternfly/demos/Page/examples/Penta.md
  src/patternfly/demos/Skeleton/table-skeleton.hbs
  src/patternfly/demos/Table/table-compact-table.hbs
  src/patternfly/demos/Table/table-compound-expansion-table.hbs
  src/patternfly/demos/Table/table-expandable-table.hbs
  src/patternfly/demos/Table/table-simple-table.hbs
  src/patternfly/demos/Table/table-sortable-table.hbs
  src/patternfly/demos/Tabs/tabs--table.hbs
  src/patternfly/utilities/Accessibility/screen-reader.hbs
Due: none

update
  src/patternfly/components/Table/TableCells/table-cell.hbs
  src/patternfly/components/Table/Tree-table/table-tr--tree.hbs
Due: none

fix(page): rename page grid elements
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(FormControl): updated select styling for v6 branch (#6399)
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  697853f606bad83fcc58699e248942b10d2d509e
Due: none

fix(utilities): rtl, penta updates
  src/patternfly/sass-utilities/mixins.scss
  src/patternfly/utilities/Accessibility/examples/Accessibility.md
  src/patternfly/utilities/Alignment/alignment.scss
  src/patternfly/utilities/Alignment/examples/Alignment.css
  src/patternfly/utilities/Alignment/examples/Alignment.md
  src/patternfly/utilities/BackgroundColor/BackgroundColor.scss
  src/patternfly/utilities/BackgroundColor/examples/BackgroundColor.md
  src/patternfly/utilities/BackgroundColor/themes/dark/BackgroundColor.scss
  src/patternfly/utilities/BoxShadow/box-shadow.scss
  src/patternfly/utilities/BoxShadow/examples/box-shadow.css
  src/patternfly/utilities/BoxShadow/examples/box-shadow.md
  src/patternfly/utilities/Display/display.scss
  src/patternfly/utilities/Display/examples/Display.css
  src/patternfly/utilities/Display/examples/Display.md
  src/patternfly/utilities/Flex/examples/Flex.css
  src/patternfly/utilities/Flex/examples/Flex.md
  src/patternfly/utilities/Flex/flex.scss
  src/patternfly/utilities/Float/examples/Float.css
  src/patternfly/utilities/Float/examples/Float.md
  src/patternfly/utilities/Float/float.scss
  src/patternfly/utilities/Sizing/examples/Sizing.css
  src/patternfly/utilities/Sizing/examples/Sizing.md
  src/patternfly/utilities/Sizing/sizing.scss
  src/patternfly/utilities/Spacing/examples/Spacing.css
  src/patternfly/utilities/Spacing/examples/Spacing.md
  src/patternfly/utilities/Text/examples/Text.md
  src/patternfly/utilities/Text/text.scss
  src/patternfly/utilities/Text/themes/dark/text.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(utilities): typos
  src/patternfly/utilities/Accessibility/examples/Accessibility.md
  src/patternfly/utilities/Alignment/examples/Alignment.md
  src/patternfly/utilities/Float/examples/Float.css
  src/patternfly/utilities/Float/examples/Float.md
  src/patternfly/utilities/Float/float.scss
Due: stylelint --fix --config=.stylelintrc_logical
