Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

fix(table): fixed expandable table styles
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(modal): add high contrast border
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): updates
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): updates
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(accordion): add high contrast border
  src/patternfly/components/Accordion/accordion.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): fixed expandable table styles (#7654)
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  d21e7a3952799f59e0310932132426d833da6865
Due: none

Revert "fix(table): fixed expandable table styles (#7654)"
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Revert "fix(table): fix comp exp jump, background fade on collapse (#7578)"
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Revert "fix(table): updated expandable to animate visibility (#7537)"
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/ExpandableSection/expandable-section.scss
  src/patternfly/components/Form/form.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table--expandable.hbs
  src/patternfly/components/Table/table-expandable-row-content.hbs
  src/patternfly/components/Table/table.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

Revert "fix(table): animate expandable (#7497)"
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): fix animation style conflicts
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/DualListSelector/dual-list-selector.scss
  src/patternfly/components/ExpandableSection/expandable-section.scss
  src/patternfly/components/Form/form.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-expandable-row-content.hbs
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/components/TreeView/tree-view.scss
  src/patternfly/demos/Table/table-compound-expansion-table.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): mark animated examples as beta
  src/patternfly/components/Table/examples/Table.md
Due: none

fix(table): remove nth-child expandable row styles
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): remove unnecessary styles
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): remove comment
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): fix animation style conflicts (#7663)
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table--expandable.hbs
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/demos/Table/table-compound-expansion-table.hbs
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  6e6d120117183dc9a364f71e159d2a33498f8ef3
Due: none

fix(table): fix compound expandable top padding
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(table): fix compound expandable top padding (#7666)
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  ebce079687a35a83ad493a799101ec1b2e0fa6af
Due: none

fix(button): change button ripple to just bgcolor
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(textinputgroup): update placeholder text color for disabled state
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(button): smooth out ripple gradient stop
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(button): smooth out ripple gradient stop (#7668)
  src/patternfly/components/Button/button.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  ff6269c0e55af61dce80195d195eb1bc412a9a3a
Due: none

fix(textinputgroup): fix disabled input color
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(inline-edit/popover): remove stray code
  src/patternfly/components/InlineEdit/examples/InlineEdit.md
  src/patternfly/components/Popover/examples/Popover.md
Due: none

chore(inline-edit): cleanup
  src/patternfly/components/InlineEdit/examples/InlineEdit.md
Due: none

feat(high-contrast): add support for high contrast theme (#7555)
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/tokens-charts-dark.scss
  src/patternfly/base/tokens/tokens-charts.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-highcontrast.scss
  src/patternfly/base/tokens/tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(modal): add high contrast border (#7655)
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(pr-preview): fix base branch refs
  .github/workflows/pr-preview.yml
Due: none

chore(pr-preview): fix base branch refs (#7678)
  .github/workflows/pr-preview.yml
Due: none

fix(alert): add high contrast borders for overflow button
  src/patternfly/components/Alert/alert-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(badge): added high contrast border
  src/patternfly/components/Badge/badge.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(backstop): force light mode and fix no motion class (#7653)
  backstop_data/engine_scripts/puppet/onReady.js
  backstop_data/engine_scripts/puppet/overrideCSS.js
Due: eslint --fix
