Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore: use item icon with icon component instead
  src/patternfly/components/Icon/icon-content.hbs
  src/patternfly/components/Menu/templates/menu-breadcrumbs--Drilldown.hbs
  src/patternfly/components/Menu/templates/menu-breadcrumbs--dropdown.hbs
Due: none

fix(menu): updated drilldown breadcrumb menu icons to work in RTL (#5924)
  src/patternfly/components/Icon/icon-content.hbs
  src/patternfly/components/Menu/examples/Menu.css
  src/patternfly/components/Menu/templates/menu-breadcrumbs--Drilldown.hbs
  src/patternfly/components/Menu/templates/menu-breadcrumbs--dropdown.hbs
Due: none

chore: update
  src/patternfly/components/Toolbar/toolbar-expand-all-icon.hbs
Due: none

chore(toolbar): mirror expand all icon in rtl
  src/patternfly/components/Toolbar/toolbar-expand-all-icon.hbs
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: use icon shouldMirrorRTL param
  src/patternfly/components/Toolbar/toolbar-expand-all-icon.hbs
Due: none

fix(toolbar): fix expand all icon in RTL (#5937)
  src/patternfly/components/Toolbar/toolbar-expand-all-icon.hbs
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(popover/tooltip): revert arrow logical prop positioning
  src/patternfly/components/Popover/examples/Popover.md
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Tooltip/examples/Tooltip.md
  src/patternfly/components/Tooltip/tooltip.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: add missing local css import
  src/patternfly/components/Tooltip/examples/Tooltip.md
Due: none

fix(popover/tooltip): revert arrow logical prop positioning (#5952)
  src/patternfly/components/Popover/examples/Popover.md
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Tooltip/examples/Tooltip.md
  src/patternfly/components/Tooltip/tooltip.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(screenshots): update visual regression screenshots
  backstop_data/bitmaps_reference/pf-core__components_button_html_variations_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_button_html_variations_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_button_html_variations_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_clipboard-copy_html_expandable_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_clipboard-copy_html_expandable_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_clipboard-copy_html_expandable_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_data-list_html-demos_expandable-demo_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_data-list_html-demos_expandable-demo_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_data-list_html-demos_expandable-demo_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu_html_drilldown-with-breadcrumbs---level-3_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu_html_drilldown-with-breadcrumbs---level-3_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu_html_drilldown-with-breadcrumbs---level-3_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu_html_drilldown-with-breadcrumbs---level-4_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu_html_drilldown-with-breadcrumbs---level-4_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu_html_drilldown-with-breadcrumbs---level-4_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html-demos_horizontal-nav-with-horizontal-subnav_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html-demos_horizontal-nav-with-horizontal-subnav_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tabs_html_help-button-example_0_document_0_mobile.png
Due: none

fix(Toolbar): increase workspace container height
  src/patternfly/demos/Toolbar/examples/Toolbar.css
Due: none

fix(Toolbar): increaseanother workspace container height
  src/patternfly/demos/Toolbar/examples/Toolbar.css
Due: none

feat(table): apply tokens from hackathon
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Page/examples/Penta.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): fix box-shadow token values
  src/patternfly/base/tokens/_tokens-font.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(table): apply tokens from hackathon (#5965)
  src/patternfly/base/tokens/_tokens-font.scss
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Page/examples/Penta.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(menu-toggle): add in work from hackathon (#5931)
  src/patternfly/base/_globals.scss
  src/patternfly/components/Content/content.scss
  src/patternfly/components/MenuToggle/menu-toggle-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): fix a token
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(nav): adds tokens to page and nav (#5942)
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(page): page and masthead updates from hackathon
  src/patternfly/components/Masthead/masthead-logo.hbs
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Page/page-main-list.hbs
  src/patternfly/components/Page/page-sidebar-header.hbs
  src/patternfly/components/Page/page-sidebar-title.hbs
  src/patternfly/components/Table/table-grid.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): update tokens from figma
  src/patternfly/base/tokens/_tokens-dark.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): remove stylelint
  src/patternfly/base/tokens/_tokens-dark.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(tokens): update tokens from figma (#5970)
  src/patternfly/base/tokens/_tokens-dark.scss
  src/patternfly/base/tokens/_tokens-default.scss
  src/patternfly/base/tokens/_tokens-palette.scss
Due: stylelint --fix --config=.stylelintrc_logical

Update src/patternfly/components/Masthead/masthead-logo.hbs
  src/patternfly/components/Masthead/masthead-logo.hbs
Due: none

Update src/patternfly/components/Page/page-main-list.hbs
  src/patternfly/components/Page/page-main-list.hbs
Due: none

Update src/patternfly/components/Page/page-sidebar-header.hbs
  src/patternfly/components/Page/page-sidebar-header.hbs
Due: none

Update src/patternfly/components/Page/page-sidebar-title.hbs
  src/patternfly/components/Page/page-sidebar-title.hbs
Due: none

feat(page): page and masthead updates from hackathon (#5968)
  src/patternfly/components/Masthead/masthead-logo.hbs
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Page/page-main-list.hbs
  src/patternfly/components/Page/page-sidebar-header.hbs
  src/patternfly/components/Page/page-sidebar-title.hbs
  src/patternfly/components/Table/table-grid.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(card): added header wrap modifier
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(Toolbar): increase workspace container height (#5962)
  src/patternfly/demos/Toolbar/examples/Toolbar.css
Due: none

chore(screenshots): update visual regression screenshots (#5959)
  backstop_data/bitmaps_reference/pf-core__components_button_html_variations_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_button_html_variations_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_button_html_variations_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_clipboard-copy_html_expandable_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_clipboard-copy_html_expandable_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_clipboard-copy_html_expandable_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_data-list_html-demos_expandable-demo_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_data-list_html-demos_expandable-demo_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_data-list_html-demos_expandable-demo_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu_html_drilldown-with-breadcrumbs---level-3_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu_html_drilldown-with-breadcrumbs---level-3_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu_html_drilldown-with-breadcrumbs---level-3_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu_html_drilldown-with-breadcrumbs---level-4_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu_html_drilldown-with-breadcrumbs---level-4_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_menus_menu_html_drilldown-with-breadcrumbs---level-4_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html-demos_horizontal-nav-with-horizontal-subnav_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html-demos_horizontal-nav-with-horizontal-subnav_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tabs_html_help-button-example_0_document_0_mobile.png
Due: none

fix(check-radio): added aria-labelledby to check/radio
  src/patternfly/components/Check/check-body.hbs
  src/patternfly/components/Check/check-description.hbs
  src/patternfly/components/Check/check-input.hbs
  src/patternfly/components/Check/check-label.hbs
  src/patternfly/components/Check/check.hbs
  src/patternfly/components/Check/examples/Check.md
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle--check.hbs
  src/patternfly/components/Radio/examples/Radio.md
  src/patternfly/components/Radio/radio-body.hbs
  src/patternfly/components/Radio/radio-description.hbs
  src/patternfly/components/Radio/radio-input.hbs
  src/patternfly/components/Radio/radio-label.hbs
Due: none

update
  src/patternfly/components/Check/check.hbs
  src/patternfly/components/Select/__select-checkbox-checked.hbs
Due: none

update
  src/patternfly/components/Radio/radio-input.hbs
Due: none

update
  src/patternfly/components/Check/check-input.hbs
  src/patternfly/components/Check/check.hbs
Due: none

update
  src/patternfly/components/Check/check.hbs
Due: none

fix(check-radio): removed body from aria
  src/patternfly/components/Check/check-body.hbs
  src/patternfly/components/Check/check-description.hbs
  src/patternfly/components/Check/check-input.hbs
  src/patternfly/components/Check/check-label.hbs
  src/patternfly/components/Check/check.hbs
  src/patternfly/components/Check/examples/Check.md
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle--check.hbs
  src/patternfly/components/Radio/examples/Radio.md
  src/patternfly/components/Radio/radio-body.hbs
  src/patternfly/components/Radio/radio-description.hbs
  src/patternfly/components/Radio/radio-input.hbs
  src/patternfly/components/Radio/radio-label.hbs
  src/patternfly/components/Radio/radio.hbs
Due: none

fix(release): dryrun releasing a patch
  .github/workflows/release.yml
  release.config.js
Due: eslint --fix

fix(release): dry run patch releases
  .github/workflows/release.yml
  release.config.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
