Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

Update navigation structure: move utilities and layouts to foundations-and-styles
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/ProgressStepper/examples/ProgressStepper.md
  src/patternfly/components/Sidebar/examples/Sidebar.md
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/layouts/Bullseye/examples/Bullseye.md
  src/patternfly/layouts/Flex/examples/Flex.md
  src/patternfly/layouts/Gallery/examples/Gallery.md
  src/patternfly/layouts/Grid/examples/Grid.md
  src/patternfly/layouts/Level/examples/Level.md
  src/patternfly/layouts/Split/examples/Split.md
  src/patternfly/layouts/Stack/examples/Stack.md
  src/patternfly/utilities/Accessibility/examples/Accessibility.md
  src/patternfly/utilities/Alignment/examples/Alignment.md
  src/patternfly/utilities/BackgroundColor/examples/BackgroundColor.md
  src/patternfly/utilities/BoxShadow/examples/box-shadow.md
  src/patternfly/utilities/Display/examples/Display.md
  src/patternfly/utilities/Flex/examples/Flex.md
  src/patternfly/utilities/Float/examples/Float.md
  src/patternfly/utilities/Sizing/examples/Sizing.md
  src/patternfly/utilities/Spacing/examples/Spacing.md
  src/patternfly/utilities/Text/examples/Text.md
Due: none

docs: updates sidenav
  patternfly-docs/patternfly-docs.config.js
Due: eslint --fix

docs(AI): update AI urls
  patternfly-docs/patternfly-docs.config.js
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/examples/Compass.md
Due: eslint --fix

docs(links): fix broken links
  src/patternfly/components/Avatar/examples/Avatar.md
Due: none

docs(links): fix broken links
  src/patternfly/components/Brand/examples/Brand.md
  src/patternfly/components/DataList/examples/DataList.md
  src/patternfly/components/DescriptionList/examples/DescriptionList.md
  src/patternfly/components/Divider/examples/Divider.md
  src/patternfly/components/Drawer/examples/Drawer.md
  src/patternfly/components/JumpLinks/examples/JumpLinks.md
  src/patternfly/components/Masthead/examples/masthead.md
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/ProgressStepper/examples/ProgressStepper.md
  src/patternfly/components/Sidebar/examples/Sidebar.md
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/layouts/Flex/examples/Flex.md
  src/patternfly/layouts/Gallery/examples/Gallery.md
  src/patternfly/layouts/Grid/examples/Grid.md
  src/patternfly/utilities/Accessibility/examples/Accessibility.md
  src/patternfly/utilities/Alignment/examples/Alignment.md
  src/patternfly/utilities/BackgroundColor/examples/BackgroundColor.md
  src/patternfly/utilities/Display/examples/Display.md
  src/patternfly/utilities/Flex/examples/Flex.md
  src/patternfly/utilities/Float/examples/Float.md
  src/patternfly/utilities/Sizing/examples/Sizing.md
  src/patternfly/utilities/Spacing/examples/Spacing.md
  src/patternfly/utilities/Text/examples/Text.md
Due: none

fix: moves layouts and utilities to align with nav study (#7851)
  patternfly-docs/patternfly-docs.config.js
  src/patternfly/components/Avatar/examples/Avatar.md
  src/patternfly/components/Brand/examples/Brand.md
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/components/DataList/examples/DataList.md
  src/patternfly/components/DescriptionList/examples/DescriptionList.md
  src/patternfly/components/Divider/examples/Divider.md
  src/patternfly/components/Drawer/examples/Drawer.md
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/JumpLinks/examples/JumpLinks.md
  src/patternfly/components/Masthead/examples/masthead.md
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Pagination/examples/Pagination.md
  src/patternfly/components/ProgressStepper/examples/ProgressStepper.md
  src/patternfly/components/Sidebar/examples/Sidebar.md
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/demos/Compass/examples/Compass.md
  src/patternfly/layouts/Bullseye/examples/Bullseye.md
  src/patternfly/layouts/Flex/examples/Flex.md
  src/patternfly/layouts/Gallery/examples/Gallery.md
  src/patternfly/layouts/Grid/examples/Grid.md
  src/patternfly/layouts/Level/examples/Level.md
  src/patternfly/layouts/Split/examples/Split.md
  src/patternfly/layouts/Stack/examples/Stack.md
  src/patternfly/utilities/Accessibility/examples/Accessibility.md
  src/patternfly/utilities/Alignment/examples/Alignment.md
  src/patternfly/utilities/BackgroundColor/examples/BackgroundColor.md
  src/patternfly/utilities/BoxShadow/examples/box-shadow.md
  src/patternfly/utilities/Display/examples/Display.md
  src/patternfly/utilities/Flex/examples/Flex.md
  src/patternfly/utilities/Float/examples/Float.md
  src/patternfly/utilities/Sizing/examples/Sizing.md
  src/patternfly/utilities/Spacing/examples/Spacing.md
  src/patternfly/utilities/Text/examples/Text.md
Due: eslint --fix

Notes added by 'git notes add'
  de/4db4cad11c03864b1587e9c00df07dfe106299
Due: none

fix(examples): update css for example styles
  src/patternfly/components/Compass/examples/Compass.css
  src/patternfly/layouts/Bullseye/examples/Bullseye.css
  src/patternfly/layouts/Flex/examples/Flex.css
  src/patternfly/layouts/Gallery/examples/Gallery.css
  src/patternfly/layouts/Grid/examples/Grid.css
  src/patternfly/layouts/Level/examples/Level.css
  src/patternfly/layouts/Split/examples/Split.css
  src/patternfly/layouts/Stack/examples/Stack.css
  src/patternfly/utilities/Alignment/examples/Alignment.css
  src/patternfly/utilities/BoxShadow/examples/box-shadow.css
  src/patternfly/utilities/Display/examples/Display.css
  src/patternfly/utilities/Flex/examples/Flex.css
  src/patternfly/utilities/Float/examples/Float.css
  src/patternfly/utilities/Spacing/examples/Spacing.css
Due: none

feat(toolbar): add a container breakpoint
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/sass-utilities/mixins.scss
  src/patternfly/sass-utilities/scss-variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(gitignore): Ignore claude config files
  .gitignore
Due: none

feat(toolbar): disable stylelint temporarily
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(toolbar): add breakpoint modifiers
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(toolbar): turn off media query for pf-m-container
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(examples): update css for example styles (#7999)
  src/patternfly/components/Compass/examples/Compass.css
  src/patternfly/layouts/Bullseye/examples/Bullseye.css
  src/patternfly/layouts/Flex/examples/Flex.css
  src/patternfly/layouts/Gallery/examples/Gallery.css
  src/patternfly/layouts/Grid/examples/Grid.css
  src/patternfly/layouts/Level/examples/Level.css
  src/patternfly/layouts/Split/examples/Split.css
  src/patternfly/layouts/Stack/examples/Stack.css
  src/patternfly/utilities/Alignment/examples/Alignment.css
  src/patternfly/utilities/BoxShadow/examples/box-shadow.css
  src/patternfly/utilities/Display/examples/Display.css
  src/patternfly/utilities/Flex/examples/Flex.css
  src/patternfly/utilities/Float/examples/Float.css
  src/patternfly/utilities/Spacing/examples/Spacing.css
Due: none

chore: rename class
  src/patternfly/components/Compass/compass.hbs
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(compass): add smooth animation opt-in
  src/patternfly/components/Compass/compass.hbs
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: shorten collapse duration
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: round compass profile menu
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: none

feat(compass): add smooth animation opt-in (#7994)
  src/patternfly/components/Compass/compass.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  fa/69c4da791272331bdcf0c87ef077d37944b155
Due: none

fix: fixes broken links
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/InputGroup/examples/InputGroup.md
  src/patternfly/utilities/Text/examples/Text.md
Due: none

fix(expandable-section): fix nested bug
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/ExpandableSection/expandable-section.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: fixes broken links (#8008)
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/InputGroup/examples/InputGroup.md
  src/patternfly/utilities/Text/examples/Text.md
Due: none

Notes added by 'git notes add'
  f1/302fc66a4e8880ee77e34189f8bbd003fa29b8
Due: none

chore: fix broken links
  patternfly-docs/site/pages/index.js
  src/patternfly/utilities/Text/examples/Text.md
Due: eslint --fix

chore: guidelines link text update
  patternfly-docs/site/pages/index.js
Due: eslint --fix

docs(compass): content review and edits
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/examples/Compass.md
Due: none

chore: fix broken links (#8012)
  patternfly-docs/site/pages/index.js
  src/patternfly/utilities/Text/examples/Text.md
Due: eslint --fix

fix(expandable-section): fix nested bug (#8009)
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/ExpandableSection/expandable-section.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  41/4dad4bced8093ff74d12e10ae4a3332142b0d5
Due: none

feat(toolbar): simplification
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat: add docked nav
  src/patternfly/components/Compass/compass.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Masthead/masthead-image.hbs
  src/patternfly/components/Masthead/masthead.hbs
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/nav.hbs
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Page/page.hbs
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Toolbar/toolbar.hbs
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Compass/examples/Compass.md
  src/patternfly/demos/Masthead/masthead-template-content-toolbar-content.hbs
  src/patternfly/demos/Masthead/masthead-template-content.hbs
  src/patternfly/demos/Masthead/masthead-template.hbs
  src/patternfly/demos/Nav/examples/Nav.md
  src/patternfly/demos/Page/page-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore: mc example, fix example styles
  src/patternfly/components/Compass/examples/Compass.css
  src/patternfly/components/Compass/examples/Compass.md
Due: none

feat: include react-icons svgs
  gulpfile.mjs
  package.json
  scripts/gulp/copy.mjs
  scripts/helpers.mjs
  src/patternfly/components/Icon/pf-icon.hbs
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/compass--header.hbs
  src/patternfly/demos/Compass/compass--sidebar-end.hbs
  src/patternfly/demos/Compass/compass--sidebar-start.hbs
  src/patternfly/demos/Compass/examples/Compass.md
  yarn.lock
Due: none

chore: add text under docked nav links
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Masthead/masthead-template-content-toolbar-content.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore: update bottom text, accent animation
  src/patternfly/components/Nav/nav.scss
  src/patternfly/demos/Masthead/masthead-template-content-toolbar-content.hbs
Due: stylelint --fix --config=.stylelintrc_logical

fix(drawer): adjust pill for rtl and widths (#7981)
  src/patternfly/components/Drawer/drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  e5/8ce12289cc78c3a9b904c9bdb92ebc7e1fd4dd
Due: none

chore: updates
  src/patternfly/components/Compass/compass-dock-content.hbs
  src/patternfly/components/Compass/compass-dock-logo.hbs
  src/patternfly/components/Compass/compass-dock-main.hbs
  src/patternfly/components/Compass/compass-dock-tools.hbs
  src/patternfly/components/Compass/compass-dock.hbs
  src/patternfly/components/Compass/compass-panel.hbs
  src/patternfly/components/Compass/compass.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Compass/examples/Compass.css
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

Apply suggestions from code review
  src/patternfly/components/Compass/examples/Compass.md
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
