Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

feat(toolbar): disable stylelint temporarily
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(gitignore): Ignore claude config files
  .gitignore
Due: none

feat(toolbar): simplification
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(toolbar): add container query option
  src/patternfly/components/Toolbar/examples/Toolbar.css
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(toolbar): add breakpoint modifiers
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(toolbar): turn off media query for pf-m-container
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(toolbar): fix after rebase
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(toolbar): use where in selectors
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(toolbar): fixes formatting nits and adds beta tag
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(treeview): adjust examples to show disabled items and toggles
  src/patternfly/components/TreeView/examples/TreeView.md
Due: none

docs(compass): minor formatting edits
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/examples/Compass.md
Due: none

chore(backstop): remove unnecessary default options
  backstop.js
Due: eslint --fix

chore(backstop): update backstop config for more reliable testing
  backstop.js
Due: eslint --fix

chore: do pixel-by-pixel diff for all image sizes
  backstop.js
Due: eslint --fix

chore: yarn install yarn.lock
  yarn.lock
Due: none

chore: stylelint fixes
  src/patternfly/components/CodeEditor/code-editor.scss
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/ExpandableSection/expandable-section.scss
  src/patternfly/components/Form/form.scss
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/Label/label-group.scss
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Sidebar/sidebar.scss
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: fix import
  scripts/gulp/snippets.mjs
Due: none

chore(backstop): tweak parameters to reduce false positives, switch to playwright (#8041)
  backstop.js
  backstop_data/bitmaps_reference/pf-core__components_input-group_html_variations_0_document_1_tablet.png
  backstop_data/engine_scripts/playwright/addDarkThemeClass.js
  backstop_data/engine_scripts/playwright/interceptImages.js
  backstop_data/engine_scripts/playwright/loadCookies.js
  backstop_data/engine_scripts/playwright/onBefore.js
  backstop_data/engine_scripts/playwright/onReady.js
  backstop_data/engine_scripts/playwright/overrideCSS.js
  backstop_data/engine_scripts/puppet/onReady.js
  diff-images.js
  package.json
  scripts/gulp/snippets.mjs
  src/patternfly/components/CodeEditor/code-editor.scss
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/ExpandableSection/expandable-section.scss
  src/patternfly/components/Form/form.scss
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/Label/label-group.scss
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Sidebar/sidebar.scss
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/sass-utilities/mixins.scss
  yarn.lock
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore: fix overflow for sticky examples
  src/patternfly/components/Table/examples/Table.css
Due: none

feat(table): add support for tfoot
  src/patternfly/components/Table/examples/Table.css
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-tfoot.hbs
  src/patternfly/components/Table/table.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/demos/Table/examples/Table.md
Due: stylelint --fix --config=.stylelintrc_logical

chore: updates to support dart sass 3.0.0
  scripts/gulp/sass.mjs
  src/patternfly/assets/fontawesome/_variables.scss
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/components/DescriptionList/description-list-order.scss
  src/patternfly/components/DescriptionList/description-list.scss
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/JumpLinks/jump-links.scss
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/ProgressStepper/progress-stepper.scss
  src/patternfly/components/Sidebar/sidebar.scss
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/layouts/Flex/flex.scss
  src/patternfly/sass-utilities/functions.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: add random backstop image that was removed
  backstop_data/bitmaps_reference/pf-core__components_input-group_html_variations_0_document_1_tablet.png
Due: none

chore: updates to support dart sass 3.0.0 (#8048)
  backstop_data/bitmaps_reference/pf-core__components_input-group_html_variations_0_document_1_tablet.png
  scripts/gulp/sass.mjs
  src/patternfly/assets/fontawesome/_variables.scss
  src/patternfly/base/tokens/tokens-local.scss
  src/patternfly/components/DescriptionList/description-list-order.scss
  src/patternfly/components/DescriptionList/description-list.scss
  src/patternfly/components/Drawer/drawer.scss
  src/patternfly/components/JumpLinks/jump-links.scss
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Page/page.scss
  src/patternfly/components/Pagination/pagination.scss
  src/patternfly/components/ProgressStepper/progress-stepper.scss
  src/patternfly/components/Sidebar/sidebar.scss
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/layouts/Flex/flex.scss
  src/patternfly/sass-utilities/functions.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(responsive): fix my lint error
  src/patternfly/base/patternfly-common.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(responsive): add a root container and use it for table responsive behavior
  src/patternfly/base/patternfly-common.scss
  src/patternfly/components/Table/table-grid.scss
Due: stylelint --fix --config=.stylelintrc_logical

docs(compass): corrections based on feedback
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/examples/Compass.md
Due: none

Apply suggestion from @mcoker
  src/patternfly/components/TreeView/tree-view-node-toggle.hbs
Due: none

feat(treeview): allow a list item to look disabled (#8030)
  src/patternfly/components/TreeView/examples/TreeView.md
  src/patternfly/components/TreeView/tree-view--base.hbs
  src/patternfly/components/TreeView/tree-view-node-toggle.hbs
  src/patternfly/components/TreeView/tree-view-node.hbs
  src/patternfly/components/TreeView/tree-view.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  0b/57121ab8e18b1c3643a22c8db6149d09be8887
Due: none

Update src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/components/Compass/examples/Compass.md
Due: none

docs(compass): content review and edits (#8013)
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/examples/Compass.md
Due: none

feat(themes): adds tokens for glass and redhat themes
  src/patternfly/base/patternfly-variables.scss
  src/patternfly/base/tokens/tokens-dark.scss
  src/patternfly/base/tokens/tokens-default.scss
  src/patternfly/base/tokens/tokens-glass-dark.scss
  src/patternfly/base/tokens/tokens-glass.scss
  src/patternfly/base/tokens/tokens-redhat-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass-dark.scss
  src/patternfly/base/tokens/tokens-redhat-glass.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast-dark.scss
  src/patternfly/base/tokens/tokens-redhat-highcontrast.scss
  src/patternfly/base/tokens/tokens-redhat.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(themes): adds glass dark include
  src/patternfly/base/patternfly-variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(themes): remove very extraneous space
  src/patternfly/base/patternfly-variables.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(backstop): add custom description and reset params
  backstop.js
Due: eslint --fix
