Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

Separated main-header from panel
  src/patternfly/components/Compass/compass-main-header.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

Removed flex properties
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: Updated to move compass into generative ui section.
  src/patternfly/components/Compass/examples/Compass.md
Due: none

fix: Updated with review comments.
  patternfly-docs/patternfly-docs.config.js
  src/patternfly/demos/Compass/examples/Compass.md
Due: eslint --fix

Updated markup, styling, docs with new wrapper
  src/patternfly/components/Compass/compass-main-header-content.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

Updated css var names to new wrapper name
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(Compass): replaced flex layout in CompassMainHeader (#7984)
  src/patternfly/components/Compass/compass-main-header-content.hbs
  src/patternfly/components/Compass/compass-main-header-title.hbs
  src/patternfly/components/Compass/compass-main-header-toolbar.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  7e/a472ea32332bfde78faf8a976bc0b28982cb74
Due: none

fix: updated linter.
  patternfly-docs/patternfly-docs.config.js
Due: eslint --fix

fix: Updated to move compass into generative ui section. (#7986)
  patternfly-docs/patternfly-docs.config.js
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/examples/Compass.md
Due: eslint --fix

Notes added by 'git notes add'
  7b/6a713df1b403106cbd8c95a80a264959c8f094
Due: none

fix(compass): restructure navigation to include home and search
  src/patternfly/components/Compass/compass--icons.hbs
  src/patternfly/components/Compass/compass-nav-content.hbs
  src/patternfly/components/Compass/compass-nav-home.hbs
  src/patternfly/components/Compass/compass-nav-main.hbs
  src/patternfly/components/Compass/compass-nav-search.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(compass): add icons adjust padding fix demos
  src/patternfly/components/Compass/compass--icons.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

fix(compass): restructure navigation to include home and search (#7985)
  src/patternfly/components/Compass/compass--icons.hbs
  src/patternfly/components/Compass/compass-nav-content.hbs
  src/patternfly/components/Compass/compass-nav-home.hbs
  src/patternfly/components/Compass/compass-nav-main.hbs
  src/patternfly/components/Compass/compass-nav-search.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  59/663e5e81efe856f95b829a50eeed262f3d8cad
Due: none

fix(compass): add main-footer
  src/patternfly/components/Compass/compass-main-footer.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

chore: lint
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(compass): add main-footer (#7988)
  src/patternfly/components/Compass/compass-main-footer.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Compass/examples/Compass.md
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  62/1aefffcfdbbc5dd7433a00332f71058ef696b7
Due: none

Updated demos
  src/patternfly/demos/PrimaryDetail/primary-detail-template-panel-tabs.hbs
  src/patternfly/demos/Tabs/examples/Tabs.md
  src/patternfly/demos/Tabs/tabs--page-grid-view.hbs
  src/patternfly/demos/Tabs/tabs-template-pod-tab-list.hbs
Due: none

fix(Tabs): updated ariaselected and label attributes
  src/patternfly/components/Tabs/__tabs-list.hbs
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/components/Tabs/tabs-link.hbs
  src/patternfly/components/Tabs/tabs-list.hbs
Due: none

fix(Tabs): updated arialabel and selected attributes
  src/patternfly/components/Tabs/__tabs-all.hbs
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/components/Tabs/tabs.hbs
Due: none

Updated templates and remaining examples
  src/patternfly/components/Tabs/__tabs-all.hbs
  src/patternfly/components/Tabs/__tabs-list.hbs
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/components/Tabs/tabs-list.hbs
  src/patternfly/components/Tabs/tabs.hbs
Due: none

Updated remaining demos
  src/patternfly/demos/Card/examples/Card.md
  src/patternfly/demos/Page/page-template-drawer-panel.hbs
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
Due: none

Updated remaining tabs aria attrs
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
Due: none

chore(Tabs): updated ariaselected and label attributes (#7975)
  src/patternfly/components/Tabs/__tabs-all.hbs
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/components/Tabs/tabs-link.hbs
  src/patternfly/components/Tabs/tabs-list.hbs
  src/patternfly/components/Tabs/tabs.hbs
  src/patternfly/demos/Card/examples/Card.md
  src/patternfly/demos/Compass/compass--card-view.hbs
  src/patternfly/demos/Compass/examples/Compass.md
  src/patternfly/demos/Page/page-template-drawer-panel.hbs
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/demos/PrimaryDetail/primary-detail-template-panel-tabs.hbs
  src/patternfly/demos/Tabs/examples/Tabs.md
  src/patternfly/demos/Tabs/tabs--page-grid-view.hbs
  src/patternfly/demos/Tabs/tabs-template-pod-tab-list.hbs
Due: none

chore: update docs
  src/patternfly/components/Compass/examples/Compass.css
  src/patternfly/components/Compass/examples/Compass.md
Due: none

chore: update overflow so collapsed footer doesnt cause scrollbar
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(compass): add support for expanded
  src/patternfly/components/Compass/compass-footer.hbs
  src/patternfly/components/Compass/compass-header.hbs
  src/patternfly/components/Compass/compass-sidebar.hbs
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: add inert
  src/patternfly/components/Compass/compass-footer.hbs
  src/patternfly/components/Compass/compass-header.hbs
  src/patternfly/components/Compass/compass-sidebar.hbs
Due: none

chore: fix rtl
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: update component grid spacing per design review
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: make main-footer expand
  src/patternfly/components/Compass/compass-main-footer.hbs
  src/patternfly/components/Compass/compass.scss
  src/patternfly/components/Compass/examples/Compass.md
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  5b/6ba6b96cfd80b9799234f6a4e6f510ca52be6f
Due: none

feat(compass): add smooth animation opt-in
  src/patternfly/components/Compass/compass.hbs
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(drawer): adjust pill for rtl and widths
  src/patternfly/components/Drawer/drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(drawer): fix calc, remove gap for width100
  src/patternfly/components/Drawer/drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: rename class
  src/patternfly/components/Compass/compass.hbs
  src/patternfly/components/Compass/compass.scss
Due: stylelint --fix --config=.stylelintrc_logical
