Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

chore(backstop): re-generate list of test urls
  backstop.config.js
Due: eslint --fix

chore(table): update wildcard selector to th/td (#6379)
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-tree-view.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): updated buttons
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): updated sort button
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): updated table help button
  src/patternfly/components/Table/table-column-help-action.hbs
Due: none

fix(menu-toggle): dropped toggle from toggle-toggle
  src/patternfly/components/MenuToggle/menu-toggle.hbs
Due: none

fix(modal): remove erroneous v5 variable in close button
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): updated height to min-height
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(modal): remove erroneous v5 variable in close button (#6382)
  src/patternfly/components/ModalBox/modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): buttons (#6374)
  src/patternfly/components/Table/table-column-help-action.hbs
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): added back font icon
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): remove shadows
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): rebased v6
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): removed extra return
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): remove shadows (#6375)
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(menu-toggle): dropped toggle from toggle-toggle (#6361)
  src/patternfly/components/MenuToggle/menu-toggle-icon.hbs
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): updated borders
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/templates/table--scrollable--tbody--tr.hbs
  src/patternfly/components/Table/templates/table--scrollable--thead--tr.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(screenshots): update visual regression screenshots
  backstop_data/bitmaps_reference/pf-core__components_accordion_html_toggle-icon-at-start_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_accordion_html_toggle-icon-at-start_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_accordion_html_toggle-icon-at-start_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_button_html_small-buttons_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_button_html_small-buttons_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_button_html_small-buttons_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_modal_html_danger-alert-with-modifier-on-modal-title_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_modal_html_danger-alert-with-modifier-on-modal-title_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_modal_html_danger-alert-with-modifier-on-modal-title_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html_nav-link-text_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html_nav-link-text_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html_nav-link-text_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tabs_html_help-button-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-menu-toggle-filter-on-desktop_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-menu-toggle-filter-on-desktop_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-menu-toggle-filter-on-desktop_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-menu-toggle-filter-on-mobile_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-menu-toggle-filter-on-mobile_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-menu-toggle-filter-on-mobile_0_document_2_desktop.png
Due: none

chore(nav): update
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(page): rebase docs cleanup
  src/patternfly/components/Page/examples/Page.md
Due: none

chore(page): updaet
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(nav): updates to horizontal subnav
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav-scroll-button.hbs
  src/patternfly/components/Nav/nav.hbs
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Nav/examples/Nav.md
  src/patternfly/demos/Page/page-template-horizontal-subnav.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(page): rebase docs cleanup part two
  src/patternfly/components/Page/examples/Page.md
Due: none

chore(nav): updates
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(nav/masthead/toolbar): update
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/demos/Masthead/masthead-template-content-toolbar-content.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(page): update docs for main-nav/subnav
  src/patternfly/components/Page/examples/Page.md
Due: none

chore(nav): updates
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(masthead/nav): updates
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/demos/Masthead/masthead-template-content-toolbar-content.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(screenshots): update visual regression screenshots (#6385)
  backstop_data/bitmaps_reference/pf-core__components_accordion_html_toggle-icon-at-start_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_accordion_html_toggle-icon-at-start_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_accordion_html_toggle-icon-at-start_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_button_html_small-buttons_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_button_html_small-buttons_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_button_html_small-buttons_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_modal_html_danger-alert-with-modifier-on-modal-title_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_modal_html_danger-alert-with-modifier-on-modal-title_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_modal_html_danger-alert-with-modifier-on-modal-title_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html_nav-link-text_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html_nav-link-text_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_navigation_html_nav-link-text_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_tabs_html_help-button-example_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-menu-toggle-filter-on-desktop_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-menu-toggle-filter-on-desktop_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-menu-toggle-filter-on-desktop_0_document_2_desktop.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-menu-toggle-filter-on-mobile_0_document_0_mobile.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-menu-toggle-filter-on-mobile_0_document_1_tablet.png
  backstop_data/bitmaps_reference/pf-core__components_toolbar_html-demos_toolbar-attribute-value-checkbox-menu-toggle-filter-on-mobile_0_document_2_desktop.png
Due: none

fix(card): fix clickable label position
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(table): updated borders (#6384)
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/templates/table--scrollable--tbody--tr.hbs
  src/patternfly/components/Table/templates/table--scrollable--thead--tr.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(nav): updates
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Nav/nav.scss
  src/patternfly/demos/Page/page-template-horizontal-subnav.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(masthead): fix masthead--toolbar var names
  src/patternfly/components/Masthead/masthead.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(templates): add version to issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update bug issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/devX_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/tech_debt_request.md
Due: none

Update issue template with version (#6393)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

chore(text-input-group): review fixes
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix --config=.stylelintrc_logical

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix --config=.stylelintrc_logical: any of: *.scss
