Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

feat(toolbar): use where in selectors
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  f5/d9a2051f5c58a527403846ff0483200b037ecb
Due: none

remove menu-toggle pill modifier, adjust plain for new pill shape
  src/patternfly/components/Breadcrumb/examples/Breadcrumb.md
  src/patternfly/components/MenuToggle/menu-toggle.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

change font size to global default
  src/patternfly/components/Breadcrumb/breadcrumb.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(toolbar): use container queries with component and root level containers
  src/patternfly/base/patternfly-common.scss
  src/patternfly/components/Toolbar/examples/Toolbar.css
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

update striped row bg token, update header button boarder radius
  src/patternfly/components/Table/table.scss
Due: stylelint --fix --config=.stylelintrc_logical

add read-only logic to basic example
  src/patternfly/components/ClipboardCopy/examples/ClipboardCopy.md
Due: none

Notes added by 'git notes add'
  45/96bf88e1bbd7cf1d0ea898346c17b3f4e9c5cc
Due: none

update table icons with branded versions
  src/patternfly/components/Table/table-column-help-action.hbs
  src/patternfly/components/Table/table-details-toggle-icon.hbs
  src/patternfly/components/Table/table-sort-indicator.hbs
Due: none

rever menu-toggle token changes, add plain-hover token to boarder radius
  src/patternfly/components/MenuToggle/menu-toggle.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(page): clean up glass/sidebar-main vars
  src/patternfly/components/Page/page.scss
  src/patternfly/patternfly.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: fix sidebar-main margin
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore: update backstop to support addl themes
  backstop.js
  backstop_data/engine_scripts/playwright/addGlassThemeClass.js
  backstop_data/engine_scripts/playwright/applyThemeClasses.js
  backstop_data/engine_scripts/playwright/onReady.js
  package.json
Due: eslint --fix

chore: s/unified/felt
  backstop.js
  backstop_data/engine_scripts/playwright/applyThemeClasses.js
  backstop_data/engine_scripts/playwright/onReady.js
  package.json
Due: eslint --fix

chore: remove unused scripts
  backstop_data/engine_scripts/playwright/addDarkThemeClass.js
  backstop_data/engine_scripts/playwright/addGlassThemeClass.js
Due: eslint --fix

chore: update backstop to set themes via localstorage
  backstop_data/engine_scripts/playwright/applyThemeClasses.js
  backstop_data/engine_scripts/playwright/onBefore.js
  backstop_data/engine_scripts/playwright/onReady.js
Due: eslint --fix

chore: add updated screenshots
  backstop_data/bitmaps_reference_glass/pf-core__components_clipboard-copy_html_inline-compact-with-additional-action_0_document_1_tablet.png
  backstop_data/bitmaps_reference_glass/pf-core__components_description-list_html_term-help-text_0_document_2_desktop.png
  backstop_data/bitmaps_reference_glass/pf-core__components_label_html_vertical-label-group-with-removable-category_0_document_1_tablet.png
  backstop_data/bitmaps_reference_glass/pf-core__components_navigation_html-demos_horizontal-nav-with-horizontal-subnav_0_document_0_mobile.png
  backstop_data/bitmaps_reference_glass/pf-core__components_navigation_html-demos_horizontal-subnav_0_document_0_mobile.png
  backstop_data/bitmaps_reference_glass/pf-core__components_navigation_html_grouped-nav_0_document_0_mobile.png
  backstop_data/bitmaps_reference_glass/pf-core__components_navigation_html_horizontal-subnav_0_document_1_tablet.png
  backstop_data/bitmaps_reference_glass/pf-core__components_navigation_html_horizontal-subnav_0_document_2_desktop.png
  backstop_data/bitmaps_reference_glass/pf-core__components_navigation_html_nav-item-icons_0_document_1_tablet.png
  backstop_data/bitmaps_reference_glass/pf-core__components_navigation_html_nav-item-icons_0_document_2_desktop.png
  backstop_data/bitmaps_reference_glass/pf-core__components_tooltip_html_top_0_document_1_tablet.png
  backstop_data/bitmaps_reference_glass/pf-core__components_tooltip_html_top_0_document_2_desktop.png
Due: none

fix(check, radio): inherit standalone overlay cursor
  src/patternfly/components/Check/check.scss
  src/patternfly/components/Radio/radio.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(icon): add rh-standard icon styling
  src/patternfly/base/patternfly-svg-icons.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(): update to rem and correct token
  src/patternfly/base/patternfly-svg-icons.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  10/c07d5633f7997b5863c9f9260b1080a76471c1
Due: none

chore(Button): updated times icon to RH micron close
  src/patternfly/components/Button/button--variations.hbs
Due: none

update secondary background, pill drawer boarder, pill box-shadow
  src/patternfly/components/Drawer/drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

switch masthead bottom margin to sidebar and main container in page component
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix(docked-nav): add arrow hamburgers, adjust box shadow
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(gulp): remove dev server rimraf
  gulpfile.mjs
Due: none

feat(Toolbar,OverflowMenu): add support for responsive height
  src/patternfly/components/OverflowMenu/examples/overflow-menu.css
  src/patternfly/components/OverflowMenu/examples/overflow-menu.md
  src/patternfly/components/OverflowMenu/overflow-menu.scss
  src/patternfly/components/Toolbar/examples/Toolbar.md
  src/patternfly/components/Toolbar/toolbar.scss
  src/patternfly/sass-utilities/mixins.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Toolbar): enable height breakpoint for content
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix --config=.stylelintrc_logical

update heading font-size to made font-size change
  src/patternfly/components/Breadcrumb/breadcrumb.scss
Due: stylelint --fix --config=.stylelintrc_logical

Notes added by 'git notes add'
  55/5f85b1ae805bcfd0bc35dd6ebb5e02f32bbd97
Due: none

fix(docs): update and move hidden/visible line
  src/patternfly/components/Toolbar/examples/Toolbar.md
Due: none

feat(card): update clickable/selectable plain card border styles
  src/patternfly/components/Card/card.scss
Due: stylelint --fix --config=.stylelintrc_logical

Remove expanded dock nav border on desktop
  src/patternfly/components/Page/page.scss
Due: stylelint --fix --config=.stylelintrc_logical

docs(OverflowMenu): update docs for vertical modifier
  src/patternfly/components/OverflowMenu/examples/overflow-menu.md
Due: none

Notes added by 'git notes add'
  88/f8b35914a9e196cacc80022dc41b5e4a30d5d0
Due: none

fix(docs): makes vertical description more purpose driven
  src/patternfly/components/OverflowMenu/examples/overflow-menu.md
Due: none
