Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --config=.stylelintrc_logical

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix --config=.stylelintrc_logical"
  ]
}

feat(InlineEdit): applied tokens
  src/patternfly/components/InlineEdit/inline-edit.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(BackToTop): refactor with tokens (#6085)
  src/patternfly/components/BackToTop/back-to-top.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: try ignoring the breaking change commit
  release.config.js
Due: eslint --fix

fix(banner): add missing custom modifier (#6141)
  src/patternfly/components/Banner/banner.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: linting again
  release.config.js
Due: eslint --fix

feat(Popover): applied tokens (#6065)
  src/patternfly/components/Popover/examples/Popover.md
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Popover/themes/dark/popover.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Tooltip): applied tokens (#6064)
  src/patternfly/components/Tooltip/themes/dark/tooltip.scss
  src/patternfly/components/Tooltip/tooltip.scss
Due: stylelint --fix --config=.stylelintrc_logical

fix: linting error
  release.config.js
Due: eslint --fix

feat(breaker): bump this version to 6.0 (#5800)
  release.config.js
Due: eslint --fix

fix: white space change to kick off dry run
  CODE_OF_CONDUCT.md
Due: none

chore(divider): @mcoker updates
  src/patternfly/components/Divider/divider.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(inlineEdit): apply tokens
  src/patternfly/components/InlineEdit/inline-edit.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(NotificationDrawer): extra variables and focus background
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(divider): added tokens, fixed breaking change comments (#6142)
  src/patternfly/components/Divider/divider.scss
  src/patternfly/components/Divider/examples/Divider.css
  src/patternfly/components/Divider/examples/Divider.md
Due: stylelint --fix --config=.stylelintrc_logical

chore(nav): added tokens, updated style
  scripts/helpers.mjs
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav-item.hbs
  src/patternfly/components/Nav/nav-link-text.hbs
  src/patternfly/components/Nav/nav-link.hbs
  src/patternfly/components/Nav/nav-section-title.hbs
  src/patternfly/components/Nav/nav-section.hbs
  src/patternfly/components/Nav/nav-subnav-title.hbs
  src/patternfly/components/Nav/nav-subnav.hbs
  src/patternfly/components/Nav/nav.hbs
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Nav/templates/nav--flyout.hbs
  src/patternfly/demos/Nav/examples/Nav.md
  src/patternfly/demos/Page/page-demo-expandable-nav.hbs
  src/patternfly/demos/Page/page-template-expandable-nav.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(nav-tokens): @lboehling updates
  scripts/helpers.mjs
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav-item.hbs
  src/patternfly/components/Nav/nav-link.hbs
  src/patternfly/components/Nav/nav-scroll-button.hbs
  src/patternfly/components/Nav/nav-section-title.hbs
  src/patternfly/components/Nav/nav-subnav.hbs
  src/patternfly/components/Nav/nav.hbs
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Nav/templates/nav--flyout.hbs
  src/patternfly/components/Page/deprecated/PageHeader.md
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page-main-subnav.hbs
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/DataList/data-list-page-nav.hbs
  src/patternfly/demos/Masthead/masthead-template-content-toolbar-content.hbs
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/demos/Page/page-demo-expandable-nav.hbs
  src/patternfly/demos/Page/page-template-expandable-nav.hbs
  src/patternfly/demos/Page/page-template-horizontal-subnav.hbs
Due: stylelint --fix --config=.stylelintrc_logical

chore(nav): added tokens, refactored to new design spec
  src/patternfly/components/Nav/nav.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(nav): refined implementation
  CODE_OF_CONDUCT.md
  release.config.js
  src/patternfly/components/Button/button.scss
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Nav/examples/Navigation.md
  src/patternfly/components/Nav/nav-item.hbs
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/Page/deprecated/PageHeader.md
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page-main-subnav.hbs
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
Due: eslint --fix, stylelint --fix --config=.stylelintrc_logical

feat(Progress): consumed Penta tokens
  src/patternfly/components/Progress/progress.scss
  src/patternfly/components/Progress/themes/dark/progress.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(divider): added tokens, fixed breaking change comments (#6142)
  src/patternfly/components/Divider/divider.scss
  src/patternfly/components/Divider/examples/Divider.css
  src/patternfly/components/Divider/examples/Divider.md
  src/patternfly/components/Masthead/examples/masthead.md
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/demos/DataList/examples/DataList.md
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
  src/patternfly/demos/Masthead/masthead-template-content-toolbar-content.hbs
  src/patternfly/demos/Toolbar/toolbar-template-content.hbs
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Divider/divider.scss
  src/patternfly/components/Divider/examples/Divider.css
  src/patternfly/components/Divider/examples/Divider.md
Due: stylelint --fix --config=.stylelintrc_logical

feat(NotificationDrawer): adjusted body top padding
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
Due: stylelint --fix --config=.stylelintrc_logical

chore(masthead): updated logo, demos
  src/patternfly/components/Masthead/masthead-logo.hbs
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
  src/patternfly/demos/Masthead/masthead-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

update
  src/patternfly/components/Masthead/masthead-logo.hbs
Due: none

chore(masthead): updated masthead logo
  src/patternfly/components/Masthead/masthead-logo.hbs
Due: none

Update src/patternfly/components/Masthead/masthead-logo.hbs
  src/patternfly/components/Masthead/masthead-logo.hbs
Due: none

fix(masthead): added tokens, new design spec (#6152)
  src/patternfly/components/Masthead/examples/masthead.md
  src/patternfly/components/Masthead/masthead-logo.hbs
  src/patternfly/components/Masthead/masthead.scss
  src/patternfly/demos/DataList/examples/DataList.md
  src/patternfly/demos/Masthead/masthead-template-content-icon-group.hbs
  src/patternfly/demos/Masthead/masthead-template-content-toolbar-content.hbs
  src/patternfly/demos/Masthead/masthead-template.hbs
  src/patternfly/demos/Toolbar/toolbar-template-content.hbs
  src/patternfly/demos/Toolbar/toolbar-template.hbs
Due: stylelint --fix --config=.stylelintrc_logical

feat(Spinner): consumed Penta tokens
  src/patternfly/components/Spinner/spinner.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Switch): consumed Penta tokens
  src/patternfly/components/Switch/switch.scss
  src/patternfly/components/Switch/themes/dark/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

Fixed switch slider alignment
  src/patternfly/components/Switch/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

Fixed lint error
  src/patternfly/components/Switch/switch.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(background-image): apply tokens
  src/patternfly/assets/images/pf-background.svg
  src/patternfly/components/BackgroundImage/background-image.hbs
  src/patternfly/components/BackgroundImage/background-image.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(Skeleton): consuemd Penta tokens
  src/patternfly/components/Skeleton/skeleton.scss
  src/patternfly/components/Skeleton/themes/dark/skeleton.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(background-image): put new image into about modal
  src/patternfly/components/AboutModalBox/about-modal-box.hbs
  src/patternfly/components/AboutModalBox/about-modal-box.scss
Due: stylelint --fix --config=.stylelintrc_logical

feat(background-image): apply tokens (#6155)
  src/patternfly/assets/images/pf-background.svg
  src/patternfly/components/AboutModalBox/about-modal-box.hbs
  src/patternfly/components/AboutModalBox/about-modal-box.scss
  src/patternfly/components/BackgroundImage/background-image.hbs
  src/patternfly/components/BackgroundImage/background-image.scss
Due: stylelint --fix --config=.stylelintrc_logical

Updated animation duration and gradient token
  src/patternfly/components/Skeleton/skeleton.scss
Due: stylelint --fix --config=.stylelintrc_logical
